
<div  class="home-header" id="top">
	<div class="home-header-box">
		<div class="home-logo">
			<a href="#/home">
				<img src="./app/assets/images/logo.png" />
			</a>
		</div>
		<ul class="home-nav">
			<li class="home-nav-li">
				<a class="active home" href="#/home">
					首页
				</a>
			</li>
			<li class="home-nav-li">
				<a class="course" href="#/course/b/1">
					课程中心
				</a>
			</li>

			{{if user.resultObject != ''}}
				{{if user.resultObject.indenty_status == 2}}
				<li class="home-nav-li">
					<a class="teaching" href="#/teaching/myclass/Reading_class">
						教学中心 <img src="./app/assets/images/4564.png" class="jiao" alt="">
					</a>
					<div class="home-li-nav2">
						<ul class="home-li-nav2box">
							<!--<li class="home-nav2-li">-->
								<!--<a href="#/teaching/home">-->
									<!--我的课程-->
								<!--</a>-->
							<!--</li>-->
							<li class="home-nav2-li">
								<a href="#/teaching/myclass/Reading_class">
									我的班级
								</a>
							</li>
							<li class="home-nav2-li">
								<a href="#/teaching/testcentres/organizepaper">
									考试管理
								</a>
							</li>
							<li class="home-nav2-li">
								<a href="#/teaching/taskmanage/organizetask">
									练习管理
								</a>
							</li>
							<li class="home-nav2-li">
								<a href="#/teaching/review/reviewhome">
									预习/复习
								</a>
							</li>
						</ul>
					</div>
				</li>
				{{/if}}
			{{/if}}
			<li class="home-nav-li">
				<a class="teacrise" href="#/teaimprove/1">
					教学提升
					<!--<img src="./app/assets/images/4564.png" class="jiao" alt="">-->
				</a>
				<!--<div class="home-li-nav2">-->
					<!--<ul class="home-li-nav2box">-->
						<!--<li class="home-nav2-li">-->
							<!--<a target="_blank" href="http://dvd.boxuegu.com/">-->
								<!--公开课-->
							<!--</a>-->
						<!--</li>-->
						<!--<li class="home-nav2-li">-->
							<!--<a href="#/resources/1">-->
								<!--领取资料-->
							<!--</a>-->
						<!--</li>-->
						<!--<li class="home-nav2-li">-->
							<!--<a href="#/teachtraining">-->
								<!--师资培训-->
							<!--</a>-->
						<!--</li>-->
					<!--</ul>-->
				<!--</div>-->
			</li>
			<li class="home-nav-li">
				<a class="teacask" target="_blank" href="http://boxuegu.com/web/html/ansAndQus.html">
					问答精灵
				</a>
			</li>
			<li class="home-nav-li">
				<a class="tangbohu" target="_blank" href="#/tangbohu">
					堂播虎
				</a>
			</li>
		</ul>
		<div class="home-user" id="header-user"></div>
	</div>
</div>
<div class="home-flex">
	<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=2011168841&site=qq&menu=yes" class="home-hi-top">在线咨询</a>
	<a  href="javascript:void(0);" class="home-top" id="home-top"></a>
</div>
<div id="content"></div>
<div id="footer" class="home-footer">
	<div class="home-footer-box">
		<div class="home-footer-top">
			<span>北京传智播客教育科技有限公司  地址：北京市昌平区回龙观镇黄土南店村南金燕龙科贸集团办公楼二层   邮编：100096   电话：010-82935150/60/70</span>
		</div>
		<div class="home-footer-bottom">
			<span>Copyright @ 2016 博学谷 All Rights Reserved 京ICP备08001421号 京公网安备110108007702</span>
		</div>
	</div>
</div>