{{if waitCourse.success}}
{{if waitData != ''}}
{{each waitData}}
<div class="Cooperamode_div">
    <a href="#/course/del/b/{{$value.course_id}}" target="_blank" data-id="{{$value.course_id}}">
        <img src="{{$value.photo}}" alt="photo" onerror="this.src='./app/assets/images/error-pic.png'">
        <p class="Cooperamode_div_p1" title="{{$value.name}}">{{$value.name}}</p>
        <p class="Cooperamode_div_p2">正在审核中...</p>
    </a>
</div>
{{/each}}
{{else}}
<div class="Temporarily_no_data">
    <img src="./app/assets/images/image1.png" alt="">
    <p>暂无课程</p>
</div>
{{/if}}
{{else}}
<div class="error">{{item.errorMessage}}</div>
{{/if}}
