
<div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
    <ul class="layui-tab-title">
        <li class="layui-this">正在审核的课程</li>
        <li>合作成功的课程</li>
    </ul>
    <div class="layui-tab-content">
        <div class="cooperamode1">



            <div class="Cooperamode" id="pageHtml1">
            </div>
            <div>
                <div id="page1"></div>
            </div>



        </div>
        <div class="cooperamode2">



            <div class="Cooperamode" id="pageHtml2"></div>
            <div>
                <div id="page2"></div>
            </div>


        </div>
    </div>
</div>