<div class="teaimprove-lists-bg">

	<!--Banner-->
	<div class="teaimprove-banner-bg">
		<div class="banner-box">
			<div class="banner-pic">
				<div class="banner">
					<img src="./app/assets/images/banner/teaimprove-banner.png">
				</div>
			</div>
		</div>
	</div>
	<!--/Banner-->

	<div id="main" class="teaimprove">

		<div class="course-top">
			<div class="course-items-box">
				<ul class="course-item" id="course-item"></ul>
			</div>
		</div>

		<div class="page-box">
			<div id="page"></div>
		</div>

	</div>
</div>
