<div class="cooperation">
    <img src="./app/assets/cooperation/banner_02.png" class="img1" alt="">
    <div class="cooperation_dv1">
        <img src="./app/assets/cooperation/beijing.png" class="img3" alt="">
        <p class="Course_displacement_mode">课程置换模式</p>
        <img src="./app/assets/cooperation/kechengzhihuanmoshi.png" class="img2" alt="">
        <div class="cooperation_dv1_dv">
            <div class="cooperation_dv1_dv_one">
                <img src="./app/assets/cooperation/jingpinziyuanbao.png" alt="">
            </div>
            <div class="cooperation_dv1_dv_two">
            <p class="cooperation_dv1_dv_two_p1">教学辅助平台</p>
            <span></span>
            <p class="cooperation_dv1_dv_two_p2">一个由创新教学系统、考试练习系统和个性化学习系统组成的自适应性教学辅助综合服务平台</p>
            <img src="./app/assets/cooperation/logo.png" alt="">
        </div>
            <div class="cooperation_dv1_dv_one">
                <img src="./app/assets/cooperation/yijianshikehuduan.png" alt="">
            </div>
            <div class="cooperation_dv1_dv_two">
                <p class="cooperation_dv1_dv_two_p1">精品资源包</p>
                <span></span>
                <p class="cooperation_dv1_dv_two_p2">一个涵盖教学设计（教案）、教学PPT、教学视频、教学大纲、教学补充案例、试题、源代码等在内的精品资源包</p>
            </div>
            <div class="cooperation_dv1_dv_one">
                <img src="./app/assets/cooperation/jiaoxuefuzhupingtai.png" alt="">
            </div>
            <div class="cooperation_dv1_dv_two">
                <p class="cooperation_dv1_dv_two_p1">一键式教学客户端</p>
                <span></span>
                <p class="cooperation_dv1_dv_two_p2">一个多媒体集成资源一键式教学实施客户端</p>
                <img src="./app/assets/cooperation/logo2.png" alt="">
            </div>
        </div>
        <a class="layui-btn cooperation_button" data-id="B" data-type="课程置换模式">我要合作</a>
    </div>
    <div class="cooperation_dv2">
        <p class="Course_displacement_mode">人才就业实训基地模式</p>
        <img src="./app/assets/cooperation/rencaijiuyeshixun.png" class="img2" alt="">
        <div class="cooperation_dv2_dv">
            <div class="cooperation_dv2_dv_one">
                <img src="./app/assets/cooperation/duanqishixun.png" alt="">
                <p class="cooperation_dv2_dv_one_p1">短期实训</p>
                <p class="cooperation_dv2_dv_one_p2">快速训练学生的实战操作技能达到快速就业的目的。

                    能够快速提升学生的编码纠错能力、项目实战能力、职场综合能力，强化学生的就业硬技能，实现高薪就业</p>
            </div>
            <div class="cooperation_dv2_dv_two">
                <img src="./app/assets/cooperation/changqishixun.png" alt="">
                <p class="cooperation_dv2_dv_two_p1">长期实训</p>
                <p class="cooperation_dv2_dv_two_p2">通过在院校建立实训基地的方式，让学生“足不出校”即

                    可享受传智播客新型教学模式的熏陶</p>
            </div>
        </div>
        <a class="layui-btn cooperation_button" data-id="C" data-type="人才就业实训基地模式">我要合作</a>
    </div>
    <div class="cooperation_dv3">
        <p class="Course_displacement_mode">一体化就业人才培养模式</p>
        <img src="./app/assets/cooperation/rencaijiuyeshixun.png" class="img2" alt="">
        <img src="./app/assets/cooperation/liucheng.png" class="img3" alt="">
        <div class="cooperation_dv3_dv">
            <div>
                <div>在培养的全过程中，进行学前诊断。根据学生的个体情况，做到因材施教。让处于不同阶段的学生，享受到个性化的教育。</div>
                <img src="./app/assets/cooperation/fenxi.png" alt="">
                <p class="cooperation_dv3_dv_two_p1">分析</p>
                <p class="cooperation_dv3_dv_two_p2">在培养的全过程中，进行学前诊断。根据学生的个体情况，做到因材施教。让处于不同阶段的学生，享受到个性化的教育。</p>
            </div>
            <p></p>
            <div>
                <div>在教学中提供教学、学习、练习、管理等方面的工作支持。提供方法、内容、平台和服务等方面提供全面性的支持和全程护航式的服务</div>
                <img src="./app/assets/cooperation/shishi.png" alt="">
                <p class="cooperation_dv3_dv_two_p1">实施</p>
                <p class="cooperation_dv3_dv_two_p2">在教学中提供教学、学习、练习、管理等方面的工作支持。提供方法、内容、平台和服务等方面提供全面性的支持和全程护航式的服务</p>
            </div>
            <p></p>
            <div>
                <div>为教师提供学生更权威的评价体系和测试方法。大大减轻教师负担，促进教学改革</div>
                <img src="./app/assets/cooperation/jianding.png" alt="">
                <p class="cooperation_dv3_dv_two_p1">鉴定</p>
                <p class="cooperation_dv3_dv_two_p2">为教师提供学生更权威的评价体系和测试方法。大大减轻教师负担，促进教学改革</p>
            </div>
            <p></p>
            <div>
                <div>大幅度提高学生的就业率和就业水平，实现全员就业、高薪就业。确保学生最终优质就业。</div>
                <img src="./app/assets/cooperation/shuchu.png" alt="">
                <p class="cooperation_dv3_dv_two_p1">输出</p>
                <p class="cooperation_dv3_dv_two_p2">大幅度提高学生的就业率和就业水平，实现全员就业、高薪就业。确保学生最终优质就业。</p>
            </div>
        </div>
        <a class="layui-btn cooperation_button" data-id="A" data-type="一体化就业人才培养模式">我要合作</a>
    </div>
    <div class="cooperation_dv4">
        <p class="Course_displacement_mode">合作案例</p>
        <img src="./app/assets/cooperation/hezuoanli.png" class="img2" alt="">
        <div class="cooperation_dv4_dv">
            <div class="cooperation_dv4_dv_dv">
                <img src="./app/assets/cooperation/001.png" alt="">
                <div class="cooperation_dv4_dv_dv_zi">
                    <p class="cooperation_dv4_zi_one_p1">2016年12月2日</p>
                    <p class="cooperation_dv4_zi_two_p2">包头学院</p>
                </div>
                <div class="cooperation_dv4_dv_dv_dv">
                    <p class="cooperation_dv4_dv_one_p1">包头学院</p>
                    <p class="cooperation_dv4_dv_two_p2">2016年12月2日，包头医学院的主任及老师来我校参观考察，是第一所与我校达成实训合作的学校。</p>
                </div>
            </div>
            <div class="cooperation_dv4_dv_dv">
                <img src="./app/assets/cooperation/002.png" alt="">
                <div class="cooperation_dv4_dv_dv_zi">
                    <p class="cooperation_dv4_zi_one_p1">2016年9月27日</p>
                    <p class="cooperation_dv4_zi_two_p2">大庆师范学院</p>
                </div>
                <div class="cooperation_dv4_dv_dv_dv">
                    <p class="cooperation_dv4_dv_one_p1">大庆师范学院</p>
                    <p class="cooperation_dv4_dv_two_p2">2016年9月27日，大庆师范学院的相关领导来我校看望学生，并给学员做开题工作。该校目前正在申请我公司为他们的实训基地。</p>
                </div>
            </div>
            <div class="cooperation_dv4_dv_dv">
                <img src="./app/assets/cooperation/003.png" alt="">
                <div class="cooperation_dv4_dv_dv_zi">
                    <p class="cooperation_dv4_zi_one_p1">2016年6月03日</p>
                    <p class="cooperation_dv4_zi_two_p2">井冈山学院</p>
                </div>
                <div class="cooperation_dv4_dv_dv_dv">
                    <p class="cooperation_dv4_dv_one_p1">井冈山学院</p>
                    <p class="cooperation_dv4_dv_two_p2">2016年6月03日，井冈山大学计算机学院院长刘昌鑫院长来我校参观考察并看望学生。该校与我们已经有两年实训合作，学员就业情况也非常不错。</p>
                </div>
            </div>
            <div class="cooperation_dv4_dv_dv">
                <img src="./app/assets/cooperation/004.png" alt="">
                <div class="cooperation_dv4_dv_dv_zi">
                    <p class="cooperation_dv4_zi_one_p1">2016年6月2日</p>
                    <p class="cooperation_dv4_zi_two_p2">广东行政职业学院</p>
                </div>
                <div class="cooperation_dv4_dv_dv_dv">
                    <p class="cooperation_dv4_dv_one_p1">广东行政职业学院</p>
                    <p class="cooperation_dv4_dv_two_p2">2016年6月2日， 广东行政职业学院袁伟华老师莅临传智播客广州分校进行挂牌合作，签署校企合作协议书。</p>
                </div>
            </div>
            <div class="cooperation_dv4_dv_dv">
                <img src="./app/assets/cooperation/005.png" alt="">
                <div class="cooperation_dv4_dv_dv_zi">
                    <p class="cooperation_dv4_zi_one_p1">2016年5月13日</p>
                    <p class="cooperation_dv4_zi_two_p2">九江学院</p>
                </div>
                <div class="cooperation_dv4_dv_dv_dv">
                    <p class="cooperation_dv4_dv_one_p1">九江学院</p>
                    <p class="cooperation_dv4_dv_two_p2">2016年5月13日，九江学院信息科学与技术学院邵小兵老师一行莅临传智播客广州分校参观考察，看望在读学生。</p>
                </div>
            </div>
            <div class="cooperation_dv4_dv_dv">
                <img src="./app/assets/cooperation/006.png" alt="">
                <div class="cooperation_dv4_dv_dv_zi">
                    <p class="cooperation_dv4_zi_one_p1">2016年5月11日</p>
                    <p class="cooperation_dv4_zi_two_p2">广西科技大学</p>
                </div>
                <div class="cooperation_dv4_dv_dv_dv">
                    <p class="cooperation_dv4_dv_one_p1">广西科技大学</p>
                    <p class="cooperation_dv4_dv_two_p2">2016年5月11日，广西科技大学鹿山学院电气与计算机工程系陈凯书记、梁聪老师莅临传智播客广州分校考察，沟通校企合作。</p>
                </div>
            </div>
            <div class="cooperation_dv4_dv_dv">
                <img src="./app/assets/cooperation/007.png" alt="">
                <div class="cooperation_dv4_dv_dv_zi">
                    <p class="cooperation_dv4_zi_one_p1">2015年7月18日</p>
                    <p class="cooperation_dv4_zi_two_p2">宜春学院</p>
                </div>
                <div class="cooperation_dv4_dv_dv_dv">
                    <p class="cooperation_dv4_dv_one_p1">宜春学院</p>
                    <p class="cooperation_dv4_dv_two_p2">2015年7月18日，宜春学院数学与计算机科学学院甘诚智院长莅临传智播客看望暑假训练班学生。</p>
                </div>
            </div>
            <div class="cooperation_dv4_dv_dv">
                <img src="./app/assets/cooperation/008.png" alt="">
                <div class="cooperation_dv4_dv_dv_zi">
                    <p class="cooperation_dv4_zi_one_p1">2016年11月2日</p>
                    <p class="cooperation_dv4_zi_two_p2">兰州工业学院</p>
                </div>
                <div class="cooperation_dv4_dv_dv_dv">
                    <p class="cooperation_dv4_dv_one_p1">兰州工业学院</p>
                    <p class="cooperation_dv4_dv_two_p2">2016年11月2日,兰州工业学院魏校长一行来西安分校参观交流进一步深度合作</p>
                </div>
            </div>
        </div>
    </div>
</div>