<form id="cooperation_alert_form" method="post">
    <div class="layui-form-item">
        <label class="layui-form-label">合作模式</label>
        <div class="layui-input-block">
            <input type="hidden" name="model" id="pattern">
            <input type="text" class="layui-input"  readonly id="pattern2">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><img src="./app/assets/images/4564.gif" alt="">课程名称:</label>
        <div class="layui-input-block">
            <input type="hidden" name="course_id" id="course_id" />
            <select class="cooperation_alert_select" name="cooperation_alert_select" id="cooperation_alert_select">
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block" style="margin-left: 52px">
            <button class="layui-btn" type="submit">立即提交</button>
        </div>
    </div>
</form>