<div class="tbo">
	<div class="tangbohu">
		<div class="tangbohu-box">
			<div class="tangbohu-bg">
				<div class="tangbohu-bg-body">


					<div class="banner">
						<div class="contnet">
							<div class="ToSignup">预报名</div>
						</div>
					</div>
					<div class="contnet">
						<div class="reason reason-1">
							<div class="reason-left"></div>
							<div class="reason-cont">
								<h1>给我一个不充电的理由</h1>
								<span>您是否还在给学生吃“过期”的干面包？</span>
							</div>
							<div class="reason-right"></div>
						</div>
						<ul class="Introduction">
							<li>
								<div class="Introduction-icon Introduction-1"></div>
								<p>云计算、大数据、物联网…互联网发展火力全开，而我还带领学生“遨游”在书本中几年前的陈旧知识里，对新鲜概念掌握了了，真的需要全面升级知识体系了。</p>
							</li>
							<li>
								<div class="Introduction-icon Introduction-2"></div>
								<p>这些年学生虽然身在学校，却是心在外，不是去实习就是参加校外培训。面对陈旧的这是体系和落后的教学模式，我一个人也是势单力薄。开拓交流、学习先进、才能让学生通过我看到更大的世界。</p>
							</li>
							<li>
								<div class="Introduction-icon Introduction-3"></div>
								<p>现在的学生有想法，组队开发app，时不时请教我这位老师，可我对真实的项目开发没有经验，流行框架和热门技术也不甚精通，要想hold住学生，从市场和企业中学习，提升实力才是王道~</p>
							</li>
						</ul>

						<div class="reason reason-2">
							<div class="reason-left"></div>
							<div class="reason-cont">
								<h1>给我一个不被“忽悠”的理由</h1>
								<span>权威认证，国家级证书，研修成果闪闪亮</span>
							</div>
							<div class="reason-right"></div>
						</div>

						<ul class="certification">
							<li>
								<div class="certification-pic certification-1"></div>
							</li>
							<li>
								<div class="certification-pic certification-2"></div>
							</li>
							<li>
								<div class="certification-pic certification-3"></div>
							</li>
						</ul>

						<div class="reason reason-3">
							<div class="reason-left"></div>
							<div class="reason-cont">
								<h1>我们只能帮你到这里了</h1>
								<span>从简单入门到企业级项目，从基础知识到前沿热点…</span>
							</div>
							<div class="reason-right"></div>
						</div>


						<ul class="ClassTypes">
							<li><div class="type-pic avite" data-type="ios">iOS</div></li>
							<li><div class="type-pic" data-type="android">Android</div></li>
							<li><div class="type-pic" data-type="java">JavaEE</div></li>
							<li><div class="type-pic" data-type="net">.Net</div></li>
							<li><div class="type-pic" data-type="php">PHP</div></li>
							<li><div class="type-pic" data-type="c">C++</div></li>
							<li><div class="type-pic" data-type="dasj">大数据</div></li>
							<li><div class="type-pic" data-type="ui">网页平面UI</div></li>
							<li><div class="type-pic" data-type="shop">电子商务</div></li>
							<li><div class="type-pic" data-type="web">WEB前端</div></li>
						</ul>

						<div class="type-course-ios type-cont avite">
							<h3>iOS课程特色</h3>
							<p>本次培训课程全程采用Swift语言进行iOS开发和项目实战。为了让老师能了解苹果最前沿的技术知识，提高软件编程技术的实战能力,掌握企业软件开发流程，并熟练使用当下最流行的开发实用工具，本次培训课程内容采用“基础—>核心技术</p>
							<div class="type-e"></div>
							<h3>iOS课程特色</h3>
							<p>Swift语法介绍<br />
								UI基础知识讲解<br />
								多控制器管理<br />
								网络抓取数据<br />
								新浪微博项目实战<br />
							</p>
						</div>

						<div class="type-course-android type-cont">
							<h3>Android课程特色</h3>
							<p>Android移动开发在当前市场占据重要地位，而Android开发工程师极度匮乏，因此本次培训立足于当前需求，采用基础与项目相结合的方式，并通过安全杀毒类项目“新版金山手机卫士”对基础进行巩固。“新版金山手机卫士”是每一款Android手机都会安装的软件，从技术角度来说是一个综合性的项目，涉及到手机防盗、防骚扰、杀毒、进程和软件管理等相关功能，在此过程中还涉及到企业中比较流行和实用的开源项目，如ShareSDK社会化分享，友盟广告平台、云备份等。最后会对Android前沿的技术进行讲解，如Google新推出的Android Studio开发工具，以及Android5.0、Android6.0新特性等。通过本课程的学习，可以让参训教师具备骨干教师的能力，为学生提供基础教学支撑、课后辅导以及项目实训。</p>
							<div class="type-e"></div>
							<h3>Android课程特色</h3>
							<p>夯实基础：四大组件、数据存储、网络编程等<br />
								安全杀毒类项目实战：新版金山手机卫士<br />
								高新技术开发：Android Studio开发工具，Android5.0、Android6.0新特性
							</p>
						</div>

						<div class="type-course-java type-cont java">
							<h3>JavaEE课程特色</h3>
							<p>本次课程是以“项目式”的授课模式，通过项目来带动知识点的学习。课程中讲解的是互联网中常见的BtoC商城项目，项目中所使用的框架、技术都是当前市场上最主流的技术，例如：Bootstrap、Jquery、Json、Spring MVC、redis缓存、nginx负载均衡+tomcat集群、阿里云部署等。本课程以BtoC商城的需求为切入点，从需求分析到系统设计，从框架搭建到编码实现，从测试运行到项目部署，一步一步的带领大家掌握当前流行的JavaEE开发技术。</p>
							<div class="type-e"></div>
							<h3>JavaEE课程特色</h3>
							<p>BtoC商城用户注册模块：包含短信验证码功能<br />
								BtoC商城商品管理模块：包含redis缓存功能<br />
								BtoC商城购物模块：包含在线支付功能<br />
								项目部署：nginx负载均衡+tomcat集群、阿里云部署
							</p>
						</div>

						<div class="type-course-net type-cont">
							<h3>.net课程特色</h3>
							<p>本次.net课程培训内容包含了Ado.net,WebForm应用开发，三层架构，AJAX,工厂,抽象工厂等设计模式，Asp.netMVC,EF框架等基本内容。最后，我们会结合Asp.net mvc与EF开发一个CMS系统，在这个系统中，我们会讲解怎样通过面向对象思想设计一个通用的开发框架，并且在这个CMS系统中我们会使用大量的开源项目，例如：Spring.net，Log4Net，Memcache，JSON.NET，JqueryEasyUI等。还会给大家讲解分布式，高并发等内容，该系统包含的模块有，权限管理，新闻管理和图片文件管理。</p>
							<div class="type-e"></div>
							<h3>.net课程特色</h3>
							<p>Asp.net WebForm动态网站开发<br />
								Asp.net MVC+EF+CMS系统搭建<br />
								CSM系统开发
							</p>
						</div>

						<div class="type-course-php type-cont">
							<h3>PHP课程特色</h3>
							<p>PHP已经成为各大IT企业Web开发首选技术，80%的企业（例如，腾讯、百度、淘宝、京东、Facebook、Google等等大型网站）都选择用PHP进行web开发。在国内高校，PHP精品课程也越来越受到重视。本次培训共分为基础课程 + 项目课程，基础课程帮助在PHP、MySQL方面零基础或基础较差的老师快速入门，能够利用ThinkPHP框架进行项目开发；项目课程是OA办公系统，项目的功能逻辑丰富，结合了前端和Ajax技术，是开展企业级项目实战的代表性项目。</p>
							<div class="type-e"></div>
							<h3>PHP课程特色</h3>
							<p>PHP、MySQL、典型应用技术（表单、会话、文件、图像）、ThinkPHP框架<br />
								企业级项目实战——OA办公系统
							</p>
						</div>

						<div class="type-course-c type-cont">
							<h3>C++课程特色</h3>
							<p>本课程融合了C、C++的技术点。学习本课程可以提高软件编程技术的实战能力，掌握企业软件开发流程，掌握当下最流行的开发实用工具（QT）的使用。本课程采用基础培训加项目实战方式，过程中穿插很多案例。参加本课程的学习，您将收获的不只是前沿技术，还有对于C、C++最先进的授课方式。</p>
							<div class="type-e"></div>
							<h3>C++课程特色</h3>
							<p>C语言高级程序设计<br />
								C++基础训练：STL操作案例——演讲比赛<br />
								QT框架的使用：绘图、文件操作、多线程、通信、数据库操作、案例——飞舞的蝴蝶
							</p>
						</div>


						<div class="type-course-ui type-cont">
							<h3>网页平面UI课程特色</h3>
							<p>本次暑期培训项目是由传智大神级讲师整理出的一套适合高校老师学习的短期UI设计课程。课程案例均采用时下流行的真实商业项目，涉及了PC端、Android端、iOS端。通过本次培训您会学到UI设计、WUI设计、网页设计、动画设计、产品设计等多种技能，让您在最短的时间内成为实战经验丰富的行业竞争者。</p>
							<div class="type-e"></div>
							<h3>网页平面UI课程特色</h3>
							<p>UI设计和WUI设计：掌握主流设计软件和最前沿的icon设计<br />
								网页设计：网页设计规范，个人网站、化妆品等大气网站的设计技巧<br />
								动画设计：掌握ps时间轴及动画制作的原理与方法<br />
								拟物化图标及实用切图标注方法：绘制逼真的拟物化图标<br />
								高保真原型制作：使用Axure进行360安全卫士高保真原型的制作<br />
								项目实战：优选网手机APP和PC端急速云盘项目实战
							</p>
						</div>

						<div class="type-course-dasj type-cont ">
							<h3>大数据课程特色</h3>
							<p>本次课程涵盖了目前大数据领域最常用、最主流的技术，如Hadoop离线计算、Storm实时计算和Spark内存计算。以项目案例驱动，知识点结合案例，将晦涩难懂的理论以通俗易懂的方式浅出，让参训老师快速掌握大数据相关技能并学以致用。</p>
							<div class="type-e"></div>
							<h3>大数据课程特色</h3>
							<p>HDFS分布式文件系统<br />
								MapReduce分布式计算框架<br />
								Storm实时计算框架<br />
								Spark内存计算框架
							</p>
						</div>


						<div class="type-course-shop type-cont">
							<h3>电子商务课程特色</h3>
							<p>本次暑期师资培训课程结合高校老师的实际情况与企业工作中的实际需求，选取了网络营销推广和电子商务两个模块的内容，包含了软文推广、常见网络营销推广方式、新兴社会化媒体推广、新媒体运营、网络营销理论、危机公关、天猫店铺定位与设置、店铺装修、淘宝活动报名、淘宝运营与策划以及客户关系管理等多方面内容。</p>
							<div class="type-e"></div>
							<h3>电子商务课程特色</h3>
							<p>常见网络营销推广平台<br />
								新媒体运营<br />
								网络营销理论<br />
								店铺定位与装修<br />
								淘宝运营与策划<br />
								客户关系管理
							</p>
						</div>


						<div class="type-course-web type-cont">
							<h3>WEB前端课程特色</h3>
							<p>本课程对当下最流行的Web前端技术进行归纳梳理，整理出了一套适合高校老师的短期课程，本课程将带领大家做一个阿里百秀网站，该网站是一个集科技、趣事、生活为一体的新闻博客系统，除了内容丰富兼具特色外，前端页面采用扁平化设计，简洁大方，合理的版块布局，让网站富有条理，新闻资讯一览无余，其着色也让人有耳目一新的感觉 ，这种风格类型网站变的越来越流行，非常值得我们去研究。</p>
							<div class="type-e"></div>
							<h3>WEB前端课程特色</h3>
							<p>前端基础知识介绍：HTML、CSS、JavaScript、Jquery<br />
								项目实战：阿里百秀<br />
								前端高级知识介绍：HTML5、CSS3<br />
								项目实战：阿里百秀项目优化
							</p>
						</div>

						<div class="reason reason-4">
							<div class="reason-left"></div>
							<div class="reason-cont">
								<h1>我们在，别担心！</h1>
								<span>项目的事情和讲师沟通，教学的想法与专家交流，培训的安排与班主任聊聊…</span>
							</div>
							<div class="reason-right"></div>
						</div>


						<div class="communication">
							<ul class="communication-box">
								<li><div class="communication-pic communication-1">
									<p>来自一线的讲师，将新鲜出炉开发经验、技术前沿、企业项目统统告诉你；每个学科方向都安排了两到三个项目，指导学员从想法到产品的完整模拟开发，让你一次学个够。</p>
								</div></li>
								<li><div class="communication-pic communication-2">
									<p>培训之余的研讨会将请来学科专家和行业专家，快带上你教学上的困扰、反思和想法，来找专家同行分享交流。</p>
								</div></li>
								<li><div class="communication-pic communication-3">
									<p>您对讲师的意见、对内容安排的意见、对产品的建议……我们都认真对待。培训也讲究产品体验，我们希望做得更好。</p>
								</div></li>
								<li><div class="communication-pic communication-4">
									<p>免费赠送全部培训教学视频与源码，免费获得传智播客经典教学光盘，免费获得所选方向实用教材样书，免费试用博学谷平台和堂播虎教学实施客户端，有机会畅享价值20万资源大礼包。</p>
								</div></li>
							</ul>
						</div>


						<div class="reason reason-5">
							<div class="reason-left"></div>
							<div class="reason-cont">
								<h1>传智头牌名师带你学习带你飞</h1>
								<span>技术达人、编程Geek、项目经理…</span>
							</div>
							<div class="reason-right"></div>
						</div>


						<div class="Teachers">
							<ul class="Teachers-ul">
								<li>
									<div class="Teachers-box">
										<img src="./app/assets/images/teachtraining/teachers/1-pic.jpg" />
										<div class="box-cont">
											<p>资深软件开发工程师，项目经理。曾任职于亚洲最大在线学习系统开发公司；也在近几十个大中小型系统开发中担任工程师和负责人。教学耐心、逻辑思维严谨、课堂氛围活跃、责任心强、激情昂扬、乐于分享。</p>
											<div class="ae-pic">
												<div class="font-box">
													<p>传智·廖老师</p>
													<p>高级讲师</p>
												</div>
											</div>
										</div>

									</div>
								</li>
								<li>
									<div class="Teachers-box">
										<img src="./app/assets/images/teachtraining/teachers/2-pic.jpg" />
										<div class="box-cont">
											<p>多年移动互联网开发和管理经验，精通iOS开发和项目管理。曾担任，人人网，音悦台搜狐iOS开发小组leader，积累了丰富的实战经验。 主导项目：《搜易贷》理财，《56视频》，《56乐拍》，《56音乐汇》等。</p>
											<div class="ae-pic">
												<div class="font-box">
													<p>传智·潘老师</p>
													<p>高级讲师</p>
												</div>
											</div>
										</div>
									</div>
								</li>
							</ul>
							<ul class="Teachers-ul bot">
								<li>
									<div class="Teachers-box">
										<img src="./app/assets/images/teachtraining/teachers/3-pic.jpg" />
										<div class="box-cont">
											<p>网络营销实战型专家，11年互联网营销及网站运营经验，4年网络营销服务团队管理经验。精通社会化媒体及新媒体营销，曾服务过数百家B2B门户网站。擅长运用互联网思维，辅以经典案例，以理论+实践深入浅出的授课。</p>
											<div class="ae-pic">
												<div class="font-box">
													<p>传智·高老师</p>
													<p>高级讲师</p>
												</div>
											</div>
										</div>

									</div>
								</li>
								<li>
									<div class="Teachers-box">
										<img src="./app/assets/images/teachtraining/teachers/4-pic.jpg" />
										<div class="box-cont">
											<p>多年开发授课经验。曾参与北京奥运会危险物检测系统，海尔移动商务平台的开发。精通DIV+CSS、JavaScript、Ajax、Jquery、PHP+MYSQL、Smarty、ThinkPHP、Dedecms、Java、C#等，目前专注LAMP架构。</p>
											<div class="ae-pic">
												<div class="font-box">
													<p>传智·黄老师</p>
													<p>高级讲师</p>
												</div>
											</div>
										</div>

									</div>
								</li>
							</ul>
							<ul class="Teachers-ul">
								<li>
									<div class="Teachers-box">
										<img src="./app/assets/images/teachtraining/teachers/5-pic.jpg" />
										<div class="box-cont">
											<p>8年的Windows/Linux系统下C/C++/QT开发经验，精通C、C++、Qt编程语言。参与过中石油的数字地震队队部管理系统、保密局等政府机构国产Linux操作系统下漏洞扫描工具，安全检测平台等项目的开发。</p>
											<div class="ae-pic">
												<div class="font-box">
													<p>传智·苏老师</p>
													<p>高级讲师</p>
												</div>
											</div>
										</div>

									</div>
								</li>
								<li>
									<div class="Teachers-box">
										<img src="./app/assets/images/teachtraining/teachers/6-pic.jpg" />
										<div class="box-cont">
											<p>全栈开发，对Asp.Net,MVC,WCF，Redis,NoSql,Html5,AngularJS,
												Node.JS,数据库集群，分布式，高并发，软件架构、开源等技术都有深入研究。曾担任某公司项目经理，参加大型分布式高并发互联网项目的开发与管理工作，同时负责公司OA系统架构的设计与研发工作。</p>
											<div class="ae-pic">
												<div class="font-box">
													<p>传智·王老师</p>
													<p>高级讲师</p>
												</div>
											</div>
										</div>

									</div>
								</li>
							</ul>
							<ul class="Teachers-ul bot">
								<li>
									<div class="Teachers-box">
										<img src="./app/assets/images/teachtraining/teachers/7-pic.jpg" />
										<div class="box-cont">
											<p>5年电子商务实战经验，专注于天猫、淘宝、京东等第三方平台运营，涉及多个热门行业，先后就职于瑞金麟、优曼集团。擅长平台店铺运营、目标分解等，精通电商平台规则、运营策划、推广工具、数据分析及爆款打造。</p>
											<div class="ae-pic">
												<div class="font-box">
													<p>传智·王老师</p>
													<p>高级讲师</p>
												</div>
											</div>
										</div>

									</div>
								</li>
								<li>
									<div class="Teachers-box">
										<img src="./app/assets/images/teachtraining/teachers/8-pic.jpg" />
										<div class="box-cont">
											<p>多年设计及产品经验，曾创建独立设计工作室，服务过美团、知乎、360等众多企业。参与中国电器商业协会、芳草地国际教育集团、中信国安创客、怡海教育集团大型项目。善从需求、体验的角度切入设计课程的教学。</p>
											<div class="ae-pic">
												<div class="font-box">
													<p>传智·张老师</p>
													<p>高级讲师</p>
												</div>
											</div>
										</div>

									</div>
								</li>
							</ul>
							<ul class="Teachers-ul">
								<li>
									<div class="Teachers-box">
										<img src="./app/assets/images/teachtraining/teachers/9-pic.jpg" />
										<div class="box-cont">
											<p>Web前端工程师，具有多年Web开发经验，喜爱并热衷于前端开发，熟悉并掌握主流的前端开发技术，特别在移动开发方面积累了丰富的经验，同时熟悉PHP、NodeJS等服务端技术，具备“全栈开发”能力。Say less Do more!</p>
											<div class="ae-pic">
												<div class="font-box">
													<p>传智·赵老师</p>
													<p>高级讲师</p>
												</div>
											</div>
										</div>

									</div>
								</li>
								<li>
									<div class="Teachers-box">
										<img src="./app/assets/images/teachtraining/teachers/10-pic.jpg" />
										<div class="box-cont">
											<p>多年软件开发，历任项目经理、架构师等职务，精通java、scala、js、oracle等编程语言和数据库系统。3年多Hadoop开发和维护工作，擅长基于Hadoop的海量数据平台的搭建，对hadoop等大数据开源框架有深入研究。</p>
											<div class="ae-pic">
												<div class="font-box">
													<p>传智·赵老师</p>
													<p>高级讲师</p>
												</div>
											</div>
										</div>

									</div>
								</li>
							</ul>
						</div>


						<div class="reason reason-6">
							<div class="reason-left"></div>
							<div class="reason-cont">
								<h1>究竟好不好，让过来人告诉你</h1>
							</div>
							<div class="reason-right"></div>
						</div>

						<div class="environment">
							<ul class="environment-btn">
								<li>
									<a class="active" data-etype="2016" href="javascript:void(0);">2016</a>
								</li>
								<li>
									<a data-etype="2015" href="javascript:void(0);">2015</a>
								</li>
								<li>
									<a data-etype="2014" href="javascript:void(0);">2014</a>
								</li>
							</ul>
							<div class="en-cont en-2016 active">
								<div class="pic-box">
									<div class="play-btn-big J-play" title="云南旅游职业学院 汤越光老师" data-type="2016-1"></div>
									<img src="./app/assets/images/teachtraining/pic-list/2016/1.jpg" alt="云南旅游职业学院 汤越光老师" />
								</div>
								<ul class="environment-lits">
									<li>
										<div class="pic">
											<div class="play-btn-small J-play" title="大连职业技术学院 邹飞老师"  data-type="2016-2"></div>
											<img src="./app/assets/images/teachtraining/pic-list/2016/2.jpg" alt="大连职业技术学院 邹飞老师" />
										</div>
									</li>
									<li>
										<div class="pic">
											<div class="play-btn-small J-play" title="广东农工商职业技术学院 廖福保老师"data-type="2016-3"></div>
											<img src="./app/assets/images/teachtraining/pic-list/2016/3.jpg" alt="广东农工商职业技术学院 廖福保老师" />
										</div>
									</li>
									<li>
										<div class="pic">
											<div class="play-btn-small J-play" title="哈尔滨石油学院 逯柳老师"  data-type="2016-4"></div>
											<img src="./app/assets/images/teachtraining/pic-list/2016/4.jpg" alt="哈尔滨石油学院 逯柳老师" />
										</div>
									</li>
									<li>
										<div class="pic">
											<div class="play-btn-small J-play" title="海南热带海洋学院 王海丰老师" data-type="2016-5"></div>
											<img src="./app/assets/images/teachtraining/pic-list/2016/5.jpg" alt="海南热带海洋学院 王海丰老师" />
										</div>
									</li>
									<li>
										<div class="pic">
											<div class="play-btn-small J-play" title="河北能源职业技术学院 肖景阳老师" data-type="2016-6"></div>
											<img src="./app/assets/images/teachtraining/pic-list/2016/6.jpg" alt="河北能源职业技术学院 肖景阳老师" />
										</div>
									</li>
									<li>
										<div class="pic">
											<div class="play-btn-small J-play" title="年师资培训集锦"  data-type="2016-7"></div>
											<img src="./app/assets/images/teachtraining/pic-list/2016/7.jpg" alt="年师资培训集锦" />
										</div>
									</li>
								</ul>
							</div>


							<div class="en-cont en-2015">
								<div class="pic-box">
									<div class="play-btn-big J-play" title="长春大学 张万里 老师 我在这里学到了最新的设计、最新的语言" data-type="2015-1"></div>
									<img src="./app/assets/images/teachtraining/pic-list/2015/1.jpg" alt="长春大学 张万里 老师 我在这里学到了最新的设计、最新的语言" />
								</div>
								<ul class="environment-lits">
									<li>
										<div class="pic">
											<div class="play-btn-small J-play" title="潍坊学院 侯金奎 老师 在传智播客学习收获很大完全达到了我的预想"  data-type="2015-2"></div>
											<img src="./app/assets/images/teachtraining/pic-list/2015/2.jpg" alt="潍坊学院 侯金奎 老师 在传智播客学习收获很大完全达到了我的预想" />
										</div>
									</li>
									<li>
										<div class="pic">
											<div class="play-btn-small J-play" title="泉州师范学院 王荣海 老师 讲师丰富的经验，工作人员很棒的服务，使我们有很高的热情去学习"  data-type="2015-3"></div>
											<img src="./app/assets/images/teachtraining/pic-list/2015/3.jpg" alt="泉州师范学院 王荣海 老师 讲师丰富的经验，工作人员很棒的服务，使我们有很高的热情去学习" />
										</div>
									</li>
									<li>
										<div class="pic">
											<div class="play-btn-small J-play" title="河南大学 王震 老师 和传智播客的实训相比，我们高校教学就像瘸了一条腿"  data-type="2015-4"></div>
											<img src="./app/assets/images/teachtraining/pic-list/2015/4.jpg" alt="河南大学 王震 老师 和传智播客的实训相比，我们高校教学就像瘸了一条腿" />
										</div>
									</li>
									<li>
										<div class="pic">
											<div class="play-btn-small J-play" title="东北石油大学 杨云峰 老师 传智播客是一个很青春、很热情、团队配合非常融洽的公司"  data-type="2015-5"></div>
											<img src="./app/assets/images/teachtraining/pic-list/2015/5.jpg" alt="东北石油大学 杨云峰 老师 传智播客是一个很青春、很热情、团队配合非常融洽的公司" />
										</div>
									</li>
									<li>
										<div class="pic">
											<div class="play-btn-small J-play" title="哈尔滨师范大学 张陇 老师 以项目驱动的方式安排的课程非常细致，很到位"  data-type="2015-6"></div>
											<img src="./app/assets/images/teachtraining/pic-list/2015/6.jpg" alt="哈尔滨师范大学 张陇 老师 以项目驱动的方式安排的课程非常细致，很到位" />
										</div>
									</li>
									<li>
										<div class="pic">
											<div class="play-btn-small J-play" title="国家信息技术紧缺人才培养工程(传智播客2015师资培训）" data-type="2015-7"></div>
											<img src="./app/assets/images/teachtraining/pic-list/2015/7.jpg" alt="国家信息技术紧缺人才培养工程(传智播客2015师资培训）" />
										</div>
									</li>
								</ul>
							</div>


							<div class="en-cont en-2014">
								<div class="pic-box">
									<div class="play-btn-big J-play"  data-type="2014-1"></div>
									<img src="./app/assets/images/teachtraining/pic-list/2014/1.jpg" />
								</div>
								<ul class="environment-lits">
									<li>
										<div class="pic">
											<div class="play-btn-small J-play" data-type="2014-2"></div>
											<img src="./app/assets/images/teachtraining/pic-list/2014/2.jpg" />
										</div>
									</li>
									<li>
										<div class="pic">
											<div class="play-btn-small J-play" data-type="2014-3"></div>
											<img src="./app/assets/images/teachtraining/pic-list/2014/3.jpg" />
										</div>
									</li>
									<li>
										<div class="pic">
											<div class="play-btn-small J-play" data-type="2014-4"></div>
											<img src="./app/assets/images/teachtraining/pic-list/2014/4.jpg" />
										</div>
									</li>
									<li>
										<div class="pic">
											<div class="play-btn-small J-play" data-type="2014-5"></div>
											<img src="./app/assets/images/teachtraining/pic-list/2014/5.jpg" />
										</div>
									</li>
									<li>
										<div class="pic">
											<div class="play-btn-small J-play" data-type="2014-6"></div>
											<img src="./app/assets/images/teachtraining/pic-list/2014/6.jpg" />
										</div>
									</li>
									<li>
										<div class="pic">
											<div class="play-btn-small J-play" title="传智播客2014年全国高校IT骨干教师研修班风采" data-type="2014-7"></div>
											<img src="./app/assets/images/teachtraining/pic-list/2014/7.jpg" alt="传智播客2014年全国高校IT骨干教师研修班风采" />
										</div>
									</li>
								</ul>
							</div>

						</div>


						<div class="problems">
							<div class="problems-home">常见问题</div>
							<ul class="problems-list">
								<li>
									<div class="problems-box">
										<h3>1.请问此次研修的报名费用是多少？</h3>
										<p>研修课程费用是4980元/人（12天课程，不含食宿），费用细节请联系各大区经理<a href="http://wpa.qq.com/msgrd?v=3&uin=2104924105&site=qq&menu=yes" class="yellow">点击咨询</a>。</p>
									</div>
								</li>
								<li>
									<div class="problems-box">
										<h3>2.我该如何报名？</h3>
										<p>请填写上方<span class="red">报名表</span>信息，并点击提交，会有工作人员主动与您取得联系。<br />您还可下载<span class="red">报名资料</span>，填写其中的报名表，发送到指定邮箱， 即可。</p>
									</div>
								</li>
								<li>
									<div class="problems-box">
										<h3>3.请问我到北京会有接站吗？</h3>
										<p>会的。7月24日当天会安排北京西站、北京站、北京南站和首都机场的接站。<br />其他时间暂不安排接待，建议大家安排7月24日到京，8月8日下午/晚上返回。您确认行程后，请填写报名资料中的接站表，发送到指定邮箱，即可。</p>
									</div>
								</li>
								<li>
									<div class="problems-box">
										<h3>4.请问培训的食宿安排如何？</h3>
										<p>参训教师食宿统一安排，费用自理。食宿标准是每人每天￥280，包括住宿和早中晚三餐自助。费用细<br />节请联系各大区经理。</p>
									</div>
								</li>
								<li>
									<div class="problems-box">
										<h3>5.请问我该如何支付研修费用？</h3>
										<p>此次研修费用可通过提前汇款，现场刷卡和现金支付三种形式结算。其中提前汇款请汇至账号：1109-0927-9110-113（招商<br />银行北京望京支行），户名：江苏传智播客教育科技有限公司。</p>
									</div>
								</li>
								<li>
									<div class="problems-box">
										<h3>6、其他问题请<a  href="http://wpa.qq.com/msgrd?v=3&uin=2104924105&site=qq&menu=yes" class="yellow">点击咨询</a>。</h3>
									</div>
								</li>
							</ul>
						</div>


					</div>

				</div>
			</div>

		</div>
	</div>
</div>