<div class="popup_login">
    <form id="popup_login_form">
        <div class="popup_login_dv">
            <p class="popup_login_dv_h">登录</p>
            <div class="popup_login_dv_span">
                <img src="./app/assets/images/4564.gif" alt="">
                <span>可用博学谷账号直接登录</span>
                <span><a href="#/signin">注册</a><img src="./app/assets/images/login/login-t.png" alt=""></span>
            </div>
            <div class="popup_login_dv_ipt">
                <input type="text" name="username" id="username" placeholder="请输入手机号或邮箱">
            </div>
	        <p name="isname" style="display: none;"></p>
            <div class="popup_login_dv_ipt">
                <input type="password" name="password" placeholder="输入密码">
            </div>
            <!--<div class="popup_login_dv_ipt">-->
                <!--<input type="text" class="verification" name="ver" placeholder="请输入验证码">-->
                <!--<img src="" alt="">-->
            <!--</div>-->
            <!--<div>-->
                <!--<input type="checkbox">-->
                <!--<span>同意<a href="javascript:void (0)">《博学谷院校注册协议》</a></span>-->
            <!--</div>-->
            <div class="popup_login_dv_ipt">
                <button class="layui-btn" type="submit" id="mybtn">登录</button>
            </div>
            <div class="popup_login_dv_mm">
                <span><a href="#/reset_password">忘记密码？</a></span>
            </div>
        </div>
    </form>

</div>