.cooperation {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.cooperation .img1 {
  width: 100%;
  height: 420px;
  display: block;
}
.cooperation .cooperation_dv1 {
  position: relative;
  height: 842px;
}
.cooperation .cooperation_dv1 .img3 {
  position: absolute;
  z-index: -9;
  top: 0;
  left: 0;
  display: block;
}
.cooperation .cooperation_dv1 .Course_displacement_mode {
  text-align: center;
  font-size: 22px;
  color: #333;
  margin: 0;
  padding-top: 60px;
}
.cooperation .cooperation_dv1 .img2 {
  display: block;
  margin: 0 auto;
  margin-top: 6px;
  margin-bottom: 70px;
}
.cooperation .cooperation_dv1 .cooperation_dv1_dv {
  width: 1068px;
  margin: 0 auto;
  overflow: hidden;
}
.cooperation .cooperation_dv1 .cooperation_dv1_dv div {
  float: left;
  border: 1px solid #fff;
  width: 354px;
  height: 245px;
}
.cooperation .cooperation_dv1 .cooperation_dv1_dv .cooperation_dv1_dv_one {
  border: none;
  width: 356px;
  height: 247px;
}
.cooperation .cooperation_dv1 .cooperation_dv1_dv .cooperation_dv1_dv_one img {
  width: 100%;
  height: 100%;
}
.cooperation .cooperation_dv1 .cooperation_dv1_dv .cooperation_dv1_dv_two {
  height: 145px;
  width: 282px;
  padding: 50px 36px 50px 36px;
}
.cooperation .cooperation_dv1 .cooperation_dv1_dv .cooperation_dv1_dv_two .cooperation_dv1_dv_two_p1 {
  font-size: 20px;
  color: #333;
}
.cooperation .cooperation_dv1 .cooperation_dv1_dv .cooperation_dv1_dv_two .cooperation_dv1_dv_two_p2 {
  height: 57px;
  overflow: hidden;
  margin-bottom: 20px;
}
.cooperation .cooperation_dv1 .cooperation_dv1_dv .cooperation_dv1_dv_two span {
  width: 30px;
  height: 2px;
  background-color: #ff7f00;
  display: block;
  margin-top: 10px;
  margin-bottom: 20px;
}
.cooperation .cooperation_dv1 .cooperation_dv1_dv .cooperation_dv1_dv_two:hover {
  border: 1px solid #0279c9;
}
.cooperation .cooperation_dv1 a {
  display: block;
  background-color: #ff9c1c;
  margin: 0 auto;
  margin-top: 70px;
  color: #fff;
  width: 264px;
  height: 44px;
}
.cooperation .cooperation_dv2 {
  position: relative;
  overflow: hidden;
  height: 470px;
}
.cooperation .cooperation_dv2 .Course_displacement_mode {
  text-align: center;
  font-size: 22px;
  color: #333;
  margin: 0;
  padding-top: 60px;
}
.cooperation .cooperation_dv2 .img2 {
  display: block;
  margin: 0 auto;
  margin-top: 6px;
  margin-bottom: 70px;
}
.cooperation .cooperation_dv2 .cooperation_dv2_dv {
  width: 1081px;
  margin: 0 auto;
  overflow: hidden;
}
.cooperation .cooperation_dv2 .cooperation_dv2_dv .cooperation_dv2_dv_one {
  float: left;
  width: 533px;
  border-right: 2px solid #eeeeee;
}
.cooperation .cooperation_dv2 .cooperation_dv2_dv .cooperation_dv2_dv_one img {
  float: left;
}
.cooperation .cooperation_dv2 .cooperation_dv2_dv .cooperation_dv2_dv_one .cooperation_dv2_dv_one_p1 {
  float: left;
  width: 400px;
  margin-top: 20px;
  margin-left: 28px;
  color: #333;
  font-size: 22px;
}
.cooperation .cooperation_dv2 .cooperation_dv2_dv .cooperation_dv2_dv_one .cooperation_dv2_dv_one_p2 {
  float: left;
  width: 336px;
  font-size: 14px;
  overflow: hidden;
  color: #999;
  margin-left: 28px;
  margin-top: 25px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.cooperation .cooperation_dv2 .cooperation_dv2_dv .cooperation_dv2_dv_two {
  width: 546px;
  float: left;
}
.cooperation .cooperation_dv2 .cooperation_dv2_dv .cooperation_dv2_dv_two img {
  float: left;
  margin-left: 91px;
}
.cooperation .cooperation_dv2 .cooperation_dv2_dv .cooperation_dv2_dv_two .cooperation_dv2_dv_two_p1 {
  float: left;
  width: 300px;
  margin-top: 20px;
  margin-left: 28px;
  color: #333;
  font-size: 22px;
}
.cooperation .cooperation_dv2 .cooperation_dv2_dv .cooperation_dv2_dv_two .cooperation_dv2_dv_two_p2 {
  float: left;
  width: 300px;
  font-size: 14px;
  color: #999;
  margin-left: 28px;
  margin-top: 25px;
}
.cooperation .cooperation_dv2 a {
  display: block;
  background-color: #ff9c1c;
  margin: 0 auto;
  margin-top: 70px;
  color: #fff;
  width: 264px;
  height: 44px;
}
.cooperation .cooperation_dv3 {
  overflow: hidden;
  position: relative;
  height: 818px;
  background-color: #f9f9f9;
}
.cooperation .cooperation_dv3 .Course_displacement_mode {
  text-align: center;
  font-size: 22px;
  color: #333;
  margin: 0;
  padding-top: 60px;
}
.cooperation .cooperation_dv3 .img2 {
  display: block;
  margin: 0 auto;
  margin-top: 6px;
  margin-bottom: 70px;
}
.cooperation .cooperation_dv3 .img3 {
  display: block;
  margin: 0 auto;
  margin-bottom: 120px;
}
.cooperation .cooperation_dv3 .cooperation_dv3_dv {
  overflow: hidden;
  width: 1200px;
  margin: 0 auto;
}
.cooperation .cooperation_dv3 .cooperation_dv3_dv > p {
  height: 224px;
  width: 1px;
  float: left;
  background-color: #ddd;
  margin-top: 11px;
}
.cooperation .cooperation_dv3 .cooperation_dv3_dv div {
  text-align: center;
  width: 299px;
  height: 247px;
  float: left;
  position: relative;
}
.cooperation .cooperation_dv3 .cooperation_dv3_dv div div {
  position: absolute;
  top: 0;
  left: 22px;
  width: 218px;
  color: #fff;
  height: 100%;
  display: none;
  padding: 20px;
  background-color: #0099ff;
}
.cooperation .cooperation_dv3 .cooperation_dv3_dv div:hover div {
  display: block;
}
.cooperation .cooperation_dv3 .cooperation_dv3_dv div .cooperation_dv3_dv_two_p1 {
  margin-top: 14px;
  margin-bottom: 19px;
  font-size: 16px;
  color: #333;
}
.cooperation .cooperation_dv3 .cooperation_dv3_dv div .cooperation_dv3_dv_two_p2 {
  font-size: 14px;
  color: #999;
  height: 73px;
  overflow: hidden;
  padding: 0 66px 0 66px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}
.cooperation .cooperation_dv3 a {
  display: block;
  background-color: #ff9c1c;
  margin: 0 auto;
  margin-top: 90px;
  color: #fff;
  width: 264px;
  height: 44px;
}
.cooperation .cooperation_dv4 {
  height: 816px;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.cooperation .cooperation_dv4 .Course_displacement_mode {
  text-align: center;
  font-size: 22px;
  color: #333;
  margin: 0;
  padding-top: 60px;
}
.cooperation .cooperation_dv4 .img2 {
  display: block;
  margin: 0 auto;
  margin-top: 6px;
  margin-bottom: 50px;
}
.cooperation .cooperation_dv4 .cooperation_dv4_dv {
  overflow: hidden;
  width: 1108px;
  margin: 0 auto;
}
.cooperation .cooperation_dv4 .cooperation_dv4_dv .cooperation_dv4_dv_dv {
  float: left;
  position: relative;
  overflow: hidden;
  width: 252px;
  height: 266px;
  margin-top: 20px;
  margin-left: 20px;
}
.cooperation .cooperation_dv4 .cooperation_dv4_dv .cooperation_dv4_dv_dv img {
  position: absolute;
  top: 0;
  left: 0;
  width: 252px;
  height: 266px;
}
.cooperation .cooperation_dv4 .cooperation_dv4_dv .cooperation_dv4_dv_dv .cooperation_dv4_dv_dv_zi {
  width: 100%;
  position: absolute;
  bottom: 0;
  height: 54px;
  text-align: center;
}
.cooperation .cooperation_dv4 .cooperation_dv4_dv .cooperation_dv4_dv_dv .cooperation_dv4_dv_dv_zi .cooperation_dv4_zi_one_p1 {
  font-size: 16px;
  color: #fff;
}
.cooperation .cooperation_dv4 .cooperation_dv4_dv .cooperation_dv4_dv_dv .cooperation_dv4_dv_dv_zi .cooperation_dv4_zi_two_p2 {
  font-size: 14px;
  color: #fff;
  margin-top: 10px;
}
.cooperation .cooperation_dv4 .cooperation_dv4_dv .cooperation_dv4_dv_dv .cooperation_dv4_dv_dv_dv {
  position: absolute;
  width: 212px;
  height: 186px;
  background-color: #0099ff;
  overflow: hidden;
  top: 0;
  left: 0;
  display: none;
  color: #fff;
  padding: 40px 20px 40px 20px;
  text-align: center;
}
.cooperation .cooperation_dv4 .cooperation_dv4_dv .cooperation_dv4_dv_dv .cooperation_dv4_dv_dv_dv .cooperation_dv4_dv_one_p1 {
  font-size: 16px;
  margin-bottom: 19px;
}
.cooperation .cooperation_dv4 .cooperation_dv4_dv .cooperation_dv4_dv_dv .cooperation_dv4_dv_dv_dv .cooperation_dv4_dv_two_p2 {
  font-size: 14px;
}
.cooperation .cooperation_dv4 .cooperation_dv4_dv .cooperation_dv4_dv_dv:hover div {
  display: block;
  z-index: 999;
}
#cooperation_alert_form {
  margin-top: 28px;
  margin-right: 79px;
}
#cooperation_alert_form .layui-input-block {
  line-height: 36px;
}
#cooperation_alert_form .layui-input-block .cooperation_alert_select {
  height: 36px;
  width: 100%;
}
#cooperation_alert_form .layui-input-block button {
  width: 100%;
  background-color: #ff9c1c;
}
