.course-del {
  background: #f7f7f7;
  overflow: hidden;
}
.course-del .course-del-nav {
  width: 100%;
  background-color: #f7f7f7;
}
.course-del .course-del-nav .nav {
  width: 1200px;
  background-color: #f7f7f7;
  margin: 21px auto 0;
}
.course-del .course-del-nav .nav .layui-breadcrumb a,
.course-del .course-del-nav .nav .layui-breadcrumb a span {
  font-size: 14px;
  color: #36b773 !important;
}
.course-del .course-del-nav .nav .layui-breadcrumb a cite {
  color: #333333 !important;
}
.course-del .course-del-top {
  width: 1200px;
  margin: 20px auto 0;
  background-color: #ffffff;
}
.course-del .course-del-top .course-del-box {
  width: 100%;
  height: 333px;
}
.course-del .course-del-top .course-del-box a {
  cursor: default;
}
.course-del .course-del-top .course-del-box img.course-del-pic {
  display: block;
  float: left;
  width: 480px;
  height: 90%;
  margin-left: 20px;
  margin-top: 15px;
}
.course-del .course-del-top .course-del-box .course-del-video {
  display: block;
  float: left;
  width: 500px;
  margin-left: 10px;
  margin-top: 10px;
  box-sizing: border-box;
  height: 95%;
  cursor: pointer;
  position: relative;
}
.course-del .course-del-top .course-del-box .course-del-video .video-div {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  cursor: pointer;
  opacity: 0.5;
  filter: alpha(opacity=50);
  /*This works in IE 8 & 9 too*/
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  /*IE4-IE9*/
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
}
.course-del .course-del-top .course-del-box .course-del-info {
  width: 606px;
  height: 273px;
  background-color: #ffffff;
  float: right;
  padding: 30px 32px;
  position: relative;
}
.course-del .course-del-top .course-del-box .course-del-info .course-del-title {
  overflow: hidden;
}
.course-del .course-del-top .course-del-box .course-del-info .course-del-title h3 {
  float: left;
  font-size: 20px;
  color: #333333;
  margin-bottom: 26px;
  max-width: 570px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-wrap: break-word;
}
.course-del .course-del-top .course-del-box .course-del-info .course-del-title .btn-fx {
  float: right;
  font-size: 16px;
  color: #36b773;
  text-decoration: underline;
  display: block;
  width: 35px;
  height: 40px;
  text-align: right;
}
.course-del .course-del-top .course-del-box .course-del-info .course-del-title .fx-box {
  display: none;
  position: absolute;
  top: 60px;
  right: 30px;
  width: 319px;
  height: 52px;
}
.course-del .course-del-top .course-del-box .course-del-info .course-del-title .fx-box a {
  display: block;
}
.course-del .course-del-top .course-del-box .course-del-info .course-del-title .fx-box a.jtico {
  padding: 0px !important;
  width: 52px !important;
  height: 52px !important;
  background: url("../../app/assets/images/icons/fx-icon/fx-box.png") no-repeat;
  background-position: -266px 0px;
}
.course-del .course-del-top .course-del-box .course-del-info .course-del-title .fx-box a .jtico {
  margin: 0px !important;
  padding: 0px !important;
  display: block;
  width: 52px !important;
  height: 52px !important;
  background: url("../../app/assets/images/icons/fx-icon/fx-box.png") no-repeat;
}
.course-del .course-del-top .course-del-box .course-del-info .course-del-title .fx-box a .jtico:hover {
  opacity: 0.8;
  background: url("../../app/assets/images/icons/fx-icon/fx-box-active.png") no-repeat;
}
.course-del .course-del-top .course-del-box .course-del-info .course-del-title .fx-box a .jtico.jtico_weixin {
  background-position: 0px 0px ;
}
.course-del .course-del-top .course-del-box .course-del-info .course-del-title .fx-box a .jtico.jtico_xiaoyou {
  background-position: -53px 0px;
}
.course-del .course-del-top .course-del-box .course-del-info .course-del-title .fx-box a .jtico.jtico_cqq {
  background-position: -106px 0px;
}
.course-del .course-del-top .course-del-box .course-del-info .course-del-title .fx-box a .jtico.jtico_tsina {
  background-position: -159px 0px;
}
.course-del .course-del-top .course-del-box .course-del-info .course-del-title .fx-box a .jtico.jtico_qzone {
  background-position: -213px 0px;
}
.course-del .course-del-top .course-del-box .course-del-info .course-del-book,
.course-del .course-del-top .course-del-box .course-del-info .course-del-page,
.course-del .course-del-top .course-del-box .course-del-info .course-del-people,
.course-del .course-del-top .course-del-box .course-del-info .solid {
  color: #a7a7a7;
  font-size: 14px;
}
.course-del .course-del-top .course-del-box .course-del-info .course-del-book {
  margin-right: 14px;
}
.course-del .course-del-top .course-del-box .course-del-info .course-del-page {
  margin-left: 14px;
  margin-right: 14px;
}
.course-del .course-del-top .course-del-box .course-del-info .course-del-people {
  margin-left: 14px;
  overflow: hidden;
}
.course-del .course-del-top .course-del-box .course-del-info .course-del-people .text-p {
  display: inline-block;
  *zoom: 1;
  *display: inline;
  vertical-align: top;
  width: 155px;
  word-wrap: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.course-del .course-del-top .course-del-box .course-del-info .course-del-cont {
  margin-top: 16px;
  margin-bottom: 28px;
}
.course-del .course-del-top .course-del-box .course-del-info .course-del-cont p {
  max-height: 80px;
  font-size: 16px;
  line-height: 28px;
  color: #999999;
  word-wrap: break-word;
  word-break: break-all;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.course-del .course-del-top .course-del-box .course-del-info .course-del-cont .ellipsis {
  height: 80px;
  font-size: 16px;
  line-height: 28px;
  color: #999999;
  word-wrap: break-word;
  word-break: break-all;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.course-del .course-del-top .course-del-box .course-del-info .course-del-cont-span {
  height: 53px;
  border-bottom: 1px solid #f0f0f0;
  line-height: 53px;
}
.course-del .course-del-top .course-del-box .course-del-info .course-del-cont-span span:first-child {
  float: left;
  width: 270px;
}
.course-del .course-del-top .course-del-box .course-del-info .course-del-cont-span span:first-child img {
  float: left;
  margin-top: 19px;
  margin-right: 5px;
}
.course-del .course-del-top .course-del-box .course-del-info .course-del-cont-span span:first-child + span {
  float: left;
  margin-left: 5px;
  color: #119ced;
}
.course-del .course-del-top .course-del-box .course-del-info .course-del-cont-span span:first-child + span img {
  float: left;
  margin-top: 19px;
  margin-right: 5px;
}
.course-del .course-del-top .course-del-box .course-del-info .course-del-button-box {
  position: absolute;
  bottom: 30px;
  left: 32px;
  overflow: hidden;
}
.course-del .course-del-top .course-del-box .course-del-info .course-del-button-box .layui-btn {
  width: 150px;
  height: 56px;
  padding: 0;
  text-align: center;
  font-size: 20px;
  color: #FFFFFF;
  float: left;
}
.course-del .course-del-top .course-del-box .course-del-info .course-del-button-box .buttom-margin-left {
  margin-right: 20px;
}
.course-del .course-del-top .course-del-box .course-del-info .course-del-button-box .course-del-resource {
  background-color: #36b773;
}
.course-del .course-del-top .course-del-box .course-del-info .course-del-button-box .course-del-cooperation {
  background-color: #279ee9;
}
.course-del .course-del-top .course-del-box .course-del-info .course-del-button-box span.notLogged {
  color: #36b773;
}
.course-del .course-del-top .course-del-box .course-del-info .course-del-button-box .b-box {
  float: right;
  display: block;
  color: #333333;
  font-size: 18px;
  height: 56px;
  line-height: 56px;
  text-align: center;
}
.course-del .course-del-top .course-del-box .course-del-info .course-del-button-box .b-box .left-btn {
  float: left;
}
.course-del .course-del-top .course-del-box .course-del-info .course-del-button-box .b-box .left-btn .link {
  border-right: 1px solid #bfbfbf;
  height: 19px;
  margin-top: 18px;
  width: 1px;
  float: right;
  margin-left: 23px;
  margin-right: 23px;
}
.course-del .course-del-top .course-del-box .course-del-info .course-del-button-box .b-box .resourcesDel-button-box {
  float: left;
  cursor: pointer;
  margin-left: 10px;
}
.course-del .course-del-top .course-del-box .course-del-info .course-del-button-box .b-box .resourcesDel-button-box a {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
  font-size: 16px;
  color: #36b773;
}
.course-del .course-del-top .course-del-box .course-del-info .course-del-button-box .b-box .resourcesDel-button-box a:hover {
  text-decoration: underline;
}
.course-del .course-del-top .course-del-box .course-del-info .course-del-button-box .b-box .course-del-people {
  float: left;
  font-size: 14px;
  color: #727272;
}
.course-del .course-del-top .course-del-box .course-del-info .course-del-button-box .b-box .course-del-people .color-text {
  color: #36b773;
}
.course-del .course-del-top .course-del-box .course-del-info .course-del-button-box2 {
  float: right;
}
.course-del .course-del-top .course-del-box .course-del-info .course-del-button-box2 .b-box .layui-btn {
  width: 129px;
  height: 43px;
  background-color: #39b674;
  margin-top: 17px;
  border-radius: 0;
}
.course-del .course-del-foot {
  margin-top: 50px;
}
.course-del .course-del-foot .course-del-tab {
  width: 790px;
  min-height: 1355px;
  padding: 20px;
  background: #FFFFFF;
  float: left;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
}
.course-del .course-del-foot .course-del-tab .layui-tab {
  margin-top: 0;
  width: 100%;
}
.course-del .course-del-foot .course-del-tab .layui-tab .layui-tab-title {
  height: auto;
}
.course-del .course-del-foot .course-del-tab .layui-tab .layui-tab-title li {
  padding: 0px;
  margin-right: 40px;
  font-size: 18px;
  padding-bottom: 18px;
  color: #999999;
}
.course-del .course-del-foot .course-del-tab .layui-tab .layui-tab-title .layui-this {
  color: #333333;
}
.course-del .course-del-foot .course-del-tab .layui-tab .layui-tab-title .layui-this:after {
  height: 60px;
}
.course-del .course-del-foot .course-del-tab img {
  max-width: 100%;
}
.course-del .course-del-foot .course-del-left {
  float: right;
  width: 350px;
}
.course-del .course-del-foot .course-del-left .course-delcont-left {
  background: #ffffff;
  margin-bottom: 20px;
  padding-top: 30px;
  position: relative;
}
.course-del .course-del-foot .course-del-left .course-delcont-left .introduce-bg {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 69px;
  height: 138px;
  background: url(../assets/images/bg/course-introduce.png) no-repeat;
}
.course-del .course-del-foot .course-del-left .course-delcont-left .course-share-bg {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 69px;
  height: 135px;
  background: url(../assets/images/bg/course-share-bg.png) no-repeat;
}
.course-del .course-del-foot .course-del-left .course-delcont-left .course-titlebar {
  overflow: hidden;
  padding-bottom: 20px;
  border-bottom: 1px solid #f0f0f0;
}
.course-del .course-del-foot .course-del-left .course-delcont-left .course-titlebar .course-box {
  margin-left: 1px;
  margin-right: 28px;
  width: 4px;
  height: 20px;
  background: #36b773;
  float: left;
}
.course-del .course-del-foot .course-del-left .course-delcont-left .course-titlebar .course-titlebar-title {
  font-size: 18px;
  color: #333333;
}
.course-del .course-del-foot .course-del-left .course-delcont-left .course-delcont-left-cont {
  padding: 20px;
  overflow: hidden;
}
.course-del .course-del-foot .course-del-left .course-delcont-left .course-delcont-left-cont p {
  line-height: 26px;
  font-size: 14px;
  color: #333333;
}
.course-del .course-del-foot .course-del-left .course-delcont-left .course-delcont-left-cont .color {
  color: #36b773;
}
.course-del .course-del-foot .course-del-left .course-delcont-left .course-delcont-left-cont .course-delcont-left-cont-img {
  width: 300px;
  height: 194px;
}
.course-del .course-del-foot .course-del-left .course-delcont-left .course-delcont-left-cont .course-delcont-left-cont_dv {
  margin-top: 21px;
}
.course-del .course-del-foot .course-del-left .course-delcont-left .course-delcont-left-cont .course-delcont-left-cont_dv .course-delcont-left-cont-div-span1 {
  float: left;
  text-indent: 14px;
  width: 225px;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-wrap: break-word;
}
.course-del .course-del-foot .course-del-left .course-delcont-left .course-delcont-left-cont .course-delcont-left-cont_dv .course-delcont-left-cont-div-span2 {
  height: 20px;
  width: 75px;
  line-height: 20px;
  float: left;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  word-wrap: break-word;
}
.course-del .course-del-foot .course-del-left .course-delcont-left .course-delcont-left-cont:hover {
  cursor: pointer;
}
.course-del .course-del-foot .course-del-left .course-delcont-left .course-delcont-left-cont:hover .course-delcont-left-cont-div-span1 {
  color: #39b674;
}
.course-del .course-del-foot .course-del-left .course-delcont-left .course-del-relevant-body {
  position: relative;
}
.course-del .course-del-foot .course-del-left .course-delcont-left .course-del-relevant {
  padding-top: 20px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 10px;
  clear: left;
}
.course-del .course-del-foot .course-del-left .course-delcont-left .course-del-relevant .course-del-relevant-prev,
.course-del .course-del-foot .course-del-left .course-delcont-left .course-del-relevant .course-del-relevant-next {
  position: absolute;
  left: 50%;
  margin-left: -12px;
  width: 24px;
  height: 20px;
  z-index: 3;
  cursor: pointer;
  background-repeat: no-repeat;
}
.course-del .course-del-foot .course-del-left .course-delcont-left .course-del-relevant .course-del-relevant-prev {
  top: 0px;
  background: url('../assets/images/icons/course-del-relevant-prev.png');
}
.course-del .course-del-foot .course-del-left .course-delcont-left .course-del-relevant .course-del-relevant-prev:hover {
  background: url('../assets/images/icons/course-del-relevant-prev-hover.png');
}
.course-del .course-del-foot .course-del-left .course-delcont-left .course-del-relevant .course-del-relevant-next {
  bottom: 0px;
  background: url('../assets/images/icons/course-del-relevant-next.png');
}
.course-del .course-del-foot .course-del-left .course-delcont-left .course-del-relevant .course-del-relevant-next:hover {
  background: url('../assets/images/icons/course-del-relevant-next-hover.png');
}
.course-del .course-del-foot .course-del-left .course-delcont-left .course-del-relevant .course-del-lists-box {
  position: relative;
  height: 745px;
}
.course-del .course-del-foot .course-del-left .course-delcont-left .course-del-relevant .course-del-lists-box::after,
.course-del .course-del-foot .course-del-left .course-delcont-left .course-del-relevant .course-del-lists-box::before {
  content: "";
  display: table;
}
.course-del .course-del-foot .course-del-left .course-delcont-left .course-del-relevant .course-del-lists-box:after {
  clear: both;
}
.course-del .course-del-foot .course-del-left .course-delcont-left .course-del-relevant .course-del-lists-box .course-del-lists ul {
  overflow: hidden;
  width: 100%;
  height: 10000px;
}
.course-del .course-del-foot .course-del-left .course-delcont-left .course-del-relevant .course-del-lists-box .course-del-lists ul li {
  margin-right: 30px;
  display: block;
  width: 300px;
  position: relative;
}
.course-del .course-del-foot .course-del-left .course-delcont-left .course-del-relevant .course-del-lists-box .course-del-lists ul li a {
  display: block;
}
.course-del .course-del-foot .course-del-left .course-delcont-left .course-del-relevant .course-del-lists-box .course-del-lists ul li a .course-del-relevant-box {
  width: 100%;
}
.course-del .course-del-foot .course-del-left .course-delcont-left .course-del-relevant .course-del-lists-box .course-del-lists ul li a .course-del-relevant-box .course-del-pic {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.course-del .course-del-foot .course-del-left .course-delcont-left .course-del-relevant .course-del-lists-box .course-del-lists ul li a .course-del-relevant-box .course-del-pic img {
  width: 100%;
  height: 194px;
  -webkit-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
  transform-origin: center;
}
.course-del .course-del-foot .course-del-left .course-delcont-left .course-del-relevant .course-del-lists-box .course-del-lists ul li a .course-del-relevant-box .course-del-cont {
  width: 100%;
  height: 56px;
  line-height: 56px;
}
.course-del .course-del-foot .course-del-left .course-delcont-left .course-del-relevant .course-del-lists-box .course-del-lists ul li a .course-del-relevant-box .course-del-cont h3 {
  font-size: 16px;
  color: #333333;
  word-wrap: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
}
.course-del .course-del-foot .course-del-left .course-delcont-left .course-del-relevant .course-del-lists-box .course-del-lists ul li a .course-del-relevant-box .course-del-cont .course-obj-text {
  display: none;
}
.course-del .course-del-foot .course-del-left .course-delcont-left .course-del-relevant .course-del-lists-box .course-del-lists ul li a .course-del-relevant-box .course-del-cont .course-obj-icon {
  display: block;
  font-size: 14px;
  margin-left: 3px;
}
.course-del .course-del-foot .course-del-left .course-delcont-left .course-del-relevant .course-del-lists-box .course-del-lists ul li a .course-del-relevant-box .course-del-cont .course-obj-unber {
  color: #999999;
  display: block;
  float: right;
  margin-top: 2px;
}
.course-del .course-del-foot .course-del-left .course-delcont-left .course-del-relevant .course-del-lists-box .course-del-lists ul li a .course-del-relevant-box:hover .course-obj-text {
  display: block;
  color: #36b773;
}
.course-del .course-del-foot .course-del-left .course-delcont-left .course-del-relevant .course-del-lists-box .course-del-lists ul li a .course-del-relevant-box:hover .course-obj-icon {
  display: none;
}
.course-del .course-del-foot .course-del-left .course-delcont-left .course-del-relevant .course-del-lists-box .course-del-lists ul li a .course-del-relevant-box:hover .course-obj-unber {
  color: #36b773;
}
.course-del .course-del-foot .course-del-left .course-delcont-left .course-del-relevant .course-del-lists-box .course-del-lists ul li:hover .course-del-cont h3 {
  color: #36b773 !important;
}
.course-del .course-del-foot .course-del-left .course-delcont-left .course-del-relevant .course-del-lists-box .course-del-lists ul li:hover .course-del-pic img {
  transform: scale(1.2);
}
.popup-video {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: #000000;
}
.popup-video .video-box {
  width: 100%;
  height: 100%;
}
.review .cont {
  margin-left: 130px !important;
}
.review .cont p {
  text-align: left !important;
}
.review .close-btn {
  color: #FFFFFF !important;
  float: inherit !important;
  background-color: #36b773 !important;
}
.ApplyResource .ApplyResource-box {
  margin-top: 10px;
}
.ApplyResource .ApplyResource-box .ApplyResource-body {
  width: 548px;
  margin: 0 auto;
}
.ApplyResource .ApplyResource-box .ApplyResource-body .error {
  margin-left: 100px;
}
.ApplyResource .ApplyResource-box .ApplyResource-body .layui-form-item {
  margin-top: 20px;
}
.ApplyResource .ApplyResource-box .ApplyResource-body .layui-form-item .layui-form-label {
  width: 100px;
  padding: 0px;
}
.ApplyResource .ApplyResource-box .ApplyResource-body .layui-form-item .layui-form-label .major {
  line-height: 38px;
  color: #FF0000;
}
.ApplyResource .ApplyResource-box .ApplyResource-body .layui-form-item .layui-input-inline {
  width: 432px;
  overflow: hidden;
}
.ApplyResource .ApplyResource-box .ApplyResource-body .layui-form-item .layui-input-inline .disabled-text {
  width: 100%;
  background-color: #f1f1f1;
}
.ApplyResource .ApplyResource-box .ApplyResource-body .layui-form-item .layui-input-inline .btn-add,
.ApplyResource .ApplyResource-box .ApplyResource-body .layui-form-item .layui-input-inline .btn-min {
  width: 30px;
  height: 38px;
  line-height: 38px;
  font-size: 14px;
  color: #333333;
  border: none;
  float: left;
  cursor: pointer;
  background-color: #f8f8f8;
  border: #f8f8f8 1px solid;
}
.ApplyResource .ApplyResource-box .ApplyResource-body .layui-form-item .layui-input-inline .btn-add:hover,
.ApplyResource .ApplyResource-box .ApplyResource-body .layui-form-item .layui-input-inline .btn-min:hover {
  border: #36b773 1px solid;
  color: #36b773;
}
.ApplyResource .ApplyResource-box .ApplyResource-body .layui-form-item .layui-input-inline .btn-input {
  width: 65px;
  float: left;
  margin: 0px 10px;
}
.ApplyResource .ApplyResource-box .ApplyResource-body .layui-form-item .layui-input-inline.no-lebel {
  margin-left: 100px;
}
.ApplyResource .ApplyResource-box .ApplyResource-body .layui-form-item .layui-input-inline input {
  border: 1px solid #f0f0f0;
  margin: 0px;
}
.ApplyResource .ApplyResource-box .ApplyResource-body .layui-form-item .layui-input-inline input.input-width-no {
  width: 224px;
}
.ApplyResource .ApplyResource-box .ApplyResource-body .layui-form-item .layui-input-block {
  float: left;
  width: 432px;
  margin-left: 0px;
  margin-right: 10px;
}
.ApplyResource .ApplyResource-box .ApplyResource-body .layui-form-item .layui-input-block ul {
  overflow: hidden;
  margin-right: -15px;
}
.ApplyResource .ApplyResource-box .ApplyResource-body .layui-form-item .layui-input-block ul li {
  float: left;
  width: 134px;
  margin-right: 15px;
}
.ApplyResource .ApplyResource-box .ApplyResource-body .layui-form-item .layui-input-block ul li select {
  width: 100%;
  height: 38px;
  line-height: 38px;
  border: 1px solid #f0f0f0;
  margin: 0px;
  padding: 0px;
}
.ApplyResource .ApplyResource-box .ApplyResource-body .layui-form-item .layui-input-block .ApplyResource-textarea {
  resize: none;
  margin: 0px;
}
.ApplyResource .ApplyResource-box .ApplyResource-body .layui-form-item .layui-input-block.box-btn-block {
  float: initial;
  margin: 0 auto;
  margin-top: 40px;
  overflow: hidden;
}
.ApplyResource .ApplyResource-box .ApplyResource-body .layui-form-item .layui-input-block.box-btn-block .ApplyResource-btn {
  width: 209px;
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  padding: 0px;
  margin: 0px;
  cursor: pointer;
}
.ApplyResource .ApplyResource-box .ApplyResource-body .layui-form-item .layui-input-block.box-btn-block .ApplyResource-btn.submit-btn {
  float: left;
  background-color: #3db675;
  color: #FFFFFF;
}
.ApplyResource .ApplyResource-box .ApplyResource-body .layui-form-item .layui-input-block.box-btn-block .ApplyResource-btn.primary-btn {
  float: right;
  background-color: #FFFFFF;
  color: #333333;
  position: relative;
}
