.index-course {
  width: 1200px;
  margin: 0 auto;
}
.index-course .am-titlebar {
  margin-top: 50px;
  border: none;
}
.index-course .index-course-lists {
  width: 1230px;
}
.index-course .index-course-lists ul {
  overflow: hidden;
}
.index-course .index-course-lists ul li {
  width: 25%;
  float: left;
  margin-bottom: 30px;
}
.index-course .index-course-lists ul li .am-gallery-item {
  width: 277px;
  height: 255px;
  background: #FFFFFF;
  overflow: hidden;
}
.index-course .index-course-lists ul li .am-gallery-item a {
  width: 99%;
  height: 99%;
  border: 1px solid #f0f0f0;
  display: block;
}
.index-course .index-course-lists ul li .am-gallery-item a .home-pic {
  width: 100%;
  height: 179px;
  overflow: hidden;
}
.index-course .index-course-lists ul li .am-gallery-item a .home-pic img {
  width: 100%;
  height: 100%;
  -webkit-transition: all ease-in-out 0.5s;
  -moz-transition: all ease-in-out 0.5s;
  -ms-transition: all ease-in-out 0.5s;
  -o-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
  transform-origin: center;
}
.index-course .index-course-lists ul li .am-gallery-item a h3 {
  display: block;
  margin-top: 30px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 100;
  color: #333333;
  width: 100%;
  height: 16px;
  line-height: 16px;
  word-wrap: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
}
.index-course .index-course-lists ul li .am-gallery-item a:hover {
  box-shadow: 2px 2px 20px rgba(45, 50, 22, 0.2);
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4,Direction=135, Color='#000000')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color='#000000');
}
.index-course .index-course-lists ul li:hover .am-gallery-item a img {
  transform: scale(1.2);
}
.index-course .index-course-lists ul li:hover .am-gallery-title {
  color: #36b773 !important;
}
.index-course .course-list-nodata {
  text-align: center;
  color: #666;
}
.index-sk-and-assert {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  /**/
}
.index-sk-and-assert .index-qa {
  float: left;
  width: 800px;
  margin-top: 50px;
}
.index-sk-and-assert .index-qa .am-titlebar .title2 {
  margin-left: 20px;
  font-size: 16px;
  height: 24px;
  line-height: 24px;
  text-decoration: underline;
  cursor: pointer;
}
.index-sk-and-assert .index-qa .am-titlebar .title2:hover {
  color: #36B773;
}
.index-sk-and-assert .index-qa ul {
  display: block;
}
.index-sk-and-assert .index-qa ul li {
  display: block;
  padding: 0 18px;
  overflow: hidden;
  background: #ffffff;
  border-bottom: 1px solid #f1f1f1;
}
.index-sk-and-assert .index-qa ul li a {
  display: block;
}
.index-sk-and-assert .index-qa ul li a:hover span,
.index-sk-and-assert .index-qa ul li a:hover .index-qa-cont {
  color: #36B773;
}
.index-sk-and-assert .index-qa ul li .index-qa-list {
  margin-top: 30px;
  margin-bottom: 30px;
}
.index-sk-and-assert .index-qa ul li .index-qa-list .index-qa-top {
  font-size: 16px;
  overflow: hidden;
}
.index-sk-and-assert .index-qa ul li .index-qa-list .index-qa-top .index-qa-box {
  float: left;
  width: 60px;
  height: 24px;
  line-height: 24px;
  font-size: 14px;
  background: #36b773;
  margin-right: 8px;
  text-align: center;
  color: #FFFFFF;
}
.index-sk-and-assert .index-qa ul li .index-qa-list .index-qa-top .index-qa-name {
  font-weight: 600;
  padding-right: 10px;
}
.index-sk-and-assert .index-qa ul li .index-qa-list .index-qa-top .index-answer {
  padding-right: 10px;
}
.index-sk-and-assert .index-qa ul li .index-qa-list .index-qa-top .index-qa-title {
  color: #36B773;
}
.index-sk-and-assert .index-qa ul li .index-qa-list .index-qa-cont {
  margin-top: 10px;
  font-size: 14px;
  color: #a0a0a0;
  width: 100%;
  word-wrap: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.index-sk-and-assert .index-uq {
  float: right;
  width: 350px;
  background: #FFFFFF;
  margin-top: 20px;
  padding-top: 30px;
}
.index-sk-and-assert .index-uq .am-titlebar {
  overflow: hidden;
}
.index-sk-and-assert .index-uq .am-titlebar .tb-box {
  margin-left: 1px;
  margin-right: 28px;
  width: 4px;
  height: 20px;
  background: #36b773;
  float: left;
}
.index-sk-and-assert .index-uq .am-titlebar .am-titlebar-nav {
  margin-right: 30px;
}
.index-sk-and-assert .index-uq ul {
  display: block;
  min-height: 444px;
}
.index-sk-and-assert .index-uq ul li {
  display: block;
  overflow: hidden;
  border-bottom: 1px solid #f1f1f1;
}
.index-sk-and-assert .index-uq ul li .index-uq-box {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 32px;
  margin-right: 40px;
  font-size: 14px;
}
.index-sk-and-assert .index-uq ul li .index-uq-box a {
  display: block;
}
.index-sk-and-assert .index-uq ul li .index-uq-box a:hover h3 {
  color: #36B773;
}
.index-sk-and-assert .index-uq ul li .index-uq-box a:hover .index-uq-bottom {
  color: #36B773;
}
.index-sk-and-assert .index-uq ul li .index-uq-box .am-gallery-title {
  display: block;
  font-size: 16px;
  font-weight: 100;
  color: #333333;
  width: 100%;
  word-wrap: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.index-sk-and-assert .index-uq ul li .index-uq-box .index-uq-bottom {
  margin-top: 18px;
  width: 100%;
  font-size: 14px;
  height: 14px;
  line-height: 14px;
  color: #999999;
  word-wrap: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
