html,
body {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 0;
  margin: 0;
  font-family: "微软雅黑";
}
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6 {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
a {
  color: inherit;
  border: none;
  text-decoration: none;
}
#content {
  overflow: hidden;
}
.am-titlebar {
  overflow: hidden;
  border-bottom: 1px solid #f0f0f0;
}
.am-titlebar .am-titlebar-title,
.am-titlebar .am-titlebar-nav {
  padding-bottom: 20px;
}
.am-titlebar h2.am-titlebar-title {
  display: block;
  float: left;
  color: #333333;
  font-size: 20px;
  font-weight: 100;
}
.am-titlebar .am-titlebar-nav {
  float: right;
}
.am-titlebar .am-titlebar-nav a {
  font-size: 14px;
  color: #bbbbbb;
}
.am-titlebar .am-titlebar-nav a:hover {
  color: #29AE21;
}
.font {
  width: auto;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  vertical-align: top;
}
.font3 {
  letter-spacing: 0.5em;
  margin-right: -0.5em;
}
.font2 {
  letter-spacing: 2.0em;
  margin-right: -2em;
}
.font2e {
  letter-spacing: 2.3em;
  margin-right: -2.3em;
}
.error {
  font-size: 16px;
  color: #FF0000;
}
.course-del-nav {
  width: 100%;
  background-color: #ffffff;
}
.course-del-nav .nav {
  width: 1200px;
  background-color: #ffffff;
  margin: 20px auto 0;
}
.course-del-nav .nav .layui-breadcrumb a,
.course-del-nav .nav .layui-breadcrumb a span {
  font-size: 14px;
  color: #36b773 !important;
}
.course-del-nav .nav .layui-breadcrumb a cite {
  color: #333333 !important;
}
.layui-layer-setwin .layui-layer-close2 {
  right: 0 !important;
  top: 0 !important;
}
.laypageskin_molv a,
.laypageskin_molv span {
  padding: 0 15px !important;
  height: 40px !important;
  line-height: 40px !important;
}
table.dataTable thead tr th {
  border-bottom: none !important;
  background-color: #f2fcf7 !important;
  height: 52px !important;
  line-height: 52px !important;
  padding: 0 !important;
  text-align: left !important;
}
table.dataTable tbody.display tr td.even > .sorting_1 {
  background-color: none !important;
}
table.dataTable tbody tr {
  height: 52px !important;
  line-height: 52px !important;
}
table.dataTable tbody tr td {
  border-top: 1px solid #f0f0f0 !important;
  padding: 0 !important;
}
table.dataTable tbody tr.odd {
  background-color: #FFFFFF !important;
  border-left: 1px solid #f0f0f0 !important;
  border-right: 1px solid #f0f0f0 !important;
}
table.dataTable tbody tr.odd > .sorting_1 {
  background-color: #FFFFFF !important;
}
table.dataTable tbody tr.even {
  background-color: #f2fcf7 !important;
}
table.dataTable tbody tr.even > .sorting_1 {
  background-color: #f2fcf7 !important;
}
table.dataTable tbody tr.selected {
  background-color: #B0BED9 !important;
}
table.dataTable tbody tr.selected > .sorting_1 {
  background-color: #B0BED9 !important;
}
table.dataTable.no-footer {
  border-bottom: 1px solid #f0f0f0 !important;
}
.dataTables_wrapper .dataTables_paginate a {
  border: none !important;
}
.dataTables_wrapper .dataTables_paginate a.paginate_button {
  border-radius: 2px !important;
  background-color: #f1eff0 !important;
  margin: 0 3px 6px !important;
  padding: 0 15px !important;
  height: 40px !important;
  line-height: 40px !important;
  display: inline-block !important;
  vertical-align: top !important;
  font-size: 12px !important;
}
.dataTables_wrapper .dataTables_paginate a:hover {
  background: #2cb82c !important;
  border: none !important;
  color: #FFFFFF !important;
}
.dataTables_wrapper .dataTables_paginate span a.paginate_button.current {
  background: #2cb82c !important;
  border: none !important;
  color: #FFFFFF !important;
}
.dataTables_wrapper .dataTables_paginate span a.paginate_button.current:hover {
  color: #FFFFFF !important;
}
table.dataTable td.select-checkbox::before {
  margin-top: 6px !important;
}
table.dataTable td.select-checkbox::after {
  margin-top: -15px !important;
  margin-left: -6px !important;
}
#portamento_container {
  float: right;
  position: relative;
}
#portamento_container {
  float: right;
  position: relative;
  /* no need to float anymore, become absolutely positoned */
  /* if the panel is sliding, it needs position:fixed */
}
#portamento_container #sidebar {
  float: none;
  position: absolute;
}
#portamento_container #sidebar.fixed {
  position: fixed;
}
/* take the positioning of the sidebar, and become the start point for the sidebar positioning */
.myLogin {
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: url("../assets/images/login.jpg") no-repeat;
}
.myLogin .popup_login {
  width: 490px;
  min-height: 465px;
  border-radius: 5px;
  box-shadow: 0 0 10px #ccc;
  margin: 179px auto;
  overflow: hidden;
  background-color: #fff;
}
.myLogin .popup_login .popup_login_dv {
  width: 370px;
  margin: 60px auto;
}
.myLogin .popup_login .popup_login_dv .popup_login_dv_h {
  font-size: 23px;
  text-align: center;
}
.myLogin .popup_login .popup_login_dv .popup_login_dv_span {
  color: #666;
}
.myLogin .popup_login .popup_login_dv .popup_login_dv_span img {
  float: left;
  margin-top: 7px;
}
.myLogin .popup_login .popup_login_dv .popup_login_dv_span span + span {
  float: right;
}
.myLogin .popup_login .popup_login_dv .popup_login_dv_span span + span a {
  color: #39b674;
  float: left;
}
.myLogin .popup_login .popup_login_dv .popup_login_dv_span span + span img {
  float: right;
  margin-top: 2px;
  margin-left: 5px;
}
.myLogin .popup_login .popup_login_dv div {
  margin: 20px auto;
}
.myLogin .popup_login .popup_login_dv div input[type='checkbox'] {
  height: 18px;
  float: left;
}
.myLogin .popup_login .popup_login_dv div input[type='checkbox'] + span a {
  color: #44bd7d;
}
.myLogin .popup_login .popup_login_dv .popup_login_dv_ipt {
  height: 50px;
  width: 100%;
}
.myLogin .popup_login .popup_login_dv .popup_login_dv_ipt input {
  width: 100%;
  height: 48px;
  border: 1px solid #f0f0f0;
  outline: none;
  font-size: 15px;
  text-indent: 10px;
  color: #bbbbbb;
}
.myLogin .popup_login .popup_login_dv .popup_login_dv_ipt .verification {
  width: 252px;
  display: inline-block;
}
.myLogin .popup_login .popup_login_dv .popup_login_dv_ipt .verification + img {
  float: right;
  width: 108px;
  height: 50px;
}
.myLogin .popup_login .popup_login_dv .popup_login_dv_ipt button {
  width: 100%;
  height: 100%;
  font-size: 17px;
  background-color: #2db871;
  letter-spacing: 5px;
}
.myLogin .popup_login .popup_login_dv .popup_login_dv_mm span {
  float: right;
}
.myLogin .popup_login .popup_login_dv .popup_login_dv_mm span a {
  color: #36b773;
}
