.popup-login {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
.popup-login .popup-login-logo {
  width: 420px;
  margin: 0 auto;
  margin-top: 57px;
  margin-bottom: 39px;
}
.popup-login .popup-login-prompt {
  font-size: 16px;
  color: #bbbbbb;
  width: 420px;
  margin: 0 auto;
  margin-bottom: 40px;
  text-align: center;
}
.popup-login .popup-login-reg {
  position: absolute;
  top: 130px;
  right: 30px;
  font-size: 16px;
  color: #bbbbbb;
}
.popup-login form {
  width: 420px;
  margin: 0 auto;
}
.popup-login form input {
  display: block;
  width: 400px;
  height: 50px;
  line-height: 50px;
  font-size: 16px;
  padding: 0px 10px;
  border: 1px solid #f0f0f0;
}
.popup-login form .password {
  margin-top: 20px;
}
.popup-login form .popup-login-btn {
  width: 100%;
  height: 50px;
  line-height: 50px;
  background-color: #36b773;
  font-size: 16px;
  color: #FFFFFF;
  text-align: center;
  margin-top: 40px;
}
.popup-login .forget-password {
  display: block;
  position: relative;
  width: 420px;
  margin: 0 auto;
  margin-top: 10px;
  text-align: right;
  color: #bbbbbb;
}
