html,
body {
  width: 100%;
  height: 100%;
  position: absolute;
  padding: 0;
  margin: 0;
  font-family: "微软雅黑";
}
ul,
li,
ol,
h1,
h2,
h3,
h4,
h5,
h6 {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
a {
  color: inherit;
  border: none;
  text-decoration: none;
}
#content {
  overflow: hidden;
}
.am-titlebar {
  overflow: hidden;
  border-bottom: 1px solid #f0f0f0;
}
.am-titlebar .am-titlebar-title,
.am-titlebar .am-titlebar-nav {
  padding-bottom: 20px;
}
.am-titlebar h2.am-titlebar-title {
  display: block;
  float: left;
  color: #333333;
  font-size: 20px;
  font-weight: 100;
}
.am-titlebar .am-titlebar-nav {
  float: right;
}
.am-titlebar .am-titlebar-nav a {
  font-size: 14px;
  color: #bbbbbb;
}
.am-titlebar .am-titlebar-nav a:hover {
  color: #29AE21;
}
.font {
  width: auto;
  display: inline-block;
  *zoom: 1;
  *display: inline;
  vertical-align: top;
}
.font3 {
  letter-spacing: 0.5em;
  margin-right: -0.5em;
}
.font2 {
  letter-spacing: 2.0em;
  margin-right: -2em;
}
.font2e {
  letter-spacing: 2.3em;
  margin-right: -2.3em;
}
.error {
  font-size: 16px;
  color: #FF0000;
}
.course-del-nav {
  width: 100%;
  background-color: #ffffff;
}
.course-del-nav .nav {
  width: 1200px;
  background-color: #ffffff;
  margin: 20px auto 0;
}
.course-del-nav .nav .layui-breadcrumb a,
.course-del-nav .nav .layui-breadcrumb a span {
  font-size: 14px;
  color: #36b773 !important;
}
.course-del-nav .nav .layui-breadcrumb a cite {
  color: #333333 !important;
}
.layui-layer-setwin .layui-layer-close2 {
  right: 0 !important;
  top: 0 !important;
}
.laypageskin_molv a,
.laypageskin_molv span {
  padding: 0 15px !important;
  height: 40px !important;
  line-height: 40px !important;
}
table.dataTable thead tr th {
  border-bottom: none !important;
  background-color: #f2fcf7 !important;
  height: 52px !important;
  line-height: 52px !important;
  padding: 0 !important;
  text-align: left !important;
}
table.dataTable tbody.display tr td.even > .sorting_1 {
  background-color: none !important;
}
table.dataTable tbody tr {
  height: 52px !important;
  line-height: 52px !important;
}
table.dataTable tbody tr td {
  border-top: 1px solid #f0f0f0 !important;
  padding: 0 !important;
}
table.dataTable tbody tr.odd {
  background-color: #FFFFFF !important;
  border-left: 1px solid #f0f0f0 !important;
  border-right: 1px solid #f0f0f0 !important;
}
table.dataTable tbody tr.odd > .sorting_1 {
  background-color: #FFFFFF !important;
}
table.dataTable tbody tr.even {
  background-color: #f2fcf7 !important;
}
table.dataTable tbody tr.even > .sorting_1 {
  background-color: #f2fcf7 !important;
}
table.dataTable tbody tr.selected {
  background-color: #B0BED9 !important;
}
table.dataTable tbody tr.selected > .sorting_1 {
  background-color: #B0BED9 !important;
}
table.dataTable.no-footer {
  border-bottom: 1px solid #f0f0f0 !important;
}
.dataTables_wrapper .dataTables_paginate a {
  border: none !important;
}
.dataTables_wrapper .dataTables_paginate a.paginate_button {
  border-radius: 2px !important;
  background-color: #f1eff0 !important;
  margin: 0 3px 6px !important;
  padding: 0 15px !important;
  height: 40px !important;
  line-height: 40px !important;
  display: inline-block !important;
  vertical-align: top !important;
  font-size: 12px !important;
}
.dataTables_wrapper .dataTables_paginate a:hover {
  background: #2cb82c !important;
  border: none !important;
  color: #FFFFFF !important;
}
.dataTables_wrapper .dataTables_paginate span a.paginate_button.current {
  background: #2cb82c !important;
  border: none !important;
  color: #FFFFFF !important;
}
.dataTables_wrapper .dataTables_paginate span a.paginate_button.current:hover {
  color: #FFFFFF !important;
}
table.dataTable td.select-checkbox::before {
  margin-top: 6px !important;
}
table.dataTable td.select-checkbox::after {
  margin-top: -15px !important;
  margin-left: -6px !important;
}
#portamento_container {
  float: right;
  position: relative;
}
#portamento_container {
  float: right;
  position: relative;
  /* no need to float anymore, become absolutely positoned */
  /* if the panel is sliding, it needs position:fixed */
}
#portamento_container #sidebar {
  float: none;
  position: absolute;
}
#portamento_container #sidebar.fixed {
  position: fixed;
}
/* take the positioning of the sidebar, and become the start point for the sidebar positioning */
/**
     * ul 表格
 */
.table {
  border: 1px solid #f0f0f0;
  border-bottom: none;
}
.table .table-tr {
  overflow: hidden;
  height: 50px;
  line-height: 50px;
  border-bottom: 1px solid #f0f0f0;
}
.table .table-tr.odd {
  background-color: #FFFFFF;
}
.table .table-tr.even {
  background-color: #f2fcf7;
}
.table .table-tr .table-th,
.table .table-tr .table-td {
  float: left;
  width: auto;
  height: 100%;
}
.facility-value {
  float: left;
  margin-top: 20px;
  margin-left: 10px;
}
.facility-value ul {
  overflow: hidden;
}
.facility-value ul li {
  display: block;
  float: left;
  width: 12px;
  height: 6px;
  margin-right: 2px;
}
.facility-value ul li.value-active {
  background: #2db871;
}
.facility-value ul li.value {
  background: #dcdcdc;
}
.fixed-box {
  float: right;
  width: 270px;
  top: 10px;
}
.fixed-box .pagePaper-questions-nav {
  min-height: 520px;
  background-color: #f3f3f3;
  overflow: hidden;
}
.fixed-box .pagePaper-questions-nav .questions-nav-title {
  overflow: hidden;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 0 16px;
}
.fixed-box .pagePaper-questions-nav .questions-nav-title h3 {
  float: left;
  font-size: 16px;
  color: #333333;
}
.fixed-box .pagePaper-questions-nav .questions-nav-title span {
  float: left;
  font-size: 14px;
  color: #333333;
  margin-top: 3px;
  margin-left: 23px;
}
.fixed-box .pagePaper-questions-nav ul {
  overflow: hidden;
  width: 255px;
  margin-right: -2px;
  margin-left: 16px;
}
.fixed-box .pagePaper-questions-nav ul li {
  float: left;
  margin-left: 2px;
  margin-bottom: 2px;
}
.fixed-box .pagePaper-questions-nav ul li .box-nav {
  vertical-align: middle;
  display: table-cell;
  *position: absolute;
  *top: 50%;
  background-color: #FFFFFF;
  width: 36.6666666px;
  height: 38.6666666px;
  cursor: pointer;
}
.fixed-box .pagePaper-questions-nav ul li .box-nav a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 14px;
  color: #333333;
  text-align: center;
  line-height: 36.666666px;
}
.fixed-box .pagePaper-top {
  height: 35px;
  line-height: 35px;
}
.fixed-box .pagePaper-top h3 {
  font-size: 16px;
  color: #333333;
  font-weight: 600;
}
.paper-main {
  width: 882px;
  float: left;
}
.paper-main .pagePaper {
  width: 100%;
}
.paper-main .pagePaper .pagePaper-top {
  overflow: hidden;
  height: 38px;
  line-height: 38px;
  border-bottom: 1px #f0f0f0 solid;
}
.paper-main .pagePaper .pagePaper-top h3 {
  float: left;
  font-size: 16px;
  font-weight: 600;
  color: #333333;
}
.paper-main .pagePaper .pagePaper-top .scoreBox {
  float: right;
  text-align: right;
}
.paper-main .pagePaper .pagePaper-top .scoreBox span {
  font-size: 14px;
  color: #333333;
}
.paper-main .pagePaper .pagePaper-content {
  width: 100%;
}
.paper-main .pagePaper .pagePaper-content ul.pagePaper-content-questions li {
  overflow: hidden;
}
.paper-main .pagePaper .pagePaper-content ul.pagePaper-content-questions li .pagePaper-content-box {
  padding-bottom: 40px;
  border-bottom: 1px solid #f0f0f0;
  padding-top: 20px;
}
.paper-main .pagePaper .pagePaper-content ul.pagePaper-content-questions li .pagePaper-content-box.no-border-bottom {
  border: none;
}
.paper-main .pagePaper .pagePaper-content ul.pagePaper-content-questions li .pagePaper-content-box .title {
  display: block;
  overflow: hidden;
}
.paper-main .pagePaper .pagePaper-content ul.pagePaper-content-questions li .pagePaper-content-box .title h3 {
  float: left;
  display: block;
  color: #36b773;
  font-size: 16px;
}
.paper-main .pagePaper .pagePaper-content ul.pagePaper-content-questions li .pagePaper-content-box .title.tianKong-title input {
  width: auto;
  height: 22px;
  border: none;
  border-bottom: 1px solid #999999;
}
.paper-main .pagePaper .pagePaper-content ul.pagePaper-content-questions li .pagePaper-content-box .title .facility-value {
  float: left;
  margin-top: 10px;
  margin-left: 10px;
}
.paper-main .pagePaper .pagePaper-content ul.pagePaper-content-questions li .pagePaper-content-box .title .facility-value ul {
  overflow: hidden;
}
.paper-main .pagePaper .pagePaper-content ul.pagePaper-content-questions li .pagePaper-content-box .title .facility-value ul li {
  display: block;
  float: left;
  width: 12px;
  height: 6px;
  margin-right: 2px;
}
.paper-main .pagePaper .pagePaper-content ul.pagePaper-content-questions li .pagePaper-content-box .title .facility-value ul li.value-active {
  background: #2db871;
}
.paper-main .pagePaper .pagePaper-content ul.pagePaper-content-questions li .pagePaper-content-box .title .facility-value ul li.value {
  background: #dcdcdc;
}
.paper-main .pagePaper .pagePaper-content ul.pagePaper-content-questions li .pagePaper-content-box .title .btn-Change {
  float: right;
  cursor: pointer;
  font-size: 16px;
  color: #279ee9;
  font-weight: 600;
}
.paper-main .pagePaper .pagePaper-content ul.pagePaper-content-questions li .pagePaper-content-box ul.title-selete {
  display: block;
  margin-left: 25px;
  margin-top: 20px;
}
.paper-main .pagePaper .pagePaper-content ul.pagePaper-content-questions li .pagePaper-content-box ul.title-selete img {
  width: 200px;
}
.paper-main .pagePaper .pagePaper-content ul.pagePaper-content-questions li .pagePaper-content-box ul.title-selete li {
  display: block;
  min-height: 40px;
  line-height: 40px;
  color: #333333;
  cursor: pointer;
}
.paper-main .pagePaper .pagePaper-content ul.pagePaper-content-questions li .pagePaper-content-box ul.title-selete li .title-selete-box {
  overflow: hidden;
}
.paper-main .pagePaper .pagePaper-content ul.pagePaper-content-questions li .pagePaper-content-box ul.title-selete li .title-selete-box input {
  float: left;
  width: 20px;
  height: 20px;
  margin-top: 10px;
}
.paper-main .pagePaper .pagePaper-content ul.pagePaper-content-questions li .pagePaper-content-box ul.title-selete li .title-selete-box label {
  float: right;
  width: 95%;
  font-size: 14px;
  cursor: pointer;
}
.paper-main .pagePaper .pagePaper-content ul.pagePaper-content-questions li .pagePaper-content-box ul.title-selete li .title-selete-box.jianDa-selete-box {
  overflow: hidden;
}
.paper-main .pagePaper .pagePaper-content ul.pagePaper-content-questions li .pagePaper-content-box ul.title-selete li .title-selete-box.jianDa-selete-box span {
  float: left;
}
.paper-main .pagePaper .pagePaper-content ul.pagePaper-content-questions li .pagePaper-content-box ul.title-selete li .title-selete-box.jianDa-selete-box p {
  float: left;
  width: 800px;
}
.paper-main .pagePaper .pagePaper-content ul.pagePaper-content-questions li .pagePaper-content-box ul.title-selete li:hover {
  background: #eafff1;
}
.paper-main .pagePaper .pagePaper-content ul.pagePaper-content-questions li .pagePaper-content-box .paper-answer {
  overflow: hidden;
  color: #333333;
  font-size: 16px;
  margin-top: 16px;
}
.paper-main .pagePaper .pagePaper-content ul.pagePaper-content-questions li .pagePaper-content-box .paper-answer .answer {
  float: left;
  font-weight: 600;
}
.paper-main .pagePaper .pagePaper-content ul.pagePaper-content-questions li .pagePaper-content-box .paper-answer .answer-contnet {
  float: left;
}
.noPermissions {
  width: 1200px;
  height: 800px;
  margin: 0 auto;
  text-align: center;
  font-size: 30px;
  color: #333333;
}
.myRegister {
  width: 100%;
  overflow: hidden;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background: #fff;
  background: url("../assets/images/login.jpg") no-repeat;
}
.myRegister .popup_login {
  width: 490px;
  min-height: 465px;
  border-radius: 5px;
  box-shadow: 0 0 10px #ccc;
  margin: 179px auto;
  overflow: hidden;
  background-color: #fff;
}
.myRegister .popup_login .popup_login_dv {
  width: 370px;
  margin: 60px auto;
}
.myRegister .popup_login .popup_login_dv .popup_login_dv_h {
  font-size: 23px;
  text-align: center;
}
.myRegister .popup_login .popup_login_dv .popup_login_dv_span {
  color: #666;
}
.myRegister .popup_login .popup_login_dv .popup_login_dv_span img {
  float: left;
  margin-top: 7px;
}
.myRegister .popup_login .popup_login_dv .popup_login_dv_span span + span {
  float: right;
}
.myRegister .popup_login .popup_login_dv .popup_login_dv_span span + span a {
  color: #39b674;
  float: left;
}
.myRegister .popup_login .popup_login_dv .popup_login_dv_span span + span img {
  float: right;
  margin-top: 2px;
  margin-left: 5px;
}
.myRegister .popup_login .popup_login_dv div {
  margin: 20px auto;
}
.myRegister .popup_login .popup_login_dv div input[type='checkbox'] {
  height: 18px;
  float: left;
}
.myRegister .popup_login .popup_login_dv div input[type='checkbox'] + span a {
  color: #44bd7d;
}
.myRegister .popup_login .popup_login_dv .popup_login_dv_ipt {
  max-height: 50px;
  width: 100%;
  position: relative;
}
.myRegister .popup_login .popup_login_dv .popup_login_dv_ipt input {
  width: 100%;
  height: 48px;
  border: 1px solid #f0f0f0;
  outline: none;
  font-size: 15px;
  text-indent: 10px;
  color: #bbbbbb;
}
.myRegister .popup_login .popup_login_dv .popup_login_dv_ipt .verification {
  width: 252px;
  display: inline-block;
}
.myRegister .popup_login .popup_login_dv .popup_login_dv_ipt .verification + img {
  float: right;
  width: 108px;
  height: 50px;
}
.myRegister .popup_login .popup_login_dv .popup_login_dv_ipt .verification_intended {
  float: right;
  width: 108px;
  height: 50px;
  line-height: 50px;
  color: #b8b8b8;
  background-color: #f0f0f0;
  position: absolute;
  top: 0;
  right: 0;
}
.myRegister .popup_login .popup_login_dv .popup_login_dv_ipt .verification_intended:hover {
  cursor: pointer;
}
.myRegister .popup_login .popup_login_dv .popup_login_dv_ipt .verification_intended2 {
  float: right;
  width: 108px;
  height: 50px;
  text-align: center;
  background-color: #f0f0f0;
  color: #535353;
  line-height: 50px;
  position: absolute;
  top: 0;
  right: 0;
}
.myRegister .popup_login .popup_login_dv .popup_login_dv_ipt button {
  width: 100%;
  height: 100%;
  font-size: 17px;
  background-color: #2db871;
  letter-spacing: 5px;
}
.myRegister .popup_login .popup_login_dv .popup_login_dv_mm span {
  float: right;
}
.myRegister .popup_login .popup_login_dv .popup_login_dv_mm span a {
  color: #36b773;
}
