/**
     * 发布作业
 */
.releasepapers.releasepapers-tab-box {
  width: 100%;
  background-color: #FFFFFF;
}
.releasepapers.releasepapers-tab-box .releasepapers-body {
  padding: 20px 30px;
  min-height: 800px;
}
.releasepapers.releasepapers-tab-box .releasepapers-body .create-test-btn {
  width: 125px;
  height: 38px;
  line-height: 38px;
  padding: 0;
  background: #36b773;
  font-size: 16px;
}
.releasepapers.releasepapers-tab-box .releasepapers-body .no-data {
  width: 100%;
  text-align: center;
  margin-top: 220px;
  margin-bottom: 280px;
}
.releasepapers.releasepapers-tab-box .releasepapers-body .no-data img {
  width: 135px;
  height: 165px;
}
.releasepapers.releasepapers-tab-box .releasepapers-body .layui-tab {
  overflow: hidden;
}
.releasepapers.releasepapers-tab-box .releasepapers-body .layui-tab .layui-tab-title {
  padding-left: 0px;
  height: 58px;
  background: #FFFFFF;
  overflow: hidden;
}
.releasepapers.releasepapers-tab-box .releasepapers-body .layui-tab .layui-tab-title li {
  height: 59px;
  line-height: 59px;
  display: block;
  float: left;
  font-size: 16px;
  font-weight: 600;
}
.releasepapers.releasepapers-tab-box .releasepapers-body .layui-tab .layui-tab-title .layui-this:after {
  height: 58px !important;
  border: none;
  border-bottom: solid 2px #2DB871;
  height: 50px;
}
.releasepapers.releasepapers-tab-box .releasepapers-body .layui-tab .layui-tab-content {
  padding: 0px;
}
.releasepapers.releasepapers-tab-box .releasepapers-body .layui-tab .layui-tab-content .layui-tab-item ul.stayHomework,
.releasepapers.releasepapers-tab-box .releasepapers-body .layui-tab .layui-tab-content .layui-tab-item ul.completedHomework {
  overflow: hidden;
  margin-top: 30px;
}
.releasepapers.releasepapers-tab-box .releasepapers-body .layui-tab .layui-tab-content .layui-tab-item ul.stayHomework li,
.releasepapers.releasepapers-tab-box .releasepapers-body .layui-tab .layui-tab-content .layui-tab-item ul.completedHomework li {
  float: left;
  margin-right: 20px;
}
.releasepapers.releasepapers-tab-box .releasepapers-body .layui-tab .layui-tab-content .layui-tab-item ul.stayHomework li .item-box,
.releasepapers.releasepapers-tab-box .releasepapers-body .layui-tab .layui-tab-content .layui-tab-item ul.completedHomework li .item-box {
  position: relative;
}
.releasepapers.releasepapers-tab-box .releasepapers-body .layui-tab .layui-tab-content .layui-tab-item ul.stayHomework li .item-time,
.releasepapers.releasepapers-tab-box .releasepapers-body .layui-tab .layui-tab-content .layui-tab-item ul.completedHomework li .item-time {
  width: 470px;
}
.releasepapers.releasepapers-tab-box .releasepapers-body .layui-tab .layui-tab-content .layui-tab-item ul.stayHomework li ul,
.releasepapers.releasepapers-tab-box .releasepapers-body .layui-tab .layui-tab-content .layui-tab-item ul.completedHomework li ul {
  overflow: hidden;
}
.releasepapers.releasepapers-tab-box .releasepapers-body .layui-tab .layui-tab-content .layui-tab-item ul.stayHomework li ul li,
.releasepapers.releasepapers-tab-box .releasepapers-body .layui-tab .layui-tab-content .layui-tab-item ul.completedHomework li ul li {
  float: left;
}
.releasepapers.releasepapers-tab-box .releasepapers-body .layui-tab .layui-tab-content .layui-tab-item ul.stayHomework li label,
.releasepapers.releasepapers-tab-box .releasepapers-body .layui-tab .layui-tab-content .layui-tab-item ul.completedHomework li label {
  float: left;
  display: block;
  width: 46px;
  height: 35px;
  line-height: 35px;
}
.releasepapers.releasepapers-tab-box .releasepapers-body .layui-tab .layui-tab-content .layui-tab-item ul.stayHomework li .label-t6,
.releasepapers.releasepapers-tab-box .releasepapers-body .layui-tab .layui-tab-content .layui-tab-item ul.completedHomework li .label-t6 {
  width: 75px;
}
.releasepapers.releasepapers-tab-box .releasepapers-body .layui-tab .layui-tab-content .layui-tab-item ul.stayHomework li label.completedLabel,
.releasepapers.releasepapers-tab-box .releasepapers-body .layui-tab .layui-tab-content .layui-tab-item ul.completedHomework li label.completedLabel {
  width: 20px;
}
.releasepapers.releasepapers-tab-box .releasepapers-body .layui-tab .layui-tab-content .layui-tab-item ul.stayHomework li input.completedHomeworkName,
.releasepapers.releasepapers-tab-box .releasepapers-body .layui-tab .layui-tab-content .layui-tab-item ul.completedHomework li input.completedHomeworkName {
  width: 290px;
  padding-right: 40px;
}
.releasepapers.releasepapers-tab-box .releasepapers-body .layui-tab .layui-tab-content .layui-tab-item ul.stayHomework li .completedHomeworkSubmit,
.releasepapers.releasepapers-tab-box .releasepapers-body .layui-tab .layui-tab-content .layui-tab-item ul.completedHomework li .completedHomeworkSubmit {
  cursor: pointer;
  border: none;
  background-color: #FFFFFF;
  width: 40px;
  height: 35px;
  position: absolute;
  top: 1px;
  right: 1px;
  border-left: 1px solid #f0f0f0;
}
.releasepapers.releasepapers-tab-box .releasepapers-body .layui-tab .layui-tab-content .layui-tab-item ul.stayHomework li .completedHomeworkSubmit i,
.releasepapers.releasepapers-tab-box .releasepapers-body .layui-tab .layui-tab-content .layui-tab-item ul.completedHomework li .completedHomeworkSubmit i {
  font-size: 20px;
}
.releasepapers.releasepapers-tab-box .releasepapers-body .layui-tab .layui-tab-content .layui-tab-item ul.stayHomework li select,
.releasepapers.releasepapers-tab-box .releasepapers-body .layui-tab .layui-tab-content .layui-tab-item ul.completedHomework li select,
.releasepapers.releasepapers-tab-box .releasepapers-body .layui-tab .layui-tab-content .layui-tab-item ul.stayHomework li input,
.releasepapers.releasepapers-tab-box .releasepapers-body .layui-tab .layui-tab-content .layui-tab-item ul.completedHomework li input {
  float: left;
  width: 145px;
  height: 35px;
  line-height: 35px;
  border: #f0f0f0 1px solid;
}
.releasepapers.releasepapers-tab-box .releasepapers-body .layui-tab .layui-tab-content .layui-tab-item ul.stayHomework li.e-end-li,
.releasepapers.releasepapers-tab-box .releasepapers-body .layui-tab .layui-tab-content .layui-tab-item ul.completedHomework li.e-end-li {
  margin-right: 0px;
}
.releasepapers.releasepapers-tab-box .releasepapers-body .layui-tab .layui-tab-content .layui-tab-item .operation-icon {
  overflow: hidden;
}
.releasepapers.releasepapers-tab-box .releasepapers-body .layui-tab .layui-tab-content .layui-tab-item .operation-icon a {
  display: block;
  float: left;
  width: 25px;
  height: 100%;
  text-align: center;
  cursor: pointer;
}
.releasepapers.releasepapers-tab-box .releasepapers-body .layui-tab .layui-tab-content .layui-tab-item .operation-icon a i {
  font-size: 20px;
  color: #72cc9d;
}
.releasepapers.releasepapers-tab-box .releasepapers-body .layui-tab .layui-tab-content .layui-tab-item .operation-icon a:hover i {
  color: #75bfee;
}
.releasepapers.releasepapers-tab-box .releasepapers-body .layui-tab .layui-tab-content .layui-tab-item .operation-icon a .fa-trash-o {
  margin-top: 15px;
  margin-left: 10px;
}
.releasepapers.releasepapers-tab-box .releasepapers-body .layui-tab .layui-tab-content .layui-tab-item .operation-icon a .icon-pic {
  display: block;
  width: 18px;
  height: 18px;
  margin-top: 16px;
}
.releasepapers.releasepapers-tab-box .releasepapers-body .layui-tab .layui-tab-content .layui-tab-item .operation-icon a .icon-view {
  background: url('../assets/images/icons/view/view.png');
}
.releasepapers.releasepapers-tab-box .releasepapers-body .layui-tab .layui-tab-content .layui-tab-item .operation-icon a .icon-view:hover {
  background: url('../assets/images/icons/view/view-hover.png');
}
.releasepapers.releasepapers-tab-box .releasepapers-body .layui-tab .layui-tab-content .layui-tab-item .operation-icon a .rele-deit-pic {
  display: block;
  width: 15px;
  height: 18px;
  margin-top: 16px;
}
.releasepapers.releasepapers-tab-box .releasepapers-body .layui-tab .layui-tab-content .layui-tab-item .operation-icon a .rele-deit {
  background: url('../assets/images/icons/view/rele/rele-deit.png');
}
.releasepapers.releasepapers-tab-box .releasepapers-body .layui-tab .layui-tab-content .layui-tab-item .operation-icon a .rele-deit:hover {
  background: url('../assets/images/icons/view/rele/rele-deit-hover.png');
}
.releasepapers.releasepapers-tab-box .releasepapers-body .layui-tab .layui-tab-content .layui-tab-item .operation-icon a .rele-view-pic {
  display: block;
  width: 22px;
  height: 12px;
  margin-top: 20px;
  margin-left: 8px;
}
.releasepapers.releasepapers-tab-box .releasepapers-body .layui-tab .layui-tab-content .layui-tab-item .operation-icon a .rele-view {
  background: url('../assets/images/icons/view/rele/rele-view.png');
}
.releasepapers.releasepapers-tab-box .releasepapers-body .layui-tab .layui-tab-content .layui-tab-item .operation-icon a .rele-view:hover {
  background: url('../assets/images/icons/view/rele/rele-view-hover.png');
}
.releasepapers.releasepapers-tab-box .releasepapers-body .layui-tab .layui-tab-content .layui-tab-item .operation-icon a .rele-start-pic {
  display: block;
  width: 15px;
  height: 17px;
  margin-left: 20px;
  margin-top: 17px;
}
.releasepapers.releasepapers-tab-box .releasepapers-body .layui-tab .layui-tab-content .layui-tab-item .operation-icon a .rele-start {
  background: url('../assets/images/icons/view/rele/rele-start.png');
}
.releasepapers.releasepapers-tab-box .releasepapers-body .layui-tab .layui-tab-content .layui-tab-item .operation-icon a .rele-start:hover {
  background: url('../assets/images/icons/view/rele/rele-start-hover.png');
}
.releasepapers.releasepapers-tab-box .releasepapers-body .layui-tab .layui-tab-content .layui-tab-item .Not-carried-teaching,
.releasepapers.releasepapers-tab-box .releasepapers-body .layui-tab .layui-tab-content .layui-tab-item .HistoryExam-teaching {
  margin-top: 30px;
}
.releasepapers.releasepapers-tab-box .releasepapers-body .layui-tab .layui-tab-content .layui-tab-item .Not-carried-teaching .table .table-tr .table-th.testClass,
.releasepapers.releasepapers-tab-box .releasepapers-body .layui-tab .layui-tab-content .layui-tab-item .Not-carried-teaching .table .table-tr .table-td.testClass {
  width: 230px;
  word-wrap: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
}
.releasepapers.releasepapers-tab-box .releasepapers-body .layui-tab .layui-tab-content .layui-tab-item .Not-carried-teaching .table .table-tr .table-th.testPaper,
.releasepapers.releasepapers-tab-box .releasepapers-body .layui-tab .layui-tab-content .layui-tab-item .Not-carried-teaching .table .table-tr .table-td.testPaper {
  width: 365px;
  word-wrap: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-right: 10px;
}
.releasepapers.releasepapers-tab-box .releasepapers-body .layui-tab .layui-tab-content .layui-tab-item .Not-carried-teaching .table .table-tr .table-th.testTime,
.releasepapers.releasepapers-tab-box .releasepapers-body .layui-tab .layui-tab-content .layui-tab-item .Not-carried-teaching .table .table-tr .table-td.testTime {
  width: 280px;
}
.releasepapers.releasepapers-tab-box .releasepapers-body .layui-tab .layui-tab-content .layui-tab-item .Not-carried-teaching .table .table-tr .table-th.grouping,
.releasepapers.releasepapers-tab-box .releasepapers-body .layui-tab .layui-tab-content .layui-tab-item .Not-carried-teaching .table .table-tr .table-td.grouping {
  width: 110px;
  word-wrap: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-right: 10px;
}
.releasepapers.releasepapers-tab-box .releasepapers-body .layui-tab .layui-tab-content .layui-tab-item .Not-carried-teaching .table .table-tr .table-th.operation,
.releasepapers.releasepapers-tab-box .releasepapers-body .layui-tab .layui-tab-content .layui-tab-item .Not-carried-teaching .table .table-tr .table-td.operation {
  width: 100px;
  padding-right: 10px;
}
.releasepapers.releasepapers-tab-box .releasepapers-body .layui-tab .layui-tab-content .layui-tab-item .HistoryExam-teaching .table .table-tr .table-th.testClass,
.releasepapers.releasepapers-tab-box .releasepapers-body .layui-tab .layui-tab-content .layui-tab-item .HistoryExam-teaching .table .table-tr .table-td.testClass {
  width: 185px;
  word-wrap: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-left: 10px;
  padding-right: 10px;
}
.releasepapers.releasepapers-tab-box .releasepapers-body .layui-tab .layui-tab-content .layui-tab-item .HistoryExam-teaching .table .table-tr .table-th.testPaper,
.releasepapers.releasepapers-tab-box .releasepapers-body .layui-tab .layui-tab-content .layui-tab-item .HistoryExam-teaching .table .table-tr .table-td.testPaper {
  width: 220px;
  word-wrap: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-right: 10px;
}
.releasepapers.releasepapers-tab-box .releasepapers-body .layui-tab .layui-tab-content .layui-tab-item .HistoryExam-teaching .table .table-tr .table-th.startTime,
.releasepapers.releasepapers-tab-box .releasepapers-body .layui-tab .layui-tab-content .layui-tab-item .HistoryExam-teaching .table .table-tr .table-td.startTime {
  width: 220px;
  padding-right: 10px;
}
.releasepapers.releasepapers-tab-box .releasepapers-body .layui-tab .layui-tab-content .layui-tab-item .HistoryExam-teaching .table .table-tr .table-th.handNumber,
.releasepapers.releasepapers-tab-box .releasepapers-body .layui-tab .layui-tab-content .layui-tab-item .HistoryExam-teaching .table .table-tr .table-td.handNumber {
  width: 120px;
  padding-right: 10px;
}
.releasepapers.releasepapers-tab-box .releasepapers-body .layui-tab .layui-tab-content .layui-tab-item .HistoryExam-teaching .table .table-tr .table-th.grouping,
.releasepapers.releasepapers-tab-box .releasepapers-body .layui-tab .layui-tab-content .layui-tab-item .HistoryExam-teaching .table .table-tr .table-td.grouping {
  width: 85px;
  padding-right: 10px;
}
.releasepapers.releasepapers-tab-box .releasepapers-body .layui-tab .layui-tab-content .layui-tab-item .HistoryExam-teaching .table .table-tr .table-th.state,
.releasepapers.releasepapers-tab-box .releasepapers-body .layui-tab .layui-tab-content .layui-tab-item .HistoryExam-teaching .table .table-tr .table-td.state {
  width: 116px;
  padding-right: 10px;
}
.releasepapers.releasepapers-tab-box .releasepapers-body .layui-tab .layui-tab-content .layui-tab-item .HistoryExam-teaching .table .table-tr .table-th.operation,
.releasepapers.releasepapers-tab-box .releasepapers-body .layui-tab .layui-tab-content .layui-tab-item .HistoryExam-teaching .table .table-tr .table-td.operation {
  width: 100px;
  padding-right: 10px;
}
.releasepapers.releasepapers-tab-box .releasepapers-body .layui-tab .layui-tab-content .layui-tab-item #page1,
.releasepapers.releasepapers-tab-box .releasepapers-body .layui-tab .layui-tab-content .layui-tab-item #page2 {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}
