/**
 * 组织作业
 */
.organizepaper {
  width: 100%;
  background-color: #FFFFFF;
}
.organizepaper .organizepaper-body {
  padding: 20px 30px;
}
.organizepaper .organizepaper-body .content-title {
  padding-bottom: 20px;
  margin-top: 20px;
  overflow: hidden;
  border-bottom: 1px solid #f0f0f0;
}
.organizepaper .organizepaper-body .content-title h3 {
  float: left;
  display: block;
  height: 100%;
  font-weight: 600;
  height: 38px;
  line-height: 38px;
  font-size: 16px;
  color: #333333;
  margin-right: 27px;
}
.organizepaper .organizepaper-body .content-title button {
  float: left;
  height: 38px;
  line-height: 38px;
  font-size: 14px;
  color: #FFFFFF;
}
.organizepaper .organizepaper-body .content-body .organizepaper-contnet .organizepaper-header {
  padding-bottom: 30px;
  padding-top: 30px;
  border-bottom: 1px solid #f0f0f0;
}
.organizepaper .organizepaper-body .content-body .organizepaper-contnet .organizepaper-header ul {
  overflow: hidden;
}
.organizepaper .organizepaper-body .content-body .organizepaper-contnet .organizepaper-header ul li {
  float: left;
  margin-right: 20px;
}
.organizepaper .organizepaper-body .content-body .organizepaper-contnet .organizepaper-header ul li .item-box label {
  float: left;
  display: block;
  width: 86px;
  height: 35px;
  line-height: 35px;
}
.organizepaper .organizepaper-body .content-body .organizepaper-contnet .organizepaper-header ul li .item-box select {
  float: left;
  width: 145px;
  height: 35px;
  line-height: 35px;
  border: #f0f0f0 1px solid;
}
.organizepaper .organizepaper-body .content-body .organizepaper-contnet .organizepaper-cont table.dataTable thead tr th.name,
.organizepaper .organizepaper-body .content-body .organizepaper-contnet .organizepaper-cont table.dataTable tbody tr td.name {
  padding-left: 10px !important;
}
.organizepaper .organizepaper-body .content-body .organizepaper-contnet .organizepaper-cont table.dataTable thead tr th.operation,
.organizepaper .organizepaper-body .content-body .organizepaper-contnet .organizepaper-cont table.dataTable tbody tr td.operation {
  padding-right: 10px !important;
}
.organizepaper .organizepaper-body .content-body .organizepaper-contnet .organizepaper-cont .dataTables_wrapper .dataTables_paginate {
  margin-top: 20px;
}
.organizepaper .organizepaper-body .content-body .organizepaper-contnet .organizepaper-cont .operation-icon {
  overflow: hidden;
}
.organizepaper .organizepaper-body .content-body .organizepaper-contnet .organizepaper-cont .operation-icon a {
  display: block;
  float: left;
  width: 25px;
  height: 100%;
  text-align: center;
}
.organizepaper .organizepaper-body .content-body .organizepaper-contnet .organizepaper-cont .operation-icon a i {
  font-size: 20px;
  color: #999999;
}
.organizepaper .organizepaper-body .content-body .organizepaper-contnet .organizepaper-cont .operation-icon a:hover i {
  color: #36b773;
}
.organizepaper .organizepaper-body .content-body .contnet-dummy {
  width: 100%;
  min-height: 890px;
}
.organizepaper .organizepaper-body .content-body .contnet-dummy .dummy-file {
  margin: 0 auto;
  margin-top: 200px;
  width: 253px;
  height: 268px;
  background: url("../../app/assets/images/bg/bg-dummy-file.png") no-repeat;
}
