/**
 * 组织试卷
 */
.organizepaper {
  width: 100%;
  background-color: #FFFFFF;
}
.organizepaper .organizepaper-body {
  padding: 20px 30px;
  min-height: 800px;
}
.organizepaper .organizepaper-body .content-title {
  padding-bottom: 20px;
  margin-top: 20px;
  overflow: hidden;
  border-bottom: 1px solid #f0f0f0;
}
.organizepaper .organizepaper-body .content-title h3 {
  float: left;
  display: block;
  height: 100%;
  font-weight: 600;
  height: 38px;
  line-height: 38px;
  font-size: 16px;
  color: #333333;
  margin-right: 27px;
}
.organizepaper .organizepaper-body .content-title button {
  float: left;
  height: 38px;
  line-height: 38px;
  font-size: 14px;
  color: #FFFFFF;
  background-color: #36b773;
  font-size: 16px;
}
.organizepaper .organizepaper-body .content-body .organizepaper-contnet .organizepaper-header {
  padding-bottom: 30px;
  padding-top: 30px;
}
.organizepaper .organizepaper-body .content-body .organizepaper-contnet .organizepaper-header ul {
  overflow: hidden;
}
.organizepaper .organizepaper-body .content-body .organizepaper-contnet .organizepaper-header ul li {
  float: left;
  margin-right: 20px;
}
.organizepaper .organizepaper-body .content-body .organizepaper-contnet .organizepaper-header ul li .item-box label {
  float: left;
  display: block;
  width: 86px;
  height: 35px;
  line-height: 35px;
}
.organizepaper .organizepaper-body .content-body .organizepaper-contnet .organizepaper-header ul li .item-box select {
  float: left;
  width: 145px;
  height: 35px;
  line-height: 35px;
  border: #f0f0f0 1px solid;
}
.organizepaper .organizepaper-body .content-body .organizepaper-contnet .organizepaper-cont .table .table-tr .table-th.paperName,
.organizepaper .organizepaper-body .content-body .organizepaper-contnet .organizepaper-cont .table .table-tr .table-td.paperName {
  width: 348px;
  word-wrap: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-left: 10px;
}
.organizepaper .organizepaper-body .content-body .organizepaper-contnet .organizepaper-cont .table .table-tr .table-th.difficulty,
.organizepaper .organizepaper-body .content-body .organizepaper-contnet .organizepaper-cont .table .table-tr .table-td.difficulty {
  width: 153px;
}
.organizepaper .organizepaper-body .content-body .organizepaper-contnet .organizepaper-cont .table .table-tr .table-th.courseName,
.organizepaper .organizepaper-body .content-body .organizepaper-contnet .organizepaper-cont .table .table-tr .table-td.courseName {
  width: 164px;
  word-wrap: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.organizepaper .organizepaper-body .content-body .organizepaper-contnet .organizepaper-cont .table .table-tr .table-th.hots,
.organizepaper .organizepaper-body .content-body .organizepaper-contnet .organizepaper-cont .table .table-tr .table-td.hots {
  width: 152px;
}
.organizepaper .organizepaper-body .content-body .organizepaper-contnet .organizepaper-cont .table .table-tr .table-th.createTime,
.organizepaper .organizepaper-body .content-body .organizepaper-contnet .organizepaper-cont .table .table-tr .table-td.createTime {
  width: 200px;
}
.organizepaper .organizepaper-body .content-body .organizepaper-contnet .organizepaper-cont .table .table-tr .table-th.operation,
.organizepaper .organizepaper-body .content-body .organizepaper-contnet .organizepaper-cont .table .table-tr .table-td.operation {
  width: auto;
}
.organizepaper .organizepaper-body .content-body .organizepaper-contnet .organizepaper-cont .operation-icon {
  overflow: hidden;
}
.organizepaper .organizepaper-body .content-body .organizepaper-contnet .organizepaper-cont .operation-icon a {
  display: block;
  float: left;
  width: 25px;
  height: 100%;
  text-align: center;
}
.organizepaper .organizepaper-body .content-body .organizepaper-contnet .organizepaper-cont .operation-icon a i {
  font-size: 20px;
  color: #72cc9d;
}
.organizepaper .organizepaper-body .content-body .organizepaper-contnet .organizepaper-cont .operation-icon a:hover i {
  color: #75bfee;
}
.organizepaper .organizepaper-body .content-body .organizepaper-contnet .organizepaper-cont .operation-icon a .icon-pic {
  display: block;
  width: 18px;
  height: 18px;
  margin-top: 16px;
}
.organizepaper .organizepaper-body .content-body .organizepaper-contnet .organizepaper-cont .operation-icon a .icon-view {
  background: url('../assets/images/icons/view/view.png');
}
.organizepaper .organizepaper-body .content-body .organizepaper-contnet .organizepaper-cont .operation-icon a .icon-view:hover {
  background: url('../assets/images/icons/view/view-hover.png');
}
.organizepaper .organizepaper-body .content-body .organizepaper-contnet .organizepaper-cont .operation-icon a .icon-pic-down {
  display: block;
  width: 17px;
  height: 15px;
  margin-top: 16px;
}
.organizepaper .organizepaper-body .content-body .organizepaper-contnet .organizepaper-cont .operation-icon a .icon-down {
  background: url('../assets/images/icons/view/down.png');
}
.organizepaper .organizepaper-body .content-body .organizepaper-contnet .organizepaper-cont .operation-icon a .icon-down:hover {
  background: url('../assets/images/icons/view/down-hover.png');
}
.organizepaper .organizepaper-body .content-body .organizepaper-contnet .organizepaper-cont .operation-icon a .icon-pic-pen {
  display: block;
  width: 17px;
  height: 17px;
  margin-top: 16px;
}
.organizepaper .organizepaper-body .content-body .organizepaper-contnet .organizepaper-cont .operation-icon a .icon-pen {
  background: url('../assets/images/icons/view/pen.png');
}
.organizepaper .organizepaper-body .content-body .organizepaper-contnet .organizepaper-cont .operation-icon a .icon-pen:hover {
  background: url('../assets/images/icons/view/pen-hover.png');
}
.organizepaper .organizepaper-body .content-body .organizepaper-contnet .organizepaper-cont #page {
  margin-top: 60px;
  text-align: center;
}
.organizepaper .organizepaper-body .content-body .contnet-dummy {
  width: 100%;
  min-height: 890px;
}
.organizepaper .organizepaper-body .content-body .contnet-dummy .dummy-file {
  margin: 0 auto;
  margin-top: 200px;
  width: 253px;
  height: 268px;
  background: url("../../app/assets/images/bg/bg-dummy-file.png") no-repeat;
}
