/**
 * 预览试卷
 */
.preview {
  width: 100%;
  overflow: auto;
  background-color: #f6f6f6;
}
.preview .preview-box {
  width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
  padding: 30px;
  padding-top: 60px;
  overflow: hidden;
}
.preview .preview-box .preview-content {
  width: 100%;
  float: left;
}
.preview .preview-box .preview-content .viewtest-top {
  margin-top: 0px;
  margin-bottom: 40px;
  position: relative;
  overflow: hidden;
}
.preview .preview-box .preview-content .viewtest-top h1 {
  font-size: 24px;
  color: #333333;
  font-weight: 600;
  float: left;
}
.preview .preview-box .preview-content .viewtest-top .testScore {
  float: left;
  font-size: 14px;
  color: #666666;
  margin-top: 10px;
  margin-left: 15px;
}
.preview .preview-box .preview-content .viewtest-top a {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 30px;
  height: 30px;
  display: block;
}
.preview .preview-box .preview-content .viewtest-top a i {
  font-size: 30px;
  color: #cccccc;
}
