.View_the_review {
  padding: 20px 30px;
  min-height: 800px;
}
.View_the_review .myClass_title {
  height: 16px;
  line-height: 16px;
  padding-bottom: 20px;
  padding-top: 20px;
}
.View_the_review .myClass_title li {
  margin-right: 78px;
}
.View_the_review .myClass_title .layui-this:after {
  height: 16px;
  top: 20px;
}
.View_the_review .myClass_title li {
  line-height: 16px;
}
.View_the_review .myClass_title li:hover a {
  display: block;
}
.View_the_review .layui-tab-content {
  padding: 0;
}
.View_the_review .layui-tab-content .layui-tab-item {
  position: relative;
}
.View_the_review .layui-tab-content .layui-tab-item .View_the_review_Syllabus_content {
  overflow: hidden;
}
.View_the_review .layui-tab-content .layui-tab-item .View_the_review_Syllabus_content .markthetests_header {
  margin: 30px auto;
  font-size: 16px;
}
.View_the_review .layui-tab-content .layui-tab-item .View_the_review_Syllabus_content .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv1 .View_the_review_Syllabus_content_dv_one,
.View_the_review .layui-tab-content .layui-tab-item .View_the_review_Syllabus_content .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv2 .View_the_review_Syllabus_content_dv_one,
.View_the_review .layui-tab-content .layui-tab-item .View_the_review_Syllabus_content .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv3 .View_the_review_Syllabus_content_dv_one {
  height: 20px;
  line-height: 20px;
  text-align: left;
  display: inline-block;
  width: 189px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.View_the_review .layui-tab-content .layui-tab-item .View_the_review_Syllabus_content .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv1 hr,
.View_the_review .layui-tab-content .layui-tab-item .View_the_review_Syllabus_content .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv2 hr,
.View_the_review .layui-tab-content .layui-tab-item .View_the_review_Syllabus_content .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv3 hr {
  float: right;
  width: 225px;
}
.View_the_review .layui-tab-content .layui-tab-item .View_the_review_Syllabus_content .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv1 .View_the_review_Syllabus_content_dv_progress,
.View_the_review .layui-tab-content .layui-tab-item .View_the_review_Syllabus_content .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv2 .View_the_review_Syllabus_content_dv_progress,
.View_the_review .layui-tab-content .layui-tab-item .View_the_review_Syllabus_content .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv3 .View_the_review_Syllabus_content_dv_progress {
  height: 5px;
  line-height: 17px;
  float: left;
  width: 178px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -3px;
}
.View_the_review .layui-tab-content .layui-tab-item .View_the_review_Syllabus_content .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv1 .View_the_review_Syllabus_content_dv_dv_header,
.View_the_review .layui-tab-content .layui-tab-item .View_the_review_Syllabus_content .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv2 .View_the_review_Syllabus_content_dv_dv_header,
.View_the_review .layui-tab-content .layui-tab-item .View_the_review_Syllabus_content .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv3 .View_the_review_Syllabus_content_dv_dv_header {
  font-size: 16px;
  height: 16px;
  line-height: 17px;
  text-align: left;
  color: #333;
  display: inline-block;
  width: 189px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.View_the_review .layui-tab-content .layui-tab-item .View_the_review_Syllabus_content .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv1 .View_the_review_Syllabus_content_dv_dv_footer,
.View_the_review .layui-tab-content .layui-tab-item .View_the_review_Syllabus_content .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv2 .View_the_review_Syllabus_content_dv_dv_footer,
.View_the_review .layui-tab-content .layui-tab-item .View_the_review_Syllabus_content .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv3 .View_the_review_Syllabus_content_dv_dv_footer {
  font-size: 14px;
  height: 16px;
  line-height: 17px;
  text-align: right;
  color: #999;
  float: right;
  width: 36px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.View_the_review .layui-tab-content .layui-tab-item .View_the_review_Syllabus_content .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv1 .View_the_review_Syllabus_content_dv_one,
.View_the_review .layui-tab-content .layui-tab-item .View_the_review_Syllabus_content .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv2 .View_the_review_Syllabus_content_dv_one,
.View_the_review .layui-tab-content .layui-tab-item .View_the_review_Syllabus_content .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv3 .View_the_review_Syllabus_content_dv_one,
.View_the_review .layui-tab-content .layui-tab-item .View_the_review_Syllabus_content .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv1 .View_the_review_Syllabus_content_dv_dv_header,
.View_the_review .layui-tab-content .layui-tab-item .View_the_review_Syllabus_content .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv2 .View_the_review_Syllabus_content_dv_dv_header,
.View_the_review .layui-tab-content .layui-tab-item .View_the_review_Syllabus_content .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv3 .View_the_review_Syllabus_content_dv_dv_header {
  margin-right: 23px;
}
.View_the_review .layui-tab-content .layui-tab-item .View_the_review_Syllabus_content .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv1 .View_the_review_Syllabus_content_dv_progress,
.View_the_review .layui-tab-content .layui-tab-item .View_the_review_Syllabus_content .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv2 .View_the_review_Syllabus_content_dv_progress,
.View_the_review .layui-tab-content .layui-tab-item .View_the_review_Syllabus_content .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv3 .View_the_review_Syllabus_content_dv_progress {
  width: 178px;
  background-color: #f0f0f0;
}
.View_the_review .layui-tab-content .layui-tab-item .View_the_review_Syllabus_content .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv1 .View_the_review_Syllabus_content_dv_progress div,
.View_the_review .layui-tab-content .layui-tab-item .View_the_review_Syllabus_content .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv2 .View_the_review_Syllabus_content_dv_progress div,
.View_the_review .layui-tab-content .layui-tab-item .View_the_review_Syllabus_content .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv3 .View_the_review_Syllabus_content_dv_progress div {
  background-color: #00B83F;
  height: 100%;
}
.View_the_review .layui-tab-content .layui-tab-item .View_the_review_Syllabus_content .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv1 {
  position: relative;
  width: 450px;
  margin: 27px auto;
}
.View_the_review .layui-tab-content .layui-tab-item .View_the_review_Syllabus_content .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv1 .View_the_review_Syllabus_content_dv_dv_header {
  text-indent: 25px;
}
.View_the_review .layui-tab-content .layui-tab-item .View_the_review_Syllabus_content .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv1 span {
  position: absolute;
  font-size: 16px;
  color: #333;
  width: 16px;
  height: 16px;
  line-height: 16px;
  top: 0;
  left: -39px;
}
.View_the_review .layui-tab-content .layui-tab-item .View_the_review_Syllabus_content .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv1 p {
  position: absolute;
  text-align: center;
  display: block;
  border-radius: 50%;
  border: 1px solid #9d9d9d;
  background-color: #fff;
  font-size: 16px;
  color: #333;
  width: 29px;
  height: 29px;
  line-height: 29px;
  top: -7px;
  left: -16px;
  z-index: 3;
}
.View_the_review .layui-tab-content .layui-tab-item .View_the_review_Syllabus_content .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv1 b {
  position: absolute;
  background-color: #dcdcdc;
  width: 1px;
  height: 99999px;
  top: 0;
  left: 0;
  z-index: 1;
}
.View_the_review .layui-tab-content .layui-tab-item .View_the_review_Syllabus_content .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv2 {
  position: relative;
  width: 450px;
  margin: 15px auto;
}
.View_the_review .layui-tab-content .layui-tab-item .View_the_review_Syllabus_content .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv2 .View_the_review_Syllabus_content_dv_one {
  text-indent: 25px;
  color: #999;
}
.View_the_review .layui-tab-content .layui-tab-item .View_the_review_Syllabus_content .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv2 span {
  position: absolute;
  font-size: 16px;
  color: #333;
  width: 16px;
  height: 16px;
  line-height: 16px;
  top: 2px;
  left: -39px;
}
.View_the_review .layui-tab-content .layui-tab-item .View_the_review_Syllabus_content .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv2 p {
  position: absolute;
  text-align: center;
  display: block;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #9d9d9d;
  font-size: 16px;
  color: #333;
  width: 17px;
  height: 17px;
  line-height: 17px;
  top: 0;
  left: -9px;
  z-index: 3;
}
.View_the_review .layui-tab-content .layui-tab-item .View_the_review_Syllabus_content .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv3 {
  position: relative;
  width: 450px;
  margin: 15px auto;
}
.View_the_review .layui-tab-content .layui-tab-item .View_the_review_Syllabus_content .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv3 .View_the_review_Syllabus_content_dv_one {
  text-indent: 32px;
  color: #999;
}
.View_the_review .layui-tab-content .layui-tab-item .View_the_review_Syllabus_content .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv3 p {
  position: absolute;
  width: 6px;
  height: 2px;
  background-color: #e4e4e4;
  top: 10px;
  left: 0;
}
.View_the_review .layui-tab-content .layui-tab-item .View_the_review_Syllabus2_content {
  overflow: hidden;
}
.View_the_review .layui-tab-content .layui-tab-item .View_the_review_Syllabus2_content .markthetests_header {
  margin-top: 30px;
  font-size: 16px;
}
.View_the_review .layui-tab-content .layui-tab-item .View_the_review_Syllabus2_content .View_the_review_Syllabus2_content_dv {
  float: left;
  width: 246px;
  height: 71px;
  margin-right: 52px;
  margin-top: 40px;
  cursor: pointer;
}
.View_the_review .layui-tab-content .layui-tab-item .View_the_review_Syllabus2_content .View_the_review_Syllabus2_content_dv div {
  width: 71px;
  height: 71px;
  float: left;
}
.View_the_review .layui-tab-content .layui-tab-item .View_the_review_Syllabus2_content .View_the_review_Syllabus2_content_dv .View_the_review_Syllabus2_content_dv_p {
  float: left;
  margin-top: 13px;
  font-size: 16px;
  width: 173px;
  overflow: hidden;
  max-height: 21px;
}
.View_the_review .layui-tab-content .layui-tab-item .View_the_review_Syllabus2_content .View_the_review_Syllabus2_content_dv .View_the_review_Syllabus2_content_dv_p .View_the_review_Syllabus2_content_dv_p_span1 {
  float: left;
  width: 40%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #2f2f2f;
}
.View_the_review .layui-tab-content .layui-tab-item .View_the_review_Syllabus2_content .View_the_review_Syllabus2_content_dv .View_the_review_Syllabus2_content_dv_p .View_the_review_Syllabus2_content_dv_p_span2 {
  float: left;
  width: 60%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #9c9c9c;
}
.View_the_review .layui-tab-content .layui-tab-item .View_the_review_Syllabus2_content .View_the_review_Syllabus2_content_dv .View_the_review_Syllabus2_content_dv_span {
  display: block;
  float: left;
  width: 173px;
  max-height: 16px;
  margin-top: 15px;
  color: #9c9c9c;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.View_the_review .layui-tab-content .layui-tab-item .View_the_review_Syllabus2_content .View_the_review_Syllabus2_content_dv .View_the_review_Syllabus2_content_dv_span img {
  float: left;
  margin-right: 5px;
}
.View_the_review .layui-tab-content .layui-tab-item .View_the_review_Syllabus2_content .markthetests_content .View_the_review_Syllabus2_content_dv:nth-child(4n+0) {
  margin-right: 0;
}
.operation-icon {
  overflow: hidden;
}
.operation-icon a {
  display: block;
  float: left;
  width: 25px;
  height: 100%;
  text-align: center;
  cursor: pointer;
}
.operation-icon a i {
  font-size: 20px;
  color: #72cc9d;
}
.operation-icon a:hover i {
  color: #75bfee;
}
.operation-icon a .icon-editor-loh {
  display: inline-block;
  *zoom: 1;
  *display: inline;
  vertical-align: top;
  width: 18px;
  height: 18px;
  margin: 0 auto;
  background: url('../assets/images/myclass/002.png') no-repeat;
}
.operation-icon a .icon-editor-loh:hover {
  background: url('../assets/images/myclass/003.png') no-repeat;
}
.operation-icon a .icon-editor-loht {
  display: inline-block;
  *zoom: 1;
  *display: inline;
  vertical-align: top;
  width: 18px;
  height: 18px;
  margin: 0 auto;
  background: url('../assets/images/myclass/031.png') no-repeat;
}
.operation-icon a .icon-editor-loht:hover {
  background: url('../assets/images/myclass/037.png') no-repeat;
}
.layui-tab-brief > a {
  position: absolute;
  top: 10px;
  right: 5px;
  z-index: 10;
}
.layui-tab-title li {
  font-size: 16px;
  color: #333;
}
.Review_management {
  padding: 20px 30px;
  min-height: 800px;
}
.Review_management .Review_management_header {
  overflow: hidden;
}
.Review_management .Review_management_header .Review_management_a {
  margin-left: 27px;
  width: 117px;
  height: 38px;
  background-color: #36b973;
}
.Review_management .Review_management_header .Review_management_return {
  float: right;
  margin-top: 10px;
}
.Review_management .Review_management_dv {
  overflow: hidden;
  margin-top: 30px;
}
.Review_management .Review_management_dv .item-box {
  display: inline-block;
}
.Review_management .Review_management_dv .item-box label {
  font-size: 16px;
  color: #333;
}
.Review_management .Review_management_dv .item-box select {
  margin-left: 8px;
  height: 35px;
  color: #333;
  font-size: 14px;
}
.Review_management #paperHtml {
  margin-top: 30px;
}
.Check_the_preview {
  padding: 20px 30px;
  min-height: 800px;
}
.Check_the_preview .myClass_title {
  height: 16px;
  line-height: 16px;
  padding-bottom: 20px;
  padding-top: 20px;
}
.Check_the_preview .myClass_title li {
  margin-right: 78px;
}
.Check_the_preview .myClass_title .layui-this:after {
  height: 16px;
  top: 20px;
}
.Check_the_preview .myClass_title li {
  line-height: 16px;
}
.Check_the_preview .myClass_title li:hover a {
  display: block;
}
.Check_the_preview .Check_the_preview_header {
  overflow: hidden;
}
.Check_the_preview .Check_the_preview_header .item-box {
  display: inline-block;
  margin-left: 38px;
}
.Check_the_preview .Check_the_preview_header .item-box label {
  font-size: 16px;
  color: #333;
}
.Check_the_preview .Check_the_preview_header .item-box select {
  margin-left: 8px;
  height: 35px;
  color: #333;
  font-size: 14px;
}
.Check_the_preview .Check_the_preview_header a {
  float: right;
  margin-top: 10px;
}
.Check_the_preview .layui-tab-content {
  padding: 0;
}
.Check_the_preview .layui-tab-content .layui-tab-item {
  position: relative;
}
.Check_the_preview .layui-tab-content .layui-tab-item .View_the_review_Syllabus_content {
  overflow: hidden;
}
.Check_the_preview .layui-tab-content .layui-tab-item .View_the_review_Syllabus_content .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv1 .View_the_review_Syllabus_content_dv_one,
.Check_the_preview .layui-tab-content .layui-tab-item .View_the_review_Syllabus_content .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv2 .View_the_review_Syllabus_content_dv_one,
.Check_the_preview .layui-tab-content .layui-tab-item .View_the_review_Syllabus_content .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv3 .View_the_review_Syllabus_content_dv_one {
  height: 20px;
  line-height: 20px;
  text-align: left;
  display: inline-block;
  width: 189px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.Check_the_preview .layui-tab-content .layui-tab-item .View_the_review_Syllabus_content .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv1 hr,
.Check_the_preview .layui-tab-content .layui-tab-item .View_the_review_Syllabus_content .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv2 hr,
.Check_the_preview .layui-tab-content .layui-tab-item .View_the_review_Syllabus_content .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv3 hr {
  float: right;
  width: 225px;
}
.Check_the_preview .layui-tab-content .layui-tab-item .View_the_review_Syllabus_content .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv1 .View_the_review_Syllabus_content_dv_progress,
.Check_the_preview .layui-tab-content .layui-tab-item .View_the_review_Syllabus_content .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv2 .View_the_review_Syllabus_content_dv_progress,
.Check_the_preview .layui-tab-content .layui-tab-item .View_the_review_Syllabus_content .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv3 .View_the_review_Syllabus_content_dv_progress {
  height: 5px;
  line-height: 17px;
  float: left;
  width: 178px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -3px;
}
.Check_the_preview .layui-tab-content .layui-tab-item .View_the_review_Syllabus_content .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv1 .View_the_review_Syllabus_content_dv_dv_header,
.Check_the_preview .layui-tab-content .layui-tab-item .View_the_review_Syllabus_content .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv2 .View_the_review_Syllabus_content_dv_dv_header,
.Check_the_preview .layui-tab-content .layui-tab-item .View_the_review_Syllabus_content .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv3 .View_the_review_Syllabus_content_dv_dv_header {
  font-size: 16px;
  height: 16px;
  line-height: 17px;
  text-align: left;
  color: #333;
  display: inline-block;
  width: 189px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.Check_the_preview .layui-tab-content .layui-tab-item .View_the_review_Syllabus_content .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv1 .View_the_review_Syllabus_content_dv_dv_footer,
.Check_the_preview .layui-tab-content .layui-tab-item .View_the_review_Syllabus_content .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv2 .View_the_review_Syllabus_content_dv_dv_footer,
.Check_the_preview .layui-tab-content .layui-tab-item .View_the_review_Syllabus_content .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv3 .View_the_review_Syllabus_content_dv_dv_footer {
  font-size: 14px;
  height: 16px;
  line-height: 17px;
  text-align: right;
  color: #999;
  float: right;
  width: 36px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.Check_the_preview .layui-tab-content .layui-tab-item .View_the_review_Syllabus_content .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv1 .View_the_review_Syllabus_content_dv_one,
.Check_the_preview .layui-tab-content .layui-tab-item .View_the_review_Syllabus_content .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv2 .View_the_review_Syllabus_content_dv_one,
.Check_the_preview .layui-tab-content .layui-tab-item .View_the_review_Syllabus_content .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv3 .View_the_review_Syllabus_content_dv_one,
.Check_the_preview .layui-tab-content .layui-tab-item .View_the_review_Syllabus_content .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv1 .View_the_review_Syllabus_content_dv_dv_header,
.Check_the_preview .layui-tab-content .layui-tab-item .View_the_review_Syllabus_content .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv2 .View_the_review_Syllabus_content_dv_dv_header,
.Check_the_preview .layui-tab-content .layui-tab-item .View_the_review_Syllabus_content .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv3 .View_the_review_Syllabus_content_dv_dv_header {
  margin-right: 23px;
}
.Check_the_preview .layui-tab-content .layui-tab-item .View_the_review_Syllabus_content .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv1 .View_the_review_Syllabus_content_dv_progress,
.Check_the_preview .layui-tab-content .layui-tab-item .View_the_review_Syllabus_content .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv2 .View_the_review_Syllabus_content_dv_progress,
.Check_the_preview .layui-tab-content .layui-tab-item .View_the_review_Syllabus_content .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv3 .View_the_review_Syllabus_content_dv_progress {
  width: 178px;
  background-color: #f0f0f0;
}
.Check_the_preview .layui-tab-content .layui-tab-item .View_the_review_Syllabus_content .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv1 .View_the_review_Syllabus_content_dv_progress div,
.Check_the_preview .layui-tab-content .layui-tab-item .View_the_review_Syllabus_content .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv2 .View_the_review_Syllabus_content_dv_progress div,
.Check_the_preview .layui-tab-content .layui-tab-item .View_the_review_Syllabus_content .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv3 .View_the_review_Syllabus_content_dv_progress div {
  background-color: #00B83F;
  height: 100%;
}
.Check_the_preview .layui-tab-content .layui-tab-item .View_the_review_Syllabus_content .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv1 {
  position: relative;
  width: 450px;
  margin: 27px auto;
}
.Check_the_preview .layui-tab-content .layui-tab-item .View_the_review_Syllabus_content .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv1 .View_the_review_Syllabus_content_dv_dv_header {
  text-indent: 25px;
}
.Check_the_preview .layui-tab-content .layui-tab-item .View_the_review_Syllabus_content .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv1 span {
  position: absolute;
  font-size: 16px;
  color: #333;
  width: 16px;
  height: 16px;
  line-height: 16px;
  top: 0;
  left: -39px;
}
.Check_the_preview .layui-tab-content .layui-tab-item .View_the_review_Syllabus_content .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv1 p {
  position: absolute;
  text-align: center;
  display: block;
  border-radius: 50%;
  border: 1px solid #9d9d9d;
  background-color: #fff;
  font-size: 16px;
  color: #333;
  width: 29px;
  height: 29px;
  line-height: 29px;
  top: -7px;
  left: -16px;
  z-index: 3;
}
.Check_the_preview .layui-tab-content .layui-tab-item .View_the_review_Syllabus_content .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv1 b {
  position: absolute;
  background-color: #dcdcdc;
  width: 1px;
  height: 99999px;
  top: 0;
  left: 0;
  z-index: 1;
}
.Check_the_preview .layui-tab-content .layui-tab-item .View_the_review_Syllabus_content .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv2 {
  position: relative;
  width: 450px;
  margin: 15px auto;
}
.Check_the_preview .layui-tab-content .layui-tab-item .View_the_review_Syllabus_content .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv2 .View_the_review_Syllabus_content_dv_one {
  text-indent: 25px;
  color: #999;
}
.Check_the_preview .layui-tab-content .layui-tab-item .View_the_review_Syllabus_content .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv2 span {
  position: absolute;
  font-size: 16px;
  color: #333;
  width: 16px;
  height: 16px;
  line-height: 16px;
  top: 2px;
  left: -39px;
}
.Check_the_preview .layui-tab-content .layui-tab-item .View_the_review_Syllabus_content .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv2 p {
  position: absolute;
  text-align: center;
  display: block;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #9d9d9d;
  font-size: 16px;
  color: #333;
  width: 17px;
  height: 17px;
  line-height: 17px;
  top: 0;
  left: -9px;
  z-index: 3;
}
.Check_the_preview .layui-tab-content .layui-tab-item .View_the_review_Syllabus_content .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv3 {
  position: relative;
  width: 450px;
  margin: 15px auto;
}
.Check_the_preview .layui-tab-content .layui-tab-item .View_the_review_Syllabus_content .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv3 .View_the_review_Syllabus_content_dv_one {
  text-indent: 32px;
  color: #999;
}
.Check_the_preview .layui-tab-content .layui-tab-item .View_the_review_Syllabus_content .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv3 p {
  position: absolute;
  width: 6px;
  height: 2px;
  background-color: #e4e4e4;
  top: 10px;
  left: 0;
}
.Check_the_preview .layui-tab-content .layui-tab-item .View_the_review_Syllabus2_content {
  overflow: hidden;
}
.Check_the_preview .layui-tab-content .layui-tab-item .View_the_review_Syllabus2_content .View_the_review_Syllabus2_content_dv {
  float: left;
  width: 246px;
  height: 71px;
  margin-right: 52px;
  margin-top: 40px;
  cursor: pointer;
}
.Check_the_preview .layui-tab-content .layui-tab-item .View_the_review_Syllabus2_content .View_the_review_Syllabus2_content_dv div {
  width: 71px;
  height: 71px;
  float: left;
}
.Check_the_preview .layui-tab-content .layui-tab-item .View_the_review_Syllabus2_content .View_the_review_Syllabus2_content_dv .View_the_review_Syllabus2_content_dv_p {
  float: left;
  margin-top: 13px;
  font-size: 16px;
  width: 173px;
  overflow: hidden;
  max-height: 21px;
}
.Check_the_preview .layui-tab-content .layui-tab-item .View_the_review_Syllabus2_content .View_the_review_Syllabus2_content_dv .View_the_review_Syllabus2_content_dv_p .View_the_review_Syllabus2_content_dv_p_span1 {
  float: left;
  width: 40%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #2f2f2f;
}
.Check_the_preview .layui-tab-content .layui-tab-item .View_the_review_Syllabus2_content .View_the_review_Syllabus2_content_dv .View_the_review_Syllabus2_content_dv_p .View_the_review_Syllabus2_content_dv_p_span2 {
  float: left;
  width: 60%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #9c9c9c;
}
.Check_the_preview .layui-tab-content .layui-tab-item .View_the_review_Syllabus2_content .View_the_review_Syllabus2_content_dv .View_the_review_Syllabus2_content_dv_span {
  display: block;
  float: left;
  width: 173px;
  max-height: 16px;
  margin-top: 15px;
  color: #9c9c9c;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.Check_the_preview .layui-tab-content .layui-tab-item .View_the_review_Syllabus2_content .View_the_review_Syllabus2_content_dv .View_the_review_Syllabus2_content_dv_span img {
  float: left;
  margin-right: 5px;
}
.Check_the_preview .layui-tab-content .layui-tab-item .View_the_review_Syllabus2_content .View_the_review_Syllabus2_content_dv:nth-child(4),
.Check_the_preview .layui-tab-content .layui-tab-item .View_the_review_Syllabus2_content .View_the_review_Syllabus2_content_dv:nth-child(8),
.Check_the_preview .layui-tab-content .layui-tab-item .View_the_review_Syllabus2_content .View_the_review_Syllabus2_content_dv:nth-child(12),
.Check_the_preview .layui-tab-content .layui-tab-item .View_the_review_Syllabus2_content .View_the_review_Syllabus2_content_dv:nth-child(16) {
  margin-right: 0;
}
.Students_progress {
  padding: 20px 30px;
  min-height: 800px;
}
.Students_progress .Students_progress_header {
  overflow: hidden;
}
.Students_progress .Students_progress_header .Students_progress_header_span1 {
  font-size: 17px;
  margin-left: 15px;
}
.Students_progress .Students_progress_header .Students_progress_header_span2 {
  font-size: 17px;
  margin-left: 27px;
}
.Students_progress .Students_progress_header .Students_progress_return {
  float: right;
  margin-top: 10px;
}
.Students_progress #paperHtml {
  margin-top: 30px;
}
.Students_progress #paperHtml .View_the_review_Syllabus_content_dv {
  overflow: hidden;
}
.Students_progress #paperHtml .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv1 .View_the_review_Syllabus_content_dv_one,
.Students_progress #paperHtml .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv2 .View_the_review_Syllabus_content_dv_one,
.Students_progress #paperHtml .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv3 .View_the_review_Syllabus_content_dv_one {
  height: 20px;
  line-height: 20px;
  text-align: left;
  display: inline-block;
  width: 189px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.Students_progress #paperHtml .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv1 hr,
.Students_progress #paperHtml .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv2 hr,
.Students_progress #paperHtml .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv3 hr {
  float: right;
  width: 225px;
}
.Students_progress #paperHtml .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv1 .View_the_review_Syllabus_content_dv_progress,
.Students_progress #paperHtml .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv2 .View_the_review_Syllabus_content_dv_progress,
.Students_progress #paperHtml .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv3 .View_the_review_Syllabus_content_dv_progress {
  height: 5px;
  line-height: 17px;
  float: left;
  width: 178px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -3px;
}
.Students_progress #paperHtml .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv1 .View_the_review_Syllabus_content_dv_dv_header,
.Students_progress #paperHtml .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv2 .View_the_review_Syllabus_content_dv_dv_header,
.Students_progress #paperHtml .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv3 .View_the_review_Syllabus_content_dv_dv_header {
  font-size: 16px;
  height: 16px;
  line-height: 17px;
  text-align: left;
  color: #333;
  display: inline-block;
  width: 189px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.Students_progress #paperHtml .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv1 .View_the_review_Syllabus_content_dv_dv_footer,
.Students_progress #paperHtml .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv2 .View_the_review_Syllabus_content_dv_dv_footer,
.Students_progress #paperHtml .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv3 .View_the_review_Syllabus_content_dv_dv_footer {
  font-size: 14px;
  height: 16px;
  line-height: 17px;
  text-align: right;
  color: #999;
  float: right;
  width: 36px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.Students_progress #paperHtml .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv1 .View_the_review_Syllabus_content_dv_one,
.Students_progress #paperHtml .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv2 .View_the_review_Syllabus_content_dv_one,
.Students_progress #paperHtml .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv3 .View_the_review_Syllabus_content_dv_one,
.Students_progress #paperHtml .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv1 .View_the_review_Syllabus_content_dv_dv_header,
.Students_progress #paperHtml .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv2 .View_the_review_Syllabus_content_dv_dv_header,
.Students_progress #paperHtml .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv3 .View_the_review_Syllabus_content_dv_dv_header {
  margin-right: 23px;
}
.Students_progress #paperHtml .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv1 .View_the_review_Syllabus_content_dv_progress,
.Students_progress #paperHtml .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv2 .View_the_review_Syllabus_content_dv_progress,
.Students_progress #paperHtml .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv3 .View_the_review_Syllabus_content_dv_progress {
  width: 178px;
  background-color: #f0f0f0;
}
.Students_progress #paperHtml .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv1 .View_the_review_Syllabus_content_dv_progress div,
.Students_progress #paperHtml .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv2 .View_the_review_Syllabus_content_dv_progress div,
.Students_progress #paperHtml .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv3 .View_the_review_Syllabus_content_dv_progress div {
  background-color: #00B83F;
  height: 100%;
}
.Students_progress #paperHtml .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv1 {
  position: relative;
  width: 450px;
  margin: 27px auto;
}
.Students_progress #paperHtml .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv1 .View_the_review_Syllabus_content_dv_dv_header {
  text-indent: 25px;
}
.Students_progress #paperHtml .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv1 span {
  position: absolute;
  font-size: 16px;
  color: #333;
  width: 16px;
  height: 16px;
  line-height: 16px;
  top: 0;
  left: -39px;
}
.Students_progress #paperHtml .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv1 p {
  position: absolute;
  text-align: center;
  display: block;
  border-radius: 50%;
  border: 1px solid #9d9d9d;
  background-color: #fff;
  font-size: 16px;
  color: #333;
  width: 29px;
  height: 29px;
  line-height: 29px;
  top: -7px;
  left: -16px;
  z-index: 3;
}
.Students_progress #paperHtml .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv1 b {
  position: absolute;
  background-color: #dcdcdc;
  width: 1px;
  height: 99999px;
  top: 0;
  left: 0;
  z-index: 1;
}
.Students_progress #paperHtml .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv2 {
  position: relative;
  width: 450px;
  margin: 15px auto;
}
.Students_progress #paperHtml .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv2 .View_the_review_Syllabus_content_dv_one {
  text-indent: 25px;
  color: #999;
}
.Students_progress #paperHtml .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv2 span {
  position: absolute;
  font-size: 16px;
  color: #333;
  width: 16px;
  height: 16px;
  line-height: 16px;
  top: 2px;
  left: -39px;
}
.Students_progress #paperHtml .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv2 p {
  position: absolute;
  text-align: center;
  display: block;
  background-color: #fff;
  border-radius: 50%;
  border: 1px solid #9d9d9d;
  font-size: 16px;
  color: #333;
  width: 17px;
  height: 17px;
  line-height: 17px;
  top: 0;
  left: -9px;
  z-index: 3;
}
.Students_progress #paperHtml .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv3 {
  position: relative;
  width: 450px;
  margin: 15px auto;
}
.Students_progress #paperHtml .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv3 .View_the_review_Syllabus_content_dv_one {
  text-indent: 32px;
  color: #999;
}
.Students_progress #paperHtml .View_the_review_Syllabus_content_dv .View_the_review_Syllabus_content_dv_dv3 p {
  position: absolute;
  width: 6px;
  height: 2px;
  background-color: #e4e4e4;
  top: 10px;
  left: 0;
}
