/**
 * 预览试卷
 */
.teaching {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
.teaching .teachingBox {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: 0px auto;
}
.teaching .teachingBox .teaching-nav {
  display: none;
}
.teaching .teachingBox .teaching-tab-content {
  margin: 0px;
}
.readtest {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: auto;
  background-color: #FFFFFF;
}
.readtest .readtest-box {
  padding: 30px;
  overflow: hidden;
}
.readtest .readtest-box .viewtest-top {
  position: relative;
  overflow: hidden;
}
.readtest .readtest-box .viewtest-top h1 {
  font-size: 24px;
  color: #333333;
  font-weight: 600;
}
.readtest .readtest-box .viewtest-top .studentInfo span {
  float: left;
  display: block;
  height: 65px;
  line-height: 65px;
  font-size: 18px;
  color: #333333;
}
.readtest .readtest-box .viewtest-top a {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 30px;
  height: 30px;
  display: block;
}
.readtest .readtest-box .viewtest-top a i {
  font-size: 30px;
  color: #cccccc;
}
.readtest .readtest-box .readtest-content {
  width: 860px;
  float: left;
  overflow: hidden;
}
.readtest .readtest-box .readtest-content .readtest-content_header {
  border-bottom: 1px solid #e1e1e1;
}
.readtest .readtest-box .readtest-content .readtest-content_header span {
  display: inline-block;
  text-align: center;
  min-width: 103px;
  margin-right: 20px;
  margin-top: 8px;
  margin-bottom: 8px;
  height: 38px;
  background-color: #fff;
  color: #000;
  border: 1px solid #f1f1f1;
  line-height: 38px;
}
.readtest .readtest-box .readtest-content .readtest-content_header span:hover {
  background-color: #36b774;
  border: 1px solid #39b674;
  color: #fff;
  cursor: pointer;
}
.readtest .readtest-box .readtest-content .readtest-content_header span:first-child {
  margin-left: 100px;
}
.readtest .readtest-box .readtest-content .readtest-content_header .readtest-content_header_this {
  background-color: #36b774;
  border: 1px solid #39b674;
  color: #fff;
}
.readtest .readtest-box .readtest-content .readtest-content_header + div {
  margin-top: 20px;
}
.readtest .readtest-box .readtest-content .readtest-content-dv div {
  margin-top: 21px;
  border-top: 1px solid #f0f0f0;
}
.readtest .readtest-box .readtest-content .readtest-content-dv div:first-child {
  border-top: 1px solid #fff;
  margin-top: 0;
}
.readtest .readtest-box .readtest-content .readtest-content-dv div p:first-child {
  margin-top: 20px;
  font-size: 15px;
}
.readtest .readtest-box .readtest-content .readtest-content-dv div p {
  font-size: 14px;
  word-wrap: break-word;
  word-break: break-all;
}
.readtest .readtest-box .readtest-content .readtest-content-dv div p span {
  color: #39b674;
}
.readtest .readtest-box .readtest-content .readtest-content-dv div p + p {
  margin-top: 22px;
}
.readtest .readtest-box .readtest-content .readtest-content-dv div p input {
  width: 85px;
  height: 29px;
  margin-right: 9px;
  border: 1px solid #39b674;
  text-indent: 5px;
}
.readtest .readtest-box .readtest-btn {
  width: 860px;
  float: left;
  margin-top: 60px;
}
.readtest .readtest-box .readtest-btn p {
  margin-top: 10px;
  font-size: 14px;
  color: #656565;
}
.readtest .readtest-box .readtest-btn button {
  border-radius: 0;
}
.readtest .readtest-box .readtest-btn button:first-child {
  background-color: #36b774;
}
.readtest .readtest-box .readtest-btn button:first-child + button {
  background-color: #269eea;
  margin-left: 21px;
}
.readtest .readtest-box .pagePaper-questions-nav {
  width: 230px;
  min-height: 520px;
  background-color: #f3f3f3;
  padding: 0 15px;
  overflow: hidden;
  float: right;
}
.readtest .readtest-box .pagePaper-questions-nav .questions-nav-title {
  overflow: hidden;
  margin-bottom: 20px;
  margin-top: 20px;
}
.readtest .readtest-box .pagePaper-questions-nav .questions-nav-title h3 {
  float: left;
  font-size: 16px;
  color: #333333;
}
.readtest .readtest-box .pagePaper-questions-nav .questions-nav-title span {
  float: left;
  font-size: 14px;
  color: #333333;
  margin-top: 3px;
  margin-left: 23px;
}
.readtest .readtest-box .pagePaper-questions-nav ul {
  overflow: hidden;
  width: 232px;
  margin-right: -2px;
}
.readtest .readtest-box .pagePaper-questions-nav ul li {
  float: left;
  margin-left: 2px;
}
.readtest .readtest-box .pagePaper-questions-nav ul li .box-nav {
  vertical-align: middle;
  display: table-cell;
  *position: absolute;
  *top: 50%;
  background-color: #FFFFFF;
  width: 36.6666666px;
  height: 38.6666666px;
  cursor: pointer;
}
.readtest .readtest-box .pagePaper-questions-nav ul li .box-nav a {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 14px;
  color: #333333;
  text-align: center;
  line-height: 36.666666px;
}
