/**
 * 预览试卷
 */
.viewtest {
  width: 100%;
  overflow: auto;
  background-color: #f6f6f6;
}
.viewtest .viewtest-box {
  width: 1200px;
  margin: 0 auto;
  background-color: #FFFFFF;
  padding: 30px;
  padding-top: 60px;
  overflow: hidden;
}
.viewtest .viewtest-box .viewtest-content {
  width: 100%;
  float: left;
}
.viewtest .viewtest-box .viewtest-content .viewtest-top {
  margin-top: 0px;
  margin-bottom: 40px;
  position: relative;
}
.viewtest .viewtest-box .viewtest-content .viewtest-top h1 {
  font-size: 24px;
  color: #333333;
  font-weight: 600;
}
.viewtest .viewtest-box .viewtest-content .viewtest-top a {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 30px;
  height: 30px;
  display: block;
}
.viewtest .viewtest-box .viewtest-content .viewtest-top a i {
  font-size: 30px;
  color: #cccccc;
}
.viewtest .viewtest-box .viewtest-content .viewtest-header {
  border: 1px solid #ebebeb;
  padding: 15px 20px;
  margin-bottom: 30px;
}
.viewtest .viewtest-box .viewtest-content .viewtest-header ul {
  overflow: hidden;
}
.viewtest .viewtest-box .viewtest-content .viewtest-header ul li {
  float: left;
  overflow: hidden;
}
.viewtest .viewtest-box .viewtest-content .viewtest-header ul li span {
  font-size: 14px;
  color: #333333;
  display: block;
  height: 32px;
  line-height: 32px;
  float: left;
}
.viewtest .viewtest-box .viewtest-content .viewtest-header ul li span.line {
  font-size: 16px;
  margin-left: 25px;
  margin-right: 25px;
}
.viewtest .viewtest-box .viewtest-content .viewtest-header ul li span.title {
  margin-right: 15px;
}
.viewtest .viewtest-box .viewtest-content .viewtest-header ul li span.examRange {
  width: 840px;
}
.viewtest .viewtest-box .viewtest-content .viewtest-header ul li span.cont {
  word-wrap: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.viewtest .viewtest-box .viewtest-content .viewtest-header ul li span.blue {
  color: #279ee9;
}
.viewtest .viewtest-box .viewtest-content .viewtest-header ul li span.gules {
  color: #f55155;
}
