<!-- <div class="course-del-nav">
	<div class="nav">
			<span class="layui-breadcrumb" lay-separator="|" style="visibility: visible;">
			  <a href="#/home">首页<span>&gt;</span></a>
			  <a href="#/course">课程中心<span>&gt;</span></a>
			  <a><cite>课程列表</cite></a>
			</span>
	</div>
</div> -->
<div id="main" class="course">
	<!--选择区-->
	<div class="fine-screen" id="active-searchs-date">
		<div class="fs-content">
			<span class="classify"><span class="font ">课程分类</span>：</span>
			<span id="style-html" class="course-type">
			</span>
		</div>
		<div class="fs-content">
			<span class="classify"><span class="font font2">排序</span>：</span>
			<span id="sort-html" class="course-sort">
				<a href="javascript:void(0);" data-sort="">全部</a>
				<a href="javascript:void(0);" data-sort="newest">最新</a>
				<a href="javascript:void(0);" data-sort="hot">最热</a>
			</span>
		</div>
	</div>
	<!--/选择区-->

	<div class="course-top">
		<div class="course-items-box">
			<ul class="course-item" id="course-item"></ul>
		</div>
	</div>

	<div class="page-box">
		<div id="page"></div>
	</div>

</div>