<!--组织试卷-->
<div class="organizetask">
	<div class="organizetask-body">

		<div class="content-title">
			<h3>组织练习</h3>
			<button type="button" class="layui-btn create-test-btn" onclick="javascript: location.href = '#/teaching/taskmanage/addtask';"><i class="fa fa-list-alt" aria-hidden="true"></i>组练习卷</button>
		</div>

		<div class="content-body" id="paperHtml">
			<div class="organizetask-contnet">
				<div class="organizetask-header">
					<form id="soFrom">
						<ul>
							<li>
								<div class="item-box">
									<label for="courseId">课程名称：</label>
									<select  id="courseId">
										<option value="">全部</option>
										{{if Courses.success}}
										{{if Courses.resultObject}}
										{{each Courses.resultObject as Courses i}}
										<option value="{{Courses.id}}">{{Courses.name}}</option>
										{{/each}}
										{{else}}
										<option>暂无数据</option>
										{{/if}}
										{{else}}
										{{Courses.errorMessage}}
										{{/if}}

									</select>
								</div>
							</li>
						</ul>
					</form>
				</div>

				{{if TestPaperDB.resultObject.lists != '' ||  TestPaperDB.resultObject.lists != undefined}}
				<div class="organizetask-cont">
					<div id="table"></div>
					<div id="page"></div>
				</div>

				{{else}}
				<!--空文件-->
				<div class="no-data">
					<img src="./app/assets/images/emptyData/releasepapers-icon.png" />
				</div>
				<!--end空文件-->
				{{/if}}

			</div>






		</div>
	</div>
</div>
<!--end组织试卷-->