<div class="readtest">
    <div class="readtest-box">

        <!--标题-->
        <div class="viewtest-top">
            <h1>{{GeneratedPaper.resultObject.testName}}</h1>
            <div class="studentInfo">
            {{GeneratedPaper.resultObject.studentName}}&nbsp;&nbsp;&nbsp;
            耗时：{{GeneratedPaper.resultObject.duration}}分&nbsp;&nbsp;&nbsp;
            满分：{{GeneratedPaper.resultObject.testScore}}分
            </div>
            <a href="javascript:void (0)" onclick="window.close();">
            <i class="layui-icon">&#x1006;</i>
            </a>
            <div class="indicatorContainer">
                <div id="indicatorContainer">

                </div>
                <p>满分{{GeneratedPaper.resultObject.testScore}}</p>
            </div>
            <table class="myClass_table">
                <tr>
                    <td></td>
                    <td>单选题</td>
                    <td>多选题</td>
                    <td>判断题</td>
                    <td>填空题</td>
                    <td>简答题</td>
                </tr>
                <tr>
                    <td><img src='./app/assets/images/lookreadtest/002.png' alt=''><span>答对</span></td>
                    <td>{{GeneratedPaper.resultObject.danxuan.yesSubject}}</td>
                    <td>{{GeneratedPaper.resultObject.duoxuan.yesSubject}}</td>
                    <td>{{GeneratedPaper.resultObject.panduan.yesSubject}}</td>
                    <!--<td>{{GeneratedPaper.resultObject.tiankong.yesSubject}}</td>-->
                    <!--<td>{{GeneratedPaper.resultObject.jianda.yesSubject}}</td>-->
                    <td>--</td>
                    <td>--</td>
                </tr>
                <tr style="color: #f3242b">
                    <td><img src='./app/assets/images/lookreadtest/001.png' alt=''><span>答错</span></td>
                    <td>{{GeneratedPaper.resultObject.danxuan.wrongSubject}}</td>
                    <td>{{GeneratedPaper.resultObject.duoxuan.wrongSubject}}</td>
                    <td>{{GeneratedPaper.resultObject.panduan.wrongSubject}}</td>
                    <!--<td>{{GeneratedPaper.resultObject.tiankong.wrongSubject}}</td>-->
                    <!--<td>{{GeneratedPaper.resultObject.jianda.wrongSubject}}</td>-->
                    <td>--</td>
                    <td>--</td>
                </tr>
                <tr style="color: #279ee9">
                    <td><img src='./app/assets/images/lookreadtest/004.png' alt=''><span>未答</span></td>
                    <td>{{GeneratedPaper.resultObject.danxuan.notSubject}}</td>
                    <td>{{GeneratedPaper.resultObject.duoxuan.notSubject}}</td>
                    <td>{{GeneratedPaper.resultObject.panduan.notSubject}}</td>
                    <td>{{GeneratedPaper.resultObject.tiankong.notSubject}}</td>
                    <td>{{GeneratedPaper.resultObject.jianda.notSubject}}</td>
                </tr>
                <tr>
                    <td><img src='./app/assets/images/lookreadtest/003.png' alt=''><span>得分</span></td>
                    <td>{{GeneratedPaper.resultObject.danxuan.studentTotalScore}}</td>
                    <td>{{GeneratedPaper.resultObject.duoxuan.studentTotalScore}}</td>
                    <td>{{GeneratedPaper.resultObject.panduan.studentTotalScore}}</td>
                    <td>{{GeneratedPaper.resultObject.tiankong.studentTotalScore}}</td>
                    <td>{{GeneratedPaper.resultObject.jianda.studentTotalScore}}</td>
                </tr>
            </table>
        </div>
        <!--end标题-->


        <div class="readtest-content">
            <!--题库导航-->
            <div class="fixed-box">
                <div class="pagePaper-questions-nav fixed" style="padding: 0 20px">
                    {{if danXuan}}
                    <div class="questions-nav-title">
                        <h3>单选题</h3>
                        共{{GeneratedPaper.resultObject.danxuan.totalScore}}分</span>
                    </div>
                    <ul>
                        {{each danXuan as value i}}
                        <li>
                            <div class="box-nav">
                                {{if value.correct}}
                                <a href="javascript:void(0);" onclick="$('#nav-daiXuan-{{i}}').HoverTreeScroll(1000);" target="_self">{{i+1}}</a>
                                {{else}}
                                <a href="javascript:void(0);" onclick="$('#nav-daiXuan-{{i}}').HoverTreeScroll(1000);" style="background-color: #ff6968;color: #fff" target="_self">{{i+1}}</a>
                                {{/if}}
                            </div>
                        </li>
                        {{/each}}
                    </ul>
                    {{/if}}
                    {{if duoXuan}}
                    <div class="questions-nav-title">
                        <h3>多选题</h3>
                        共{{GeneratedPaper.resultObject.duoxuan.totalScore}}分</span>
                    </div>
                    <ul>
                        {{each duoXuan as value i}}
                        <li>
                            <div class="box-nav">
                                {{if value.correct}}
                                <a href="javascript:void(0);" onclick="$('#nav-duoXuan-{{i}}').HoverTreeScroll(1000);" target="_self">{{danXuan.length+i+1}}</a>
                                {{else}}
                                <a href="javascript:void(0);" onclick="$('#nav-duoXuan-{{i}}').HoverTreeScroll(1000);" style="background-color: #ff6968;color: #fff" target="_self">{{danXuan.length+i+1}}</a>
                                {{/if}}
                            </div>
                        </li>
                        {{/each}}
                    </ul>
                    {{/if}}
                    {{if panDuan}}
                    <div class="questions-nav-title">
                        <h3>判断题</h3>
                        共{{GeneratedPaper.resultObject.panduan.totalScore}}分</span>
                    </div>
                    <ul>
                        {{each panDuan as value i}}
                        <li>
                            <div class="box-nav">
                                {{if value.correct}}
                                <a href="javascript:void(0);" onclick="$('#nav-panDuan-{{i}}').HoverTreeScroll(1000);" target="_self">{{danXuan.length+duoXuan.length+i+1}}</a>
                                {{else}}
                                <a href="javascript:void(0);" onclick="$('#nav-panDuan-{{i}}').HoverTreeScroll(1000);" style="background-color: #ff6968;color: #fff" target="_self">{{danXuan.length+duoXuan.length+i+1}}</a>
                                {{/if}}
                            </div>
                        </li>
                        {{/each}}
                    </ul>
                    {{/if}}
                    {{if tianKong}}
                    <div class="questions-nav-title">
                        <h3>填空题</h3>
                        <span>共{{GeneratedPaper.resultObject.tiankong.totalScore}}分</span>
                    </div>
                    <ul>
                        {{each tianKong as value i}}
                        <li>
                            <div class="box-nav">
                                {{if value.correct}}
                                <a href="javascript:void(0);" onclick="$('#nav-tianKong-{{i}}').HoverTreeScroll(1000);" target="_self">{{danXuan.length+duoXuan.length+panDuan.length+i+1}}</a>
                                {{else}}
                                <a href="javascript:void(0);" onclick="$('#nav-tianKong-{{i}}').HoverTreeScroll(1000);" style="background-color: #ff6968;color: #fff" target="_self">{{danXuan.length+duoXuan.length+panDuan.length+i+1}}</a>
                                {{/if}}
                            </div>
                        </li>
                        {{/each}}
                    </ul>
                    {{/if}}
                    {{if jianDa}}
                    <div class="questions-nav-title">
                        <h3>简答题</h3>
                        <span>共{{GeneratedPaper.resultObject.jianda.totalScore}}分</span>
                    </div>
                    <ul>
                        {{each jianDa as value i}}
                        <li>
                            <div class="box-nav">
                                {{if value.correct}}
                                <a href="javascript:void(0);" onclick="$('#nav-jianDa-{{i}}').HoverTreeScroll(1000);" target="_self">{{danXuan.length+duoXuan.length+panDuan.length+tianKong.length+i+1}}</a>
                                {{else}}
                                <a href="javascript:void(0);" onclick="$('#nav-jianDa-{{i}}').HoverTreeScroll(1000);" style="background-color: #ff6968;color: #fff" target="_self">{{danXuan.length+duoXuan.length+panDuan.length+tianKong.length+i+1}}</a>
                                {{/if}}
                            </div>
                        </li>
                        {{/each}}
                    </ul>
                    {{/if}}
                </div>
            </div>
            <!--//题库导航-->

            <div class="paper-main J-pic-click">
                <!--page3-单选题-->
                {{if danXuan}}
                <div class="pagePaper">
                    <div class="pagePaper-top">
                        <h3>单选题</h3>
                        <div class="scoreBox">
                            满分：{{GeneratedPaper.resultObject.danxuan.totalScore}} &nbsp; &nbsp; &nbsp;得分：{{GeneratedPaper.resultObject.danxuan.studentTotalScore}}分</span>
                        </div>
                    </div>
                    <div class="pagePaper-content">
                        <ul class="pagePaper-content-questions">
                            {{each danXuan as danXuan i}}
                            <li>
                                <div class="pagePaper-content-box">
                                    <div class="title">
                                        <h3 id="nav-daiXuan-{{i}}">{{i+1}}、{{#danXuan.questionContent}}</h3>
                                    </div>
                                    <ul class="title-selete">
                                        {{each danXuan.questionOptionList as options index}}
                                        <li>
                                            <div class="title-selete-box">
                                                <input type="radio" name="subject" id="danXuan{{i}}-{{index}}{{i}}"
                                                       style="display: none"/>
                                                {{if options.isSelcted && options.isTrue}}
                                                <label for="danXuan{{i}}-{{index}}{{i}}" style="color: #2cb82c">{{options.text}}&nbsp;<img style="width: 15px;height:15px;" src='./app/assets/images/myclass/033.png' alt=''></label>
                                                {{else}}
                                                {{if options.isSelcted && !options.isTrue}}
                                                <label for="danXuan{{i}}-{{index}}{{i}}" style="color: red">{{options.text}}&nbsp;<img style="width: 15px;height:15px;" src='./app/assets/images/myclass/032.png' alt=''></label>
                                                {{else}}
                                                <label for="danXuan{{i}}-{{index}}{{i}}">{{options.text}}</label>
                                                {{/if}}
                                                {{/if}}


                                            </div>

                                            {{if danXuan.optionsPictureList != ''}}
                                            {{if danXuan.optionsPictureList[index]}}
                                                <img class="J-boxer" src="{{danXuan.optionsPictureList[index]}}" />
                                            {{/if}}
                                            {{/if}}
                                        </li>
                                        {{/each}}
                                    </ul>
                                    <div class="paper-answer">
                                        <span class="answer">参考答案:</span><span
                                            class="answer-contnet">{{#danXuan.answer}}</span>
                                    </div>
                                    <div class="paper-answer">
                                        <span class="answer">答案说明:</span><span class="answer-contnet">{{#danXuan.solution}}</span>
                                    </div>
                                </div>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
                {{/if}}
                <!--end page3-单选题-->

                <!--page3-多选题-->
                {{if duoXuan}}
                <div class="pagePaper">
                    <div class="pagePaper-top">
                        <h3>多选题</h3>
                        <div class="scoreBox">
                            满分：{{GeneratedPaper.resultObject.duoxuan.totalScore}} &nbsp; &nbsp; &nbsp;得分：{{GeneratedPaper.resultObject.duoxuan.studentTotalScore}}分</span>
                        </div>
                    </div>
                    <div class="pagePaper-content">
                        <ul class="pagePaper-content-questions">
                            {{each duoXuan as duoXuan i}}
                            <li>
                                <div class="pagePaper-content-box">
                                    <div class="title">
                                        <h3 id="nav-duoXuan-{{i}}">{{danXuan.length+i+1}}、{{#duoXuan.questionContent}}</h3>
                                    </div>
                                    <ul class="title-selete">
                                        {{each duoXuan.questionOptionList as options index}}
                                        <li>
                                            <div class="title-selete-box">
                                                <input type="checkbox" name="subject" id="duoXuan{{i}}-{{index}}{{i}}"
                                                       style="display: none"/>
                                                {{if options.isSelcted && options.isTrue}}
                                                <label for="duoXuan{{i}}-{{index}}{{i}}" style="color: #2cb82c">{{options.text}}&nbsp;<img style="width: 15px;height:15px;" src='./app/assets/images/myclass/033.png' alt=''></label>
                                                {{else}}
                                                {{if options.isSelcted && !options.isTrue}}
                                                <label for="duoXuan{{i}}-{{index}}{{i}}" style="color: red">{{options.text}}&nbsp;<img style="width: 15px;height:15px;" src='./app/assets/images/myclass/032.png' alt=''></label>
                                                {{else}}
                                                <label for="duoXuan{{i}}-{{index}}{{i}}">{{options.text}}</label>
                                                {{/if}}
                                                {{/if}}
                                            </div>
                                            {{if duoXuan.optionsPictureList != ''}}
                                            {{if duoXuan.optionsPictureList[index]}}
                                                <img class="J-boxer" src="{{duoXuan.optionsPictureList[index]}}" />
                                            {{/if}}
                                            {{/if}}
                                        </li>
                                        {{/each}}
                                    </ul>
                                    <div class="paper-answer">
                                        <span class="answer">参考答案:</span><span
                                            class="answer-contnet">{{#duoXuan.answer}}</span>
                                    </div>
                                    <div class="paper-answer">
                                        <span class="answer">答案说明:</span><span class="answer-contnet">{{#duoXuan.solution}}</span>
                                    </div>
                                </div>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
                {{/if}}
                <!--end page3-多选题-->

                <!--page3-判断题-->
                {{if panDuan}}
                <div class="pagePaper">
                    <div class="pagePaper-top">
                        <h3>判断题</h3>
                        <div class="scoreBox">
                            满分:{{GeneratedPaper.resultObject.panduan.totalScore}} &nbsp; &nbsp; &nbsp;得分：{{GeneratedPaper.resultObject.panduan.studentTotalScore}}分</span>
                        </div>
                    </div>
                    <div class="pagePaper-content">
                        <ul class="pagePaper-content-questions">
                            {{each panDuan as panDuan i}}
                            <li>
                                <div class="pagePaper-content-box">
                                    <div class="title">
                                        <h3 id="nav-panDuan-{{i}}">{{danXuan.length+duoXuan.length+i+1}}、{{#panDuan.questionContent}}</h3>
                                    </div>
                                    <ul class="title-selete">
                                        {{if panDuan.correct}}
                                            {{if panDuan.stuAnswer == '错'}}
                                            <li>
                                                <div class="title-selete-box">
                                                    <input type="radio" name="subject" id="panDuan{{i}}-{{index}}{{i}}-yes"
                                                           style="display: none"/>
                                                    <label for="panDuan{{i}}-{{index}}{{i}}-yes">对</label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="title-selete-box">
                                                    <input type="radio" name="subject" id="panDuan{{i}}-{{index}}{{i}}-no"
                                                           style="display: none"/>
                                                    <label for="panDuan{{i}}-{{index}}{{i}}-no"
                                                           style="color: #00aa00">错&nbsp;<img style="width: 15px;height:15px;" src='./app/assets/images/myclass/033.png' alt=''></label>
                                                </div>
                                            </li>
                                            {{else if panDuan.stuAnswer == '对'}}
                                            <li>
                                                <div class="title-selete-box">
                                                    <input type="radio" name="subject" id="panDuan{{i}}-{{index}}{{i}}-yes"
                                                           style="display: none"/>
                                                    <label for="panDuan{{i}}-{{index}}{{i}}-yes" style="color: #00aa00">对&nbsp;<img style="width: 15px;height:15px;" src='./app/assets/images/myclass/033.png' alt=''></label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="title-selete-box">
                                                    <input type="radio" name="subject" id="panDuan{{i}}-{{index}}{{i}}-no"
                                                           style="display: none"/>
                                                    <label for="panDuan{{i}}-{{index}}{{i}}-no">错</label>
                                                </div>
                                            </li>
                                            {{/if}}
                                        {{else}}
                                            {{if panDuan.stuAnswer == '错'}}
                                            <li>
                                                <div class="title-selete-box">
                                                    <input type="radio" name="subject" id="panDuan{{i}}-{{index}}{{i}}-yes"
                                                           style="display: none"/>
                                                    <label for="panDuan{{i}}-{{index}}{{i}}-yes">对</label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="title-selete-box">
                                                    <input type="radio" name="subject" id="panDuan{{i}}-{{index}}{{i}}-no"
                                                           style="display: none"/>
                                                    <label for="panDuan{{i}}-{{index}}{{i}}-no" style="color: red">错&nbsp;<img style="width: 15px;height:15px;" src='./app/assets/images/myclass/032.png' alt=''></label>
                                                </div>
                                            </li>
                                            {{else if panDuan.stuAnswer == '对'}}
                                            <li>
                                                <div class="title-selete-box">
                                                    <input type="radio" name="subject" id="panDuan{{i}}-{{index}}{{i}}-yes"
                                                           style="display: none"/>
                                                    <label for="panDuan{{i}}-{{index}}{{i}}-yes" style="color: red">对&nbsp;<img style="width: 15px;height:15px;" src='./app/assets/images/myclass/032.png' alt=''></label>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="title-selete-box">
                                                    <input type="radio" name="subject" id="panDuan{{i}}-{{index}}{{i}}-no"
                                                           style="display: none"/>
                                                    <label for="panDuan{{i}}-{{index}}{{i}}-no">错</label>
                                                </div>
                                            </li>
                                            {{else}}
                                            <li>
                                                <div class="title-selete-box">
                                                    <input type="radio" name="subject" id="panDuan{{i}}-{{index}}{{i}}-yes"
                                                           style="display: none"/>
                                                    <label for="panDuan{{i}}-{{index}}{{i}}-yes">对</label>
                                                </div>
                                            </li>
                                            <li>
                                            <div class="title-selete-box">
                                                <input type="radio" name="subject" id="panDuan{{i}}-{{index}}{{i}}-no"
                                                       style="display: none"/>
                                                <label for="panDuan{{i}}-{{index}}{{i}}-no">错</label>
                                            </div>
                                        </li>
                                            {{/if}}
                                        {{/if}}

                                    </ul>
                                    <div class="paper-answer">
                                        <span class="answer">参考答案:</span><span
                                            class="answer-contnet">{{#panDuan.answer}}</span>
                                    </div>
                                    <div class="paper-answer">
                                        <span class="answer">答案说明:</span><span class="answer-contnet">{{#panDuan.solution}}</span>
                                    </div>
                                </div>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
                {{/if}}
                <!--end page3-判断题-->

                <!--page3-填空题-->
                {{if tianKong}}
                <div class="pagePaper">
                    <div class="pagePaper-top">
                        <h3>填空题</h3>
                        <div class="scoreBox">
                            <span>总分:{{GeneratedPaper.resultObject.tiankong.totalScore}} &nbsp; &nbsp; &nbsp;得分：{{GeneratedPaper.resultObject.tiankong.studentTotalScore}}分</span>
                        </div>
                    </div>
                    <div class="pagePaper-content">
                        <ul class="pagePaper-content-questions">
                            {{each tianKong as tianKong i}}
                            <li>
                                <div class="pagePaper-content-box">
                                    <div class="title tianKong-title">
                                        <h3 id="nav-tianKong-{{i}}">{{danXuan.length+duoXuan.length+panDuan.length+i+1}}、{{#tianKong.questionContent}}({{tianKong.score}}分)</h3>
                                    </div>

                                    <div class="paper-answer">
                                        <span class="answer">参考答案:</span><span class="answer-contnet">{{#tianKong.answer}}</span>
                                    </div>
                                    <div class="paper-answer">
                                        {{if tianKong.correct}}
                                        <span class="answer">教师打分:</span><span style="color: #2cb82c">{{tianKong.stuScore}}</span><span>分</span>
                                        {{else}}
                                        <span class="answer">教师打分:</span><span style="color: red">{{tianKong.stuScore}}</span><span>分</span>
                                        {{/if}}
                                    </div>
                                </div>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
                {{/if}}
                <!--end page3-填空题-->

                <!--page3-简答题-->
                {{if jianDa}}
                <div class="pagePaper">
                    <div class="pagePaper-top">
                        <h3>简答题</h3>
                        <div class="scoreBox">
                            <span>总分：{{GeneratedPaper.resultObject.jianda.totalScore}} &nbsp; &nbsp; &nbsp;得分：{{GeneratedPaper.resultObject.jianda.studentTotalScore}}</span>
                        </div>
                    </div>
                    <div class="pagePaper-content">
                        <ul class="pagePaper-content-questions">
                            {{each jianDa as jianDa i}}
                            <li>
                                <div class="pagePaper-content-box no-border-bottom">
                                    <div class="title">
                                        <h3  id="nav-jianDa-{{i}}">{{danXuan.length+duoXuan.length+panDuan.length+tianKong.length+i+1}}、{{#jianDa.questionContent}}({{jianDa.score}}分)</h3>
                                    </div>
                                    <div class="paper-answer">
                                        <span class="answer">学员答案:</span><span class="answer-contnet answer-contnet-dv">{{jianDa.stuAnswer}}</span>
                                    </div>
                                    <div class="paper-answer">
                                        <span class="answer" style="display: block;float: none">参考答案:</span><span class="answer-contnet" style="float: none;margin: 0;display: block">{{#jianDa.answer}}</span>
                                    </div>
                                    <div class="paper-answer">
                                        {{if jianDa.correct}}
                                        <span class="answer">教师打分:</span><span style="color: #2cb82c">{{jianDa.stuScore}}</span><span>分</span>
                                        {{else}}
                                        <span class="answer">教师打分:</span><span style="color: red">{{jianDa.stuScore}}</span><span>分</span>
                                        {{/if}}
                                    </div>
                                </div>
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
                {{/if}}
                <!--end page3-简答题-->

                <!-- end题库 -->


            </div>


        </div>


    </div>
</div>