{{each resultObject.studentList as i index}}

<tr>


    <td>
        {{if resultObject.squad.status}}
        {{else}}
        <input type="checkbox" data-id="{{i.id}}">
        {{/if}}
        {{i.name}}
    </td>
    <td>{{i.studentNo}}</td>
    <td>{{i.group}}</td>
    <td>{{i.mobile}}</td>
    <td>{{i.last_time}}</td>
    <td>
        {{if resultObject.squad.status}}
        <a class="Delete_the_student" title="删除" data-id="{{i.id}}" data-name="{{i.login_name}}"><img src='./app/assets/images/myclass/008.png' alt=''></a>
        {{else}}
        <a class="compile_student" title="编辑信息" data-id="{{i.id}}"><img src='./app/assets/images/myclass/002.png' alt=''></a>
        <a class="Reset_Password" title="重置密码" data-id="{{i.login_name}}" href="javascript:void (0)"><img src='./app/assets/images/myclass/035.png' alt=''></a>
        <a class="Delete_the_student" title="删除" data-id="{{i.id}}" data-name="{{i.login_name}}"><img src='./app/assets/images/myclass/008.png' alt=''></a>
        {{/if}}
    </td>
</tr>

{{/each}}

