<div class="teaching" style="min-height: 800px">
	<div class="teachingBox">
		<div class="teaching-nav">
			<!--<ul class="teaching-nav-title">-->
				<!--<li class="teaching-nav-li myclass layui-this">-->
					<!--<a href="#/teaching/myclass/Reading_class">-->
						<!--<i class="nav-icon nav-myclass"></i>-->
						<!--<div class="titleNav-box">-->
							<!--<span>我的班级</span>-->
						<!--</div>-->
					<!--</a>-->
				<!--</li>-->
				<!--&lt;!&ndash;<li class="teaching-nav-li reviewandpreview">&ndash;&gt;-->
					<!--&lt;!&ndash;<a href="#/teaching/reviewandpreview">&ndash;&gt;-->
						<!--&lt;!&ndash;<i class="nav-icon nav-review"></i>&ndash;&gt;-->
						<!--&lt;!&ndash;<div class="titleNav-box">&ndash;&gt;-->
							<!--&lt;!&ndash;<span>复习／预习</span>&ndash;&gt;-->
						<!--&lt;!&ndash;</div>&ndash;&gt;-->
					<!--&lt;!&ndash;</a>&ndash;&gt;-->
				<!--&lt;!&ndash;</li>&ndash;&gt;-->
				<!--<li class="teaching-nav-li taskmanage">-->
					<!--<a href="#/teaching/taskmanage/organizetask">-->
						<!--<i class="nav-icon nav-task"></i>-->
						<!--<div class="titleNav-box">-->
							<!--<span>作业管理</span>-->
						<!--</div>-->
					<!--</a>-->
				<!--</li>-->
				<!--<li class="teaching-nav-li testcentres">-->
					<!--<a href="#/teaching/testcentres/organizepaper">-->
						<!--<i class="nav-icon nav-test"></i>-->
						<!--<div class="titleNav-box">-->
							<!--<span>考试管理</span>-->
						<!--</div>-->
					<!--</a>-->
				<!--</li>-->
			<!--</ul>-->
		</div>
		<div class="teaching-tab-content" id="teachingHtml"></div>
	</div>
</div>