<div class="table">
	<ul class="table-tr">
		<li class="table-th paperName">
			<h1>考试名称</h1>
		</li>
		<li class="table-th difficulty">
			<h1>难度</h1>
		</li>
		<li class="table-th courseName">
			<h1>关联课程</h1>
		</li>
		<li class="table-th hots">
			<h1>热度（次）</h1>
		</li>
		<li class="table-th createTime">
			<h1>创建时间</h1>
		</li>
		<li class="table-th operation">
			<h1>操作</h1>
		</li>
	</ul>
	{{if TestPaperDB.resultObject.items != ''}}
		{{each TestPager as TestPager i}}
		<ul class="table-tr">
			<!--试卷名称-->
			<li class="table-td paperName" title="{{TestPager.paperName}}">
				{{TestPager.paperName}}
			</li>
			<!--end试题名称-->
			<!--难度-->
			<li class="table-td difficulty">
				<div class="facility-value" style="margin-top: 23px; margin-left: 0px;">
					<ul>
						{{if TestPager.difficulty == 'A'}}
						<li class="value-active"></li>
						<li class="value"></li>
						<li class="value"></li>
						<li class="value"></li>
						{{else if TestPager.difficulty == 'B'}}
						<li class="value-active"></li>
						<li class="value-active"></li>
						<li class="value"></li>
						<li class="value"></li>
						{{else if TestPager.difficulty == 'C'}}
						<li class="value-active"></li>
						<li class="value-active"></li>
						<li class="value-active"></li>
						<li class="value"></li>
						{{else if TestPager.difficulty == 'D'}}
						<li class="value-active"></li>
						<li class="value-active"></li>
						<li class="value-active"></li>
						<li class="value-active"></li>
						{{/if}}
					</ul>
				</div>
			</li>
			<!--end难度-->
			<!--关联课程-->
			<li class="table-td courseName"  title="{{TestPager.courseName}}">
				{{TestPager.courseName}}
			</li>
			<!--end关联课程-->
			<!--热度（次）-->
			<li class="table-td hots">
				{{TestPager.hots}}
			</li>
			<!--end热度（次）-->
			<!--创建时间-->
			<li class="table-td createTime">
				{{TestPager.createTime}}
			</li>
			<!--end创建时间-->
			<!--操作-->
			<li class="table-td operation">
				<div class="operation-icon">
					<a href="#/teaching/testcentres/preview/toview/{{TestPager.id}}" target="_blank" title="查看">
						<i class="icon-pic icon-view"></i>
					</a>
					<a href="#/teaching/testcentres/editpaper/edit/{{TestPager.id}}" title="编辑">
						<i class="icon-pic-pen icon-pen"></i>
					</a>
					<a href="bxg/downloadDoc/downloadExampaper?exampaperId={{TestPager.id}}" title="下载">
						<i class="icon-pic-down icon-down"></i>
					</a>
					<a href="javascript:void(0);" class="J-delete" data-id="{{TestPager.id}}" title="删除">
						<i class="fa fa-trash-o" aria-hidden="true"></i>
					</a>
				</div>
			</li>
			<!--end操作-->
		</ul>
		{{/each}}
	{{else}}
	<!--空文件-->
	<div class="contnet-dummy">
		<div class="dummy-file"></div>
	</div>
	<!--end空文件-->
	{{/if}}
</div>