<div class="popup-login">
	<img class="popup-login-logo" src="./app/assets/images/login/login1-ljhz.png" />
	<div class="popup-login-prompt">可用博学谷账号直接登录</div>
	<a href="#/signin" class="layui-layer-close popup-login-reg">注册
		<img src="./app/assets/images/login/login-t.png" alt="">
	</a>
	<form id="LoginForm">
		<input class="username" type="text" name="username" id="username" placeholder="请输入手机号或邮箱" />
		<p name="isname" style="display: none;"></p>
		<input class="password" type="password" name="password" id="password" placeholder="请输入密码" />
		<div id="output"></div>
		<button class="layui-btn popup-login-btn J-popup-login-btn" type="submit">登&nbsp;&nbsp;录</button>
	</form>
	<a href="#/password" class="layui-layer-close forget-password">忘记密码?</a>
</div>