
<div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
    <ul class="layui-tab-title">
        <li class="layui-this">我的提问</li>
    </ul>
    <div class="layui-tab-content">
        <div class="my_open">
            <div>
                <div>已解决</div>
                <p><img src="./app/assets/images/4564.png" alt=""></p>
            </div>
            <ul style="height: 69px">
                <li data-tpye="2">已解决</li>
                <li data-tpye="1">未解决</li>
            </ul>
            <!--<select>-->
            <!--<option>全部</option>-->
            <!--<option>已读</option>-->
            <!--<option>未读</option>-->
            <!--</select>-->
        </div>
        <div class="myquestion_content">

        </div>
        <div>
            <div id="page"></div>
        </div>
    </div>
</div>