<div class="tbo">
	<div class="tbohu">
		<div class="tangbohu">
			<div class="tangbohu-box">
				<div class="tangbohu-bg">
					<div class="tangbohu-bg-body">


						<div class="contnet">
							<div class="window1">
								<div class="window1-pic"></div>
								<div class="window1-text">
									<div class="title">
										<div class="logo">
											<div class="window1-icon"></div>
											<h3 class="window1-title">堂播虎</h3>
										</div>
										<span>完美辅助教学流程</span>
									</div>
									<div class="window1-btn">
										<button class="download-btn"  onclick="javascript: location.href = 'http://storge.boxuegu.com/bxg/tbh/client/tbh_501.zip';">Windows立即下载</button>
										<button class="service-btn"  onclick="javascript:  window.open('http://wpa.qq.com/msgrd?v=3&uin=3244670276&site=qq&menu=yes');">联系客服</button>
									</div>
								</div>
							</div>

							<div class="window2">
								<div class="window2-text">
									<div class="title">
										<h1>内容丰富</h1>
										<span>自带现成课件，还有技术专家讲课视频</span>
									</div>
									<ul class="nav-icon">
										<li class="nav-icon1"></li>
										<li class="nav-icon2"></li>
										<li class="nav-icon3"></li>
									</ul>
								</div>
								<div class="window2-pic"></div>
							</div>


							<div class="window3">
								<div class="window3-pic">
									<div class="window3-pic-left"></div>
									<div class="window3-pic-right"></div>
								</div>
								<div class="window3-text">
									<div class="title">
										<h1>轻松上课</h1>
										<span>一个用课件串起来的资源库</span>
									</div>
									<ul class="nav-icon">
										<li class="nav-icon1"></li>
										<li class="nav-icon2"></li>
										<li class="nav-icon3"></li>
									</ul>
								</div>
							</div>


							<div class="window4">
								<div class="window4-text">
									<div class="title">
										<h1>离线播放</h1>
										<span>自带现成课件，还有技术专家讲课视频</span>
									</div>
									<ul class="nav-icon">
										<li class="nav-icon1"></li>
										<li class="nav-icon2"></li>
										<li class="nav-icon3"></li>
									</ul>
								</div>
								<div class="window4-pic">
									<div class="window4-box"></div>
									<div class="window4-glass"></div>
									<div class="window4-login"></div>
								</div>
							</div>


							<div class="window5">
								<div class="window5-pic"></div>
								<div class="window5-text">
									<div class="title">
										<h1>提升兴趣</h1>
										<span>让学生对课程内容充满兴趣</span>
									</div>
									<ul class="nav-icon">
										<li class="nav-icon1"></li>
										<li class="nav-icon2"></li>
										<li class="nav-icon3"></li>
									</ul>
								</div>
							</div>
						</div>



					</div>
				</div>

			</div>
		</div>
	</div>
</div>