<div class="change_phone">
    <form id="change_phone_form" method="post">
        <div class="layui-form-item">
            <label class="layui-form-label">输入手机</label>
            <div class="layui-input-block">
                <input type="text" id="change_phone" name="mobile"  placeholder="请输入手机" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <button class="layui-btn" type="submit" id="change_phone_btn">立即提交</button>
        </div>
    </form>
</div>