
<div class="change_password">
    <form id="change_password_form" method="post">
        <div class="layui-form-item">
            <label class="layui-form-label">输入旧密码</label>
            <div class="layui-input-block">
                <input type="hidden" name="loginName" id="change_password_jiu">
                <input type="text" name="oldPassword" placeholder="请输入旧密码" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">设置新密码</label>
            <div class="layui-input-block">
                <input type="text" name="newPassword" id="newPassword" placeholder="8个字符，字母，数字，特殊符号" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label" style="font-size: 13px">再次输入密码</label>
            <div class="layui-input-block">
                <input type="text" placeholder="请您再次输入密码" name="hhfd" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <button class="layui-btn" type="submit"  id="change_password_btn">立即提交</button>
        </div>
    </form>
</div>