<!--考试管理tab-->
<div class="testcentres testcentres-tab-box">
	<div class="testcentres-nav">
		<ul class="testcentres-tab-title">
			<li class="organizepaper">
				<a href="#/teaching/testcentres/organizepaper">组织试卷</a>
			</li>
			<li class="releasepapers">
				<a href="#/teaching/testcentres/releasepapers">发布试卷</a>
			</li>
			<li class="markexampapers">
				<a href="#/teaching/testcentres/markexampapers">批阅试卷</a>
			</li>
		</ul>
	</div>
	<div class="testcentres-tab-content" id="testcentresHtml"></div>

</div>
<!--/考试管理tab-->