<div class="readtest">
    <div class="readtest-box">

        <!--标题-->
        <div class="viewtest-top">
            <!--<h1>{{GeneratedPaper.resultObject.testName}}</h1>-->
            <!--<div class="studentInfo">-->
            <!--<span>{{GeneratedPaper.resultObject.studentName}}</span>-->
            <!--<span>耗时：{{GeneratedPaper.resultObject.timeConsuming}}</span>-->
            <!--<span>总分：{{GeneratedPaper.resultObject.studentTotalScore}}分</span>-->
            <!--</div>-->
            <!--<a href="javascript:history.back(-1);">-->
            <!--<i class="layui-icon">&#x1006;</i>-->
            <!--</a>-->
            <div>
                <div id="indicatorContainer">

                </div>
                <p>满分100
                </p>
            </div>
            <table>
                <tr>
                    <th>单选题</th><th>多选题</th><th>判断题</th><th>填空题</th><th>简答题</th>
                </tr>
                <tr>
                    <td>3</td><td>3</td><td>3</td><td>3</td><td>3</td>
                </tr>
                <tr>
                    <td>3</td><td>3</td><td>3</td><td>3</td><td>3</td>
                </tr>
            </table>
        </div>
        <!--end标题-->



        <div class="readtest-content">

            <div class="readtest-content-dv">
                <div class="readtest-content_header">
                    <span>单选题</span>
                    <div class="readtest-content_header_dv">
                        <span>满分 90</span>
                        <span>得分 60</span>
                        <span>正确题数 12</span>
                        <span>错误题数 8</span>
                    </div>
                </div>
                <div class="readtest-content-dv-v">
                    <p>1、 请写出jquery的ajax方法(至少三个) ( 4分)</p>
                    <p><span>学员答案：</span>get post getScript getJson</p>
                    <p>参考答案：$.ajax(),$.get(),$.post()</p>
                    <p>教师打分：<span>2</span>分</p>
                </div>
                <div class="readtest-content-dv-v">
                    <p>1、 请写出jquery的ajax方法(至少三个) ( 4分)</p>
                    <p><span>学员答案：</span>get post getScript getJson</p>
                    <p>参考答案：$.ajax(),$.get(),$.post()</p>
                    <p>教师打分：<span>2</span>分</p>
                </div>
                <div class="readtest-content-dv-v">
                    <p>1、 请写出jquery的ajax方法(至少三个) ( 4分)</p>
                    <p><span>学员答案：</span>get post getScript getJson</p>
                    <p>参考答案：$.ajax(),$.get(),$.post()</p>
                    <p>教师打分：<span>2</span>分</p>
                </div>
            </div>
            <div class="readtest-content-dv">
                <div class="readtest-content_header">
                    <span>单选题</span>
                    <div class="readtest-content_header_dv">
                        <span>满分 90</span>
                        <span>得分 60</span>
                        <span>正确题数 12</span>
                        <span>错误题数 8</span>
                    </div>
                </div>
                <div class="readtest-content-dv-v">
                    <p>1、 请写出jquery的ajax方法(至少三个) ( 4分)</p>
                    <p><span>学员答案：</span>get post getScript getJson</p>
                    <p>参考答案：$.ajax(),$.get(),$.post()</p>
                    <p>教师打分：<span>2</span>分</p>
                </div>
                <div class="readtest-content-dv-v">
                    <p>1、 请写出jquery的ajax方法(至少三个) ( 4分)</p>
                    <p><span>学员答案：</span>get post getScript getJson</p>
                    <p>参考答案：$.ajax(),$.get(),$.post()</p>
                    <p>教师打分：<span>2</span>分</p>
                </div>
                <div class="readtest-content-dv-v">
                    <p>1、 请写出jquery的ajax方法(至少三个) ( 4分)</p>
                    <p><span>学员答案：</span>get post getScript getJson</p>
                    <p>参考答案：$.ajax(),$.get(),$.post()</p>
                    <p>教师打分：<span>2</span>分</p>
                </div>
            </div> <div class="readtest-content-dv">
            <div class="readtest-content_header">
                <span>单选题</span>
                <div class="readtest-content_header_dv">
                    <span>满分 90</span>
                    <span>得分 60</span>
                    <span>正确题数 12</span>
                    <span>错误题数 8</span>
                </div>
            </div>
            <div class="readtest-content-dv-v">
                <p>1、 请写出jquery的ajax方法(至少三个) ( 4分)</p>
                <p><span>学员答案：</span>get post getScript getJson</p>
                <p>参考答案：$.ajax(),$.get(),$.post()</p>
                <p>教师打分：<span>2</span>分</p>
            </div>
            <div class="readtest-content-dv-v">
                <p>1、 请写出jquery的ajax方法(至少三个) ( 4分)</p>
                <p><span>学员答案：</span>get post getScript getJson</p>
                <p>参考答案：$.ajax(),$.get(),$.post()</p>
                <p>教师打分：<span>2</span>分</p>
            </div>
            <div class="readtest-content-dv-v">
                <p>1、 请写出jquery的ajax方法(至少三个) ( 4分)</p>
                <p><span>学员答案：</span>get post getScript getJson</p>
                <p>参考答案：$.ajax(),$.get(),$.post()</p>
                <p>教师打分：<span>2</span>分</p>
            </div>
        </div>
        </div>


        <!--题库导航-->
        <div id="sidebar">
            <div class="pagePaper-questions-nav">
                {{if daiXuan}}
                <div class="questions-nav-title">
                    <h3>单选题</h3>
                    <span>共{{GeneratedPaper.resultObject.daiXuan.totalScore}}分</span>
                </div>
                <ul>
                    {{each daiXuan as value i}}
                    <li>
                        <div class="box-nav">
                            <a href="javascript:$('#nav-daiXuan-{{i}}').HoverTreeScroll(1000);"
                               target="_self">{{i+1}}</a>
                        </div>
                    </li>
                    {{/each}}
                </ul>
                {{/if}}
                {{if duoXuan}}
                <div class="questions-nav-title">
                    <h3>多选题</h3>
                    <span>共{{GeneratedPaper.resultObject.duoXuan.totalScore}}分</span>
                </div>
                <ul>
                    {{each duoXuan as value i}}
                    <li>
                        <div class="box-nav">
                            <a href="javascript:$('#nav-duoXuan-{{i}}').HoverTreeScroll(1000);"
                               target="_self">{{i+1}}</a>
                        </div>
                    </li>
                    {{/each}}
                </ul>
                {{/if}}
                {{if panDuan}}
                <div class="questions-nav-title">
                    <h3>判断题</h3>
                    <span>共{{GeneratedPaper.resultObject.panDuan.totalScore}}分</span>
                </div>
                <ul>
                    {{each panDuan as value i}}
                    <li>
                        <div class="box-nav">
                            <a href="javascript:$('#nav-panDuan-{{i}}').HoverTreeScroll(1000);"
                               target="_self">{{i+1}}</a>
                        </div>
                    </li>
                    {{/each}}
                </ul>
                {{/if}}
                {{if tianKong}}
                <div class="questions-nav-title">
                    <h3>填空题</h3>
                    <span>共{{GeneratedPaper.resultObject.tianKong.totalScore}}分</span>
                </div>
                <ul>
                    {{each tianKong as value i}}
                    <li>
                        <div class="box-nav">
                            <a href="javascript:$('#nav-tianKong-{{i}}').HoverTreeScroll(1000);"
                               target="_self">{{i+1}}</a>
                        </div>
                    </li>
                    {{/each}}
                </ul>
                {{/if}}
                {{if jianDa}}
                <div class="questions-nav-title">
                    <h3>简答题</h3>
                    <span>共{{GeneratedPaper.resultObject.jianDa.totalScore}}分</span>
                </div>
                <ul>
                    {{each jianDa as value i}}
                    <li>
                        <div class="box-nav">
                            <a href="javascript:$('#nav-jianDa-{{i}}').HoverTreeScroll(1000);"
                               target="_self">{{i+1}}</a>
                        </div>
                    </li>
                    {{/each}}
                </ul>
                {{/if}}
            </div>
        </div>
        <!--//题库导航-->
    </div>
</div>