<div class="infoLists">

	<div class="infoList-box">
		<div class="course-del-nav">
			<div class="nav">
			<span class="layui-breadcrumb" lay-separator="|" style="visibility: visible;">
				 <a href="#/home">首页<span>&gt;</span></a>
				 <a href="javascript:void (0)">资讯中心<span>&gt;</span></a>
				 <a id="course-del-name"><cite>资讯列表</cite></a>
			</span>
			</div>
		</div>
	</div>

	<div class="infoLists-contnet">
		<ul>
		</ul>
		<div id="indicatorContainer">
			<p class="indicatorContainer_p">最热资讯</p>
			<div class="indicatorContainer_dv">
				<div>
					<img src="" alt="">
					<p><span>▶</span><span>优单车完成1.5亿A轮融资，摩拜、ofo已具规模，后发者还有机会吗？</span></p>
				</div>
			</div>
		</div>
		<div class="infoLists_btn">
			<button class="layui-btn" id="infoLists_btn_g">点击查看更多</button>
		</div>

	</div>
</div>