<a href="javascript:window.location.href='#/home';history.go(0);" class="home_a"></a>
<div class="popup_login">
    <form class="popup_login_dv" method="post">
        <p class="popup_login_dv_h">重置密码</p>
        <input type="hidden" id="popup_login_dv_checkEmail">
        <!--<input type="hidden" id="popup_login_dv_checkEmail">-->
        <div class="popup_login_dv_ipt">
            <input type="text" name="loginName" placeholder="请输入手机号或邮箱" id="loginName">
        </div>

        <div class="popup_login_dv_ipt verification_ipt">
            <input type='text' class='verification' name='verification' id='verification_cu' placeholder='请输入验证码'>
            <span class='verification_intended layui-btn'>发送验证码</span><span class='verification_intended2' style="display:none;"></span>
        </div>

        <!--<div class="popup_login_dv_ipt">-->
            <!--<input type="password" name="oldPassword" id="oldPassword" placeholder="请输入旧密码" class="layui-input">-->
        <!--</div>-->

        <div class="popup_login_dv_ipt">
            <input type="password" name="newPassword" id="newPassword" placeholder="请输入新密码" class="layui-input">
        </div>

        <div class="popup_login_dv_ipt">
            <input type="password" placeholder="请您再次输入密码" name="hhfd" class="layui-input">
        </div>

        <!--<div class="popup_login_dv_ipt verification_ipt">-->
            <!--<input type="text" class="verification" name="verification" id="verification_cu" placeholder="请输入验证码">-->
            <!--<span class="verification_intended layui-btn">发送验证码</span><span class="verification_intended2" style="display:none; "></span>-->
        <!--</div>-->
        <div class="popup_login_dv_ipt">
            <button class="layui-btn next" type="submit">提交</button>
        </div>
        <div class="popup_login_dv_mm">
            <span>已有账号<a href="#/login">去登录？</a></span>
        </div>
    </form>
</div>