<div class="popup_login">
    <div class="popup_login_dv">
        <p class="popup_login_dv_h">重置密码</p>
        <div class="popup_login_dv_ipt">
            <input type="text" placeholder="请输入手机号或邮箱">
        </div>
        <div class="popup_login_dv_ipt">
            <input type="text" class="verification" placeholder="请输入验证码">
            <img src="" alt="">
        </div>
        <div class="popup_login_dv_ipt">
            <button class="layui-btn">发送验证邮件</button>
        </div>
        <div class="popup_login_dv_mm">
            <span>已有账号<a href="#/login">去登录？</a></span>
        </div>
    </div>
</div>