<div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
    <ul class="layui-tab-title">
        <li class="layui-this">我的消息</li>
    </ul>
    <div class="layui-tab-content">

        <div class="my_open">
            <div>
                <div>全部</div>
                <p><img src="./app/assets/images/4564.png" alt=""></p>
            </div>
            <ul>
                <li data-tpye="">全部</li>
                <li data-tpye="1">已读</li>
                <li data-tpye="0">未读</li>
            </ul>
            <!--<select>-->
                <!--<option>全部</option>-->
                <!--<option>已读</option>-->
                <!--<option>未读</option>-->
            <!--</select>-->
        </div>
        <div class="mynews_content">

        </div>

        <div class="mynews_checkbox">
            <input type="checkbox" id="mynews_checkbox">
            <span>全选</span>
            <a href="javascript:void (0)" id="myRead">标为已读</a>
            <a href="javascript:void (0)" id="myDelete">删除</a>
        </div>
        <div>
            <div id="page"></div>
        </div>
    </div>
</div>