<form id="Add_the_student_form">
    <div class="layui-form-item">
        <label class="layui-form-label"><img src="./app/assets/images/4564.gif" alt="">班级</label>
        <div class="layui-input-block">
            <input type="hidden" name="squad_id" id="squad_id">
            <input type="hidden" name="id" id="student_id">
            <input type="hidden" name="login_name" id="login_name">
            <select class="Add_the_student_select" name="squad_name" id="Add_the_student_select_id1">
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><img src="./app/assets/images/4564.gif" alt="">姓名</label>
        <div class="layui-input-block">
            <input type="text" name="name" placeholder="请输入姓名" class="layui-input" id="name">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><img src="./app/assets/images/4564.gif" alt="">学号</label>
        <div class="layui-input-block">
            <input type="text" name="studentNo" placeholder="请输入学号" id="studentNo"  class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><img src="./app/assets/images/4564.gif" alt="">手机号</label>
        <div class="layui-input-block">
            <input type="text" name="mobile" placeholder="请输入手机号" id="mobile"  class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><img src="./app/assets/images/4564.gif" alt="">邮箱</label>
        <div class="layui-input-block">
            <input type="text" name="email" placeholder="请输入邮箱" id="email"  class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">QQ</label>
        <div class="layui-input-block">
            <input type="number" name="qq" placeholder="请输入QQ" id="qq" maxlength="11" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">分组</label>
        <div class="layui-input-block">
            <select class="Add_the_student_select" name="group" id="Add_the_student_select_id2">

            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block" style="margin-left: 52px">
            <button class="layui-btn" type="submit">立即提交</button>
        </div>
    </div>

</form>