<form class="layui-form" id="Create_a_class_form">
    <div class="layui-form-item">
        <label class="layui-form-label"><img src="./app/assets/images/4564.gif" alt="">班级名称:</label>
        <div class="layui-input-block">
            <input type="hidden" name="id" id="Create_a_class_id">
            <input type="text" name="squad_name" placeholder="请输入班级名称"  class="layui-input" id="squad_name">
        </div>
        <div class="layui-input-block">
            创建成功后不可修改
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><img src="./app/assets/images/4564.gif" alt="">毕业时间:</label>
        <div class="layui-input-block">
            <input type="text" name="end_time" placeholder="请输入毕业时间" class="layui-input" id="start" />
        </div>
        <div class="layui-input-block">
            班级实际毕业时间，非课程结束时间
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><img src="./app/assets/images/4564.gif" alt="">所属院系:</label>
        <div class="layui-input-block">
            <div class="school-box">
                <input type="hidden" name="department_id" id="department_id">
                <input type="text" name="department_name" id="department_name" class="layui-input J-school1" />
                <ul class="school-selete school-selete school-selete1" id="Create_a_class_select1">

                </ul>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label"><img src="./app/assets/images/4564.gif" alt="">所属专业:</label>
        <div class="layui-input-block">
            <div class="school-box">
                <input type="hidden" name="subject_id" id="subject_id">
                <input type="text" name="subject" id="subject" class="layui-input J-school1" />
                <ul class="school-selete school-selete school-selete1" id="Create_a_class_select2">

                </ul>
            </div>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block" style="margin-left: 52px">
            <button class="layui-btn" type="submit">立即提交</button>
        </div>
    </div>
</form>