<div class="join_the_class">
    <div style="min-height: 551px">
        <table class="myClass_table">
            <tr class="banji">
                <td>班级名称</td>
                <td>班级人数</td>
                <td>毕业时间</td>
                <td>创建时间</td>
            </tr>
            <tbody class="join_the_class_table_val">

            </tbody>
        </table>
    </div>


    <div>
        <div id="page2"></div>
    </div>

    <div class="join_the_class_div">
        <button class="layui-btn join_the_class_last_step">上一步</button>
        <button class="layui-btn join_the_class_lest">确定加入</button>
    </div>
</div>