{{if success}}
<div style="display:block;height:235px;overflow-y: auto">
    <table class="set_course_table" style="">
        <thead>
        <tr>
            <td>课程名称</td>
            <td>合作时间</td>
            <td>逾期时间</td>
        </tr>
        </thead>
        <tbody class="set_course_table_val">


        {{each resultObject}}
        {{if $value.readOnly}}
            <tr>
                {{if $value.check_status}}
                <td class="set_course_table_val_td" title="{{$value.name}}"><input type="checkbox" checked  disabled/>{{$value.name}}</td>
                {{else}}
                <td class="set_course_table_val_td" title="{{$value.name}}"><input type="checkbox" disabled/>{{$value.name}}</td>
                {{/if}}
                <td>{{$value.begin_time}}</td>
                <td>{{$value.end_time}}</td>
            </tr>
        {{else}}
            <tr>
                {{if $value.check_status}}
                <td class="set_course_table_val_td" title="{{$value.name}}"><input type="checkbox" data-id="{{$value.id}}" checked />{{$value.name}}</td>
                {{else}}
                <td class="set_course_table_val_td" title="{{$value.name}}"><input type="checkbox" data-id="{{$value.id}}" />{{$value.name}}</td>
                {{/if}}
                <td>{{$value.begin_time}}</td>
                <td>{{$value.end_time}}</td>
            </tr>
        {{/if}}
        {{/each}}


        </tbody>
    </table>
</div>

<button class="layui-btn set_course_btn" style="margin-bottom: 20px">确定</button>
{{else}}
暂无数据
{{/if}}