<table border="1" class="set_course_table">
    <tr>
        <th>课程名称</th>
        <th>合作时间</th>
        <th>逾期时间</th>
    </tr>
    <tbody class="set_course_table_val">
        <tr>
            <td><input type="checkbox">1</td>
            <td>2</td>
            <td>3</td>
        </tr>
        <tr>
            <td><input type="checkbox">1</td>
            <td>2</td>
            <td>3</td>
        </tr>
        <tr>
            <td><input type="checkbox">1</td>
            <td>2</td>
            <td>3</td>
        </tr>
    </tbody>
</table>
<button class="layui-btn">立即提交</button>