{{if NotCarriedDB.success}}
	{{if NotCarriedDB.resultObject.items != ''}}
		<div class="table">
			<ul class="table-tr">
				<li class="table-th testClass">
					<h1>班级</h1>
				</li>
				<li class="table-th testPaper">
					<h1>名称</h1>
				</li>
				<li class="table-th testTime">
					<h1>结束时间</h1>
				</li>
				<li class="table-th grouping">
					<h1>分组</h1>
				</li>
				<li class="table-th operation">
					<h1>操作</h1>
				</li>
			</ul>

					{{each NotCarried as NotCarried i}}
					<ul class="table-tr">
						<!--考试班级-->
						<li class="table-td testClass" title="{{NotCarried.squadName}}">
							{{NotCarried.squadName}}
						</li>
						<!--end考试班级-->
						<!--试卷名称-->
						<li class="table-td testPaper" title="{{NotCarried.paperTplName}}">
							{{NotCarried.paperTplName}}
						</li>
						<!--end试卷名称-->
						<!--考试时间-->
						<li class="table-td testTime ">
							{{if NotCarried.remain}}
								还剩{{NotCarried.remain}}分钟结束考试
							{{else}}
								{{NotCarried.endTime}}
							{{/if}}
						</li>
						<!--end考试时间-->
						<!--分组-->
						<li class="table-td grouping">
							<span>{{NotCarried.groups}}</span>
						</li>
						<!--end分组-->
						<!--操作-->
						<li class="table-td operation">
							<div class="operation-icon">
								<div class="operation-icon">
									<!--状态(0:未开始考试，1：考试中，2:考试结束，待批阅。3：已批阅，待发布，4：已发布)-->
									{{if NotCarried.status == 0}}
										<a href="#/teaching/testcentres/createtest/edit/{{NotCarried.id}}" class="J-open-edit" title="编辑">
											<i class="rele-deit-pic rele-deit"></i>
										</a>
									{{/if}}
									{{if NotCarried.status != 1}}
										<a href="javascript:void(0);" class="J-tips-del" data-id="{{NotCarried.id}}" title="删除">
											<i class="fa fa-trash-o" aria-hidden="true"></i>
										</a>
									{{/if}}
										<a href="#/teaching/testcentres/studentspage/{{NotCarried.id}}/NotCarried" class="J-open-see" title="查看">
											<i class="icon-pic icon-view"></i>
										</a>
										<!--<a href="#/teaching/testcentres/viewtest/view/{{NotCarried.id}}" class="J-open-see" title="查看">-->
											<!--<i class="fa fa-search" aria-hidden="true"></i>-->
										<!--</a>-->
									{{if NotCarried.status == 0}}
										<a href="javascript:void(0);" class="J-open-start" data-id="{{NotCarried.id}}" title="立即开始">
											<i class="rele-start-pic rele-start"></i>
										</a>
									{{/if}}
								</div>
							</div>
						</li>
						<!--end操作-->
					</ul>
					{{/each}}

		</div>
	{{else}}
		<div class="contnet-dummy">
			<div class="dummy-file"></div>
		</div>
	{{/if}}
{{else}}
	{{NotCarriedDB.errorMessage}}
{{/if}}