

<form id="signupForm" class="teaccert-lessform-content">
	<div class="layui-form-item teaccert-form-item">
		<label class="layui-form-label"><img src="./app/assets/images/4564.gif" alt="">姓名：</label>
		<div class="layui-input-block teaccert-form-item-box">
			<input type="text" name="name" id="name" required  class="layui-input" />
		</div>
	</div>
	<div class="layui-form-item teaccert-form-item">
		<label class="layui-form-label"><img src="./app/assets/images/4564.gif" alt="">性别：</label>
		<div class="layui-input-block teaccert-form-item-box">
			<div class="radio-box">
				<input type="radio" name="sex" value="1" title="男" checked id="sex1">
				<label>男</label>
			</div>
			<div class="radio-box">
				<input type="radio" name="sex" value="0" title="女" id="sex0">
				<label>女</label>
			</div>
		</div>
	</div>
	<div class="layui-form-item teaccert-form-item">
		<label class="layui-form-label"><img src="./app/assets/images/4564.gif" alt="">所在学校：</label>
		<div class="layui-input-block teaccert-form-item-box">
			<div class="school-box">
				<input type="hidden" name="college_id" id="college_id">
				<input type="text" name="college_name" id="college_name" readonly  class="layui-input school J-school J-school1" />
				<div class="college_name_dv college_name_dv1">
					<input type="text" id="college_name2" class="layui-input" />
					<ul class="school-selete school-selete1" id="school-selete1">
						<li>四川大家1</li>
						<li>四川大家2</li>
						<li>四川大家3</li>
						<li>四川大家砝4</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<div class="layui-form-item teaccert-form-item">
		<label class="layui-form-label"><img src="./app/assets/images/4564.gif" alt="">所在院系：</label>
		<div class="layui-input-block teaccert-form-item-box">
			<div class="school-box">
				<input type="hidden" name="id" id="teacher_id">
				<input type="hidden" name="department_id" id="department_id">
				<input type="text" name="department_name" id="department_name" readonly  class="layui-input school J-school J-school2" />
				<div class="college_name_dv college_name_dv2">
					<input type="text" id="department_name2" class="layui-input" />
					<ul class="school-selete school-selete school-selete2">
						<li>四川大家1</li>
						<li>四川大家2</li>
						<li>四川大家3</li>
						<li>四川大家砝4</li>
					</ul>
				</div>

			</div>
		</div>
	</div>
	<div class="layui-form-item teaccert-form-item">
		<label class="layui-form-label"><img src="./app/assets/images/4564.gif" alt="">所教专业：</label>
		<div class="layui-input-block teaccert-form-item-box">
			<input type="text" name="subject" id="subject" readonly class="layui-input  school J-school J-school3" />
			<div class="college_name_dv college_name_dv3">
				<input type="text" id="subject2" class="layui-input" />
				<ul class="school-selete school-selete school-selete3">
					<li>四川大家1</li>
					<li>四川大家2</li>
					<li>四川大家3</li>
					<li>四川大家砝4</li>
				</ul>
			</div>
		</div>

	</div>
	<div class="layui-form-item teaccert-form-item">
		<label class="layui-form-label"><img src="./app/assets/images/4564.gif" alt="">职务：</label>
		<div class="layui-input-block teaccert-form-item-box">
			<input type="text" name="job_title" id="job_title" class="layui-input" />
		</div>
	</div>
	<div style="height: 225px;width: 100%"></div>

	<div class="layui-form-item teaccert-form-item">
		<div class="layui-input-block teaccert-form-btn">
			<input type="text" name="certification_img" id="UpLoadFile_hidden">
			<button class="layui-btn" id="teaccert-submit"  type="submit">立即提交</button>
		</div>
	</div>
</form>
<div style="position: relative">
	<div class="layui-form-item layui-form-text teaccert-form-item" style="position: absolute;width: 100%;top: -295px;left: 0;">
		<label class="layui-form-label" style="width: 100px"><img src="./app/assets/images/4564.gif" alt="">上传照片：</label>
		<div class="teaccert-form-item-box upload-box">
			<div class="site-demo-upload">
				<div class="site-demo-upbar">
					<form id="Myform" method="post" enctype="multipart/form-data">
						<input class="layui-upload-file" name="c" id="UpLoadFile" type="file" />
						<img id="LAY_demo_upload" src="./app/assets/images/user/success-teaccert-pic.png" style="height: 210px">
						<!--<p>上传教师资格证照片</p>-->
					</form>
				</div>
			</div>
			<p for="test" class="error">请上传图片哦</p>
			<div class="teaccert-form-item-box teaccert-form-item-box-right-cont">
				<h3>照片为传智认证专用照片，其他网站及个人无法查看</h3>
				<p>教师资格证上所有信息清晰可见，证件号清楚。照片免冠，手持证件人五官清晰可见。<br />
					格式：jpg，png<br />
					大小：小于500M</p>
			</div>
		</div>

	</div>
</div>

