

<div class="success-teaccert">
	<ul>
		<li>
			<span class="success-teaccert-name">＊姓名：</span>
			<span class="success-teaccert-cont" id="username">张小龙</span>
		</li>
		<li>
			<span class="success-teaccert-name">性别：</span>
			<span class="success-teaccert-cont" id="sex">男</span>
		</li>
		<li>
			<span class="success-teaccert-name">＊所在学校：</span>
			<span class="success-teaccert-cont" id="college_name">北京大学</span>
		</li>
		<li>
			<span class="success-teaccert-name">所在院系：</span>
			<span class="success-teaccert-cont" id="department_name">美术院系</span>
		</li>
		<li>
			<span class="success-teaccert-name">所教专业：</span>
			<span class="success-teaccert-cont" id="subject">工业设计</span>
		</li>
		<li>
			<span class="success-teaccert-name">职务：</span>
			<span class="success-teaccert-cont" id="job_title">教师</span>
		</li>
		<li>
			<span class="success-teaccert-name">＊上传照片：</span>
			<div class="success-teaccert-cont success-teaccert-pic">
				<div class="success-teaccert-icon"></div>
				<img src="./app/assets/images/user/success-teaccert-pic.png" onerror="this.src='./app/assets/images/user/success-teaccert-pic.png'" />
			</div>
			<div class="success-teaccert-pic-cont">
				<p>
					照片为传智认证专用照片，<br />
					其他网站及个人无法查看
				</p>
			</div>
		</li>
	</ul>
</div>