{{if item.success}}
	{{if item.resultObject.items != ''}}
		{{each item.resultObject.items}}
		<li>
			<a class="a-item" target="_blank" href="#/course/del/{{pagination}}/{{$value.id}}">
				<div class="course-item">
					<div class="course-pic">
						<img src="{{$value.photo}}" alt="{{$value.name}}" onerror="this.src='./app/assets/images/error-pic.png'" />
					</div>
					<h3 title="{{$value.name}}">{{$value.name}}</h3>
				</div>
			</a>
		</li>
		{{/each}}
	{{else}}
		<div class="course-list-nodata">暂无数据</div>
	{{/if}}

{{else}}
	<div class="course-list-nodata">暂无数据</div>
	<div class="error">{{item.errorMessage}}</div>
{{/if}}