<!--添加试卷-->
<div class="addtask">

	<div class="addtaskTitle">
		<h1 id="title-edit">添加练习</h1>
		<a href="#/teaching/taskmanage/organizetask" class="return">返回</a>
	</div>


	<div id="sliding-form">
		<ul id="status">
			<li class="state active">
				<i>
					<span>1</span>
				</i>
				<div class="title">设置练习</div>
			</li>
			<li class="border">
				<i>
					<span>2</span>
				</i>
				<div  class="title">设置题型</div>
			</li>
			<li class="end">
				<i>
					<span>3</span>
				</i>
				<div class="title">生成练习</div>
			</li>
		</ul>
		<div class="items">
			<div class="page page1">

				<form id="page1-form">
					<div class="pagePaper">
						<div class="fieldset-header">
							<h2>STEP1  练习信息</h2>
						</div>
						<ul class="addpaper-ul">
							<li class="addpaper-ul-li">
								<div class="layui-form-item addpaper-form-item">
									<label class="layui-form-label"><span class="important">*</span>练习名称</label>
									<div class="layui-input-block teaccert-form-item-box">
										<input type="text" name="papername" id="papername" maxlength="50" class="layui-input" value="{{findExamBasicDB.resultObject.homeworkTplName}}" />
									</div>
								</div>
							</li>

							<li class="error-li">
								<p for="papername" class="error" style="display: none;"></p>
								<p id="isNamePaper" class="error"></p>
							</li>

						</ul>
						<div class="fieldset-header">
							<h2>STEP2  设置知识点</h2>
						</div>
						<ul class="addpaper-ul no-border-bottom">
							<li class="addpaper-ul-li">
								<div class="layui-form-item addpaper-form-item">
									<label class="layui-form-label"><span class="important">*</span>课程名称</label>
									<div class="layui-input-block teaccert-form-item-box">
										{{if findTeacherCoursesDB.success}}
										<select name="paperselete" id="paperselete" class="layui-input paperselete">
											{{if findTeacherCoursesDB.resultObject != ''}}
											{{each findTeacherCoursesDB.resultObject as TeacherCourses i}}
											<option
													{{if TeacherCourses.id == findExamBasicDB.resultObject.courseId}} selected="selected" {{/if}}
											value="{{TeacherCourses.id}}">{{TeacherCourses.name}}</option>
											{{/each}}
											{{else}}
											<option>无数据</option>
											{{/if}}



										</select>
										{{else}}
										{{findTeacherCoursesDB.errorMessage}}
										{{/if}}
									</div>
								</div>
							</li>
							<li class="addpaper-ul-li">
								<div class="tree-checkbox">
									<div class="ztree" id="tree-combined"></div>
								</div>
							</li>
						</ul>
					</div>


					<div class="btn_nav">
						<button type="submit" class="next cont btn-page-next">下一步</button>
					</div>
				</form>

			</div>
			<div class="page page2">

				<form id="page2-form">
					<div class="pagePaper">
						<div class="fieldset-header">
							<h2>设置题型</h2>
						</div>
						<ul class="addpaper-ul">
							<!--单选题-->
							<li class="addpaper-ul-li">
								<ul class="addpaper-ul-ul">
									<li class="addpaper-ul-ul-li">
										<div class="addpaper2-form-item">
											<i class="addpaper2-form-icon"></i>
										</div>
									</li>
									<li class="addpaper-ul-ul-li">
										<div class="addpaper2-form-item">
											<label class="form-label">可用<span id="daiXuanUsable">0</span>道</label>
										</div>
									</li>
									<li class="addpaper-ul-ul-li">
										<div class="addpaper2-form-item">
											<label class="form-label-state">单选题</label>
											<input type="text" name="daiXuanQuestions" class="layui-input" id="daiXuanQuestions" maxlength="3" />
											<label class="form-label-end">题</label>
										</div>
									</li>
								</ul>
							</li>

							<li class="error-li">
								<p for="daiXuanQuestions" class="error" style="display: none;"></p>
								<p for="daiXuanPortion" class="error" style="display: none;"></p>
							</li>

							<!--多选题-->
							<li class="addpaper-ul-li">
								<ul class="addpaper-ul-ul">
									<li class="addpaper-ul-ul-li">
										<div class="addpaper2-form-item">
											<i class="addpaper2-form-icon"></i>
										</div>
									</li>
									<li class="addpaper-ul-ul-li">
										<div class="addpaper2-form-item">
											<label class="form-label">可用<span id="duoXuanUsable">0</span>道</label>
										</div>
									</li>
									<li class="addpaper-ul-ul-li">
										<div class="addpaper2-form-item">
											<label class="form-label-state">多选题</label>
											<input type="text" name="duoXuanQuestions" class="layui-input" id="duoXuanQuestions" maxlength="3" />
											<label class="form-label-end">题</label>
										</div>
									</li>
								</ul>
							</li>

							<li class="error-li">
								<p for="duoXuanQuestions" class="error" style="display: none;"></p>
								<p for="duoXuanPortion" class="error" style="display: none;"></p>
							</li>

							<!--判断题-->
							<li class="addpaper-ul-li">
								<ul class="addpaper-ul-ul">
									<li class="addpaper-ul-ul-li">
										<div class="addpaper2-form-item">
											<i class="addpaper2-form-icon"></i>
										</div>
									</li>
									<li class="addpaper-ul-ul-li">
										<div class="addpaper2-form-item">
											<label class="form-label">可用<span id="panDuanUsable">0</span>道</label>
										</div>
									</li>
									<li class="addpaper-ul-ul-li">
										<div class="addpaper2-form-item">
											<label class="form-label-state">判断题</label>
											<input type="text" name="panDuanQuestions" class="layui-input" id="panDuanQuestions" maxlength="3" />
											<label class="form-label-end">题</label>
										</div>
									</li>
								</ul>
							</li>

							<li class="error-li">
								<p for="panDuanQuestions" class="error" style="display: none;"></p>
								<p for="panDuanPortion" class="error" style="display: none;"></p>
							</li>


						</ul>
						<div class="addpager2-foot">
							<span id="totalQuestions">总计0题</span>
						</div>
					</div>

					<!--判断是否是修改还是新增-->
					<input type="hidden" value="add" id="isType" />
					<!--判断是否是修改还是新增-->

					<div class="btn_nav">
						<button type="button" class="prev left btn-page-next" onclick="$('#isType').val('update'); $('.addtask').height('1035px'); $('#daiXuanQuestions,#duoXuanQuestions,#panDuanQuestions').val(''); $('.return').show();">上一步</button>
						<button type="submit" onclick="$('#page2-form').submit();" class="next right btn-page-next">生成练习</button>
					</div>
				</form>
			</div>
			<div class="page page3">

				<div class="page3-box" id="page3">

				</div>

				<div class="end-btn-box"></div>
				<div class="page3-btn-box">
					<div class="btn_nav">
						<input type="hidden" id="homeworkTplId" />
						<button type="button" class="prev left btn-page-next" onclick="$('.addtask').height('600px'); ">上一步</button>
						<input type="button" class="next right btn-page-sub" id="sub" onclick="javascript:location.href = '#/teaching/taskmanage/organizetask';" value="确定" />
					</div>
				</div>

			</div>
		</div>
	</div>

</div>
<!--end添加试卷-->