<!--添加试卷-->
<div class="addpaper">

	<div class="addpaperTitle">
		<h1>添加试卷</h1>
		<a href="#/teaching/testcentres/organizepaper" class="return">返回</a>
	</div>


	<div id="sliding-form">
		<ul id="status">
			<li class="state active">
				<i>
					<span>1</span>
				</i>
				<div class="title">设置试卷</div>
			</li>
			<li class="border">
				<i>
					<span>2</span>
				</i>
				<div  class="title">设置题型</div>
			</li>
			<li class="end">
				<i>
					<span>3</span>
				</i>
				<div class="title">生成试卷</div>
			</li>
		</ul>
		<div class="items">
			<div class="page page1">

				<form id="page1-form">
					<div class="pagePaper">
						<div class="fieldset-header">
							<h2>STEP1  作业信息</h2>
						</div>
						<ul class="addpaper-ul">
							<li class="addpaper-ul-li">
								<div class="layui-form-item addpaper-form-item">
									<label class="layui-form-label">作业名称</label>
									<div class="layui-input-block teaccert-form-item-box">
										<input type="text" name="papername" id="papername" class="layui-input" value="{{findExamBasicDB.resultObject.exampaperName}}" />
									</div>
								</div>
							</li>

							<li class="error-li">
								<p for="papername" class="error" style="display: none;"></p>
							</li>

						</ul>
						<div class="fieldset-header">
							<h2>STEP2  设置知识点</h2>
						</div>
						<ul class="addpaper-ul no-border-bottom">
							<li class="addpaper-ul-li">
								<div class="layui-form-item addpaper-form-item">
									<label class="layui-form-label">试卷名称</label>
									<div class="layui-input-block teaccert-form-item-box">
										{{if findTeacherCoursesDB.success}}
										<select name="paperselete" id="paperselete" class="layui-input paperselete">
											{{if findTeacherCoursesDB.resultObject != ''}}
											{{each findTeacherCoursesDB.resultObject as TeacherCourses i}}
											<option
													{{if TeacherCourses.id == findExamBasicDB.resultObject.courseId}} selected="selected" {{/if}}
											value="{{TeacherCourses.id}}">{{TeacherCourses.name}}</option>
											{{/each}}
											{{else}}
											<option>无数据</option>
											{{/if}}



										</select>
										{{else}}
										{{findTeacherCoursesDB.errorMessage}}
										{{/if}}
									</div>
								</div>
							</li>
							<li class="addpaper-ul-li">
								<div class="tree-checkbox">
									<div class="ztree" id="tree-combined"></div>
								</div>
							</li>
						</ul>
					</div>


					<div class="btn_nav">
						<button type="submit" class="next cont btn-page-next">下一步</button>
					</div>
				</form>

			</div>
			<div class="page page2">

				<form id="page2-form">
					<div class="pagePaper">
						<div class="fieldset-header">
							<h2>STEP1  试卷信息</h2><span  id="residualtalScore">剩余0分未分配</span>
						</div>
						<ul class="addpaper-ul">
							<!--单选题-->
							<li class="addpaper-ul-li">
								<ul class="addpaper-ul-ul">
									<li class="addpaper-ul-ul-li">
										<div class="addpaper2-form-item">
											<i class="addpaper2-form-icon"></i>
										</div>
									</li>
									<li class="addpaper-ul-ul-li">
										<div class="addpaper2-form-item">
											<label class="form-label">可用<span id="daiXuanUsable">0</span>道</label>
										</div>
									</li>
									<li class="addpaper-ul-ul-li">
										<div class="addpaper2-form-item">
											<label class="form-label-state">单选题</label>
											<input type="text" name="daiXuanQuestions" class="layui-input" id="daiXuanQuestions" />
											<label class="form-label-end">题</label>
										</div>
									</li>
								</ul>
							</li>

							<li class="error-li">
								<p for="daiXuanQuestions" class="error" style="display: none;"></p>
								<p for="daiXuanPortion" class="error" style="display: none;"></p>
							</li>

							<!--多选题-->
							<li class="addpaper-ul-li">
								<ul class="addpaper-ul-ul">
									<li class="addpaper-ul-ul-li">
										<div class="addpaper2-form-item">
											<i class="addpaper2-form-icon"></i>
										</div>
									</li>
									<li class="addpaper-ul-ul-li">
										<div class="addpaper2-form-item">
											<label class="form-label">可用<span id="duoXuanUsable">0</span>道</label>
										</div>
									</li>
									<li class="addpaper-ul-ul-li">
										<div class="addpaper2-form-item">
											<label class="form-label-state">多选题</label>
											<input type="text" name="duoXuanQuestions" class="layui-input" id="duoXuanQuestions" />
											<label class="form-label-end">题</label>
										</div>
									</li>
								</ul>
							</li>

							<li class="error-li">
								<p for="duoXuanQuestions" class="error" style="display: none;"></p>
								<p for="duoXuanPortion" class="error" style="display: none;"></p>
							</li>

							<!--判断题-->
							<li class="addpaper-ul-li">
								<ul class="addpaper-ul-ul">
									<li class="addpaper-ul-ul-li">
										<div class="addpaper2-form-item">
											<i class="addpaper2-form-icon"></i>
										</div>
									</li>
									<li class="addpaper-ul-ul-li">
										<div class="addpaper2-form-item">
											<label class="form-label">可用<span id="panDuanUsable">0</span>道</label>
										</div>
									</li>
									<li class="addpaper-ul-ul-li">
										<div class="addpaper2-form-item">
											<label class="form-label-state">判断题</label>
											<input type="text" name="panDuanQuestions" class="layui-input" id="panDuanQuestions" />
											<label class="form-label-end">题</label>
										</div>
									</li>
								</ul>
							</li>

							<li class="error-li">
								<p for="panDuanQuestions" class="error" style="display: none;"></p>
								<p for="panDuanPortion" class="error" style="display: none;"></p>
							</li>

							<!--填空题-->
							<li class="addpaper-ul-li">
								<ul class="addpaper-ul-ul">
									<li class="addpaper-ul-ul-li">
										<div class="addpaper2-form-item">
											<i class="addpaper2-form-icon"></i>
										</div>
									</li>
									<li class="addpaper-ul-ul-li">
										<div class="addpaper2-form-item">
											<label class="form-label">可用<span id="tianKongUsable">0</span>道</label>
										</div>
									</li>
									<li class="addpaper-ul-ul-li">
										<div class="addpaper2-form-item">
											<label class="form-label-state">填空题</label>
											<input type="text" name="tianKongQuestions" class="layui-input" id="tianKongQuestions" />
											<label class="form-label-end">题</label>
										</div>
									</li>
								</ul>
							</li>

							<li class="error-li">
								<p for="tianKongQuestions" class="error" style="display: none;"></p>
								<p for="tianKongPortion" class="error" style="display: none;"></p>
							</li>

							<!--简答题-->
							<li class="addpaper-ul-li">
								<ul class="addpaper-ul-ul">
									<li class="addpaper-ul-ul-li">
										<div class="addpaper2-form-item">
											<i class="addpaper2-form-icon"></i>
										</div>
									</li>
									<li class="addpaper-ul-ul-li">
										<div class="addpaper2-form-item">
											<label class="form-label">可用<span id="jianDaUsable">25</span>道</label>
										</div>
									</li>
									<li class="addpaper-ul-ul-li">
										<div class="addpaper2-form-item">
											<label class="form-label-state">简答题</label>
											<input type="text" name="jianDaQuestions" class="layui-input" id="jianDaQuestions" />
											<label class="form-label-end">题</label>
										</div>
									</li>
								</ul>
							</li>

							<li class="error-li">
								<p for="jianDaQuestions" class="error" style="display: none;"></p>
								<p for="jianDaPortion" class="error" style="display: none;"></p>
							</li>

						</ul>
						<div class="addpager2-foot">
							<div class="left" id="totalQuestions">总计0题</div>
						</div>
					</div>

					<div class="btn_nav">
						<button type="button" class="prev left btn-page-next">上一步</button>
						<button type="submit" class="next right btn-page-next">生成试卷</button>
					</div>
				</form>
			</div>
			<div class="page page3">

				<div class="page3-box" id="page3">

				</div>

				<div class="btn_nav">
					<button type="button" class="prev left btn-page-next">上一步</button>
					<input type="button" class="next right btn-page-sub" id="sub" onclick="javascript:location.href = '#/teaching/testcentres/organizepaper';" value="确定" />
				</div>

			</div>
		</div>
	</div>

</div>
<!--end添加试卷-->