<div class="createtest">
	<div class="createtest-box">
		<div class="createtest-contnt">

			<div class="createtestTitle">
				<h1>创建考试</h1>
				<a href="#/teaching/testcentres/releasepapers" class="return">返回</a>
			</div>

			<form id="createtestForm">

				<div class="layui-form-item">
					<label class="layui-form-label"><span class="major">*</span>选择班级</label>
					<div class="layui-input-inline">
						<select name="squadId" id="squadId" class="layui-input">
							{{if Class.success}}
								{{if Class.resultObject != ''}}
								{{each Class.resultObject as Class i}}
								<option value="{{Class.id}}"{{if EditLoad.resultObject}} {{if Class.id == EditLoad.resultObject.squadId}}selected="selected" {{/if}} {{/if}}>{{Class.squad_name}}</option>
								{{/each}}
								{{else}}
								<option>无数据</option>
								{{/if}}
							{{else}}
								{{Class.errorMessage}}
							{{/if}}
						</select>
					</div>
				</div>

				<div class="layui-form-item">
					<label class="layui-form-label"><span class="major">*</span>选择课程</label>
					<div class="layui-input-inline" id="createTestCourses">

					</div>
				</div>

				<div class="layui-form-item item-testName">
					<label class="layui-form-label"><span class="major">*</span>设置试卷</label>
					<div class="width-test">
						<input type="hidden" name="paperTplId" id="paperTplId" {{if EditLoad.resultObject}} value="{{EditLoad.resultObject.paperTplId}}" {{/if}} />
						<span id="parentIframe">
							{{if pageType}}
								{{if EditLoad.resultObject}}
								<span class="testName">{{EditLoad.resultObject.paperTplName}}</span>
								{{/if}}
							{{/if}}
						</span>
						{{if EditLoad.resultObject}}
							<a href="javascript:void(0);" class="addtest-a J-add-testpaper">选择试卷</a>
						{{else}}
							<a href="javascript:void(0);" class="addtest-a J-add-testpaper">添加试卷</a>
						{{/if}}
					</div>
					<div class="layui-form-mid layui-word-aux">
						<p for="paperTplId" class="error" style="display: none;"></p>
					</div>
				</div>

				<div class="layui-form-item">
					<label class="layui-form-label"><span class="major">*</span>设置开始时间</label>
					<div class="layui-input-inline">
						<input type="text" name="startTime" id="startTime" class="layui-input Wdate" value="{{if EditLoad.resultObject}}{{EditLoad.resultObject.startTime}}{{/if}}" />
					</div>
				</div>

				<div class="layui-form-item">

					<div class="layui-input-block">
						<div class="send">
							<input type="radio" name="send" id="sendgroups" value=""{{if pageType != 'edit'}} checked="checked" {{/if}} {{if EditLoad.resultObject}} {{if EditLoad.resultObject.groups == ''}} checked="checked" {{/if}}{{/if}} />
							<label class="layui-form-label">发送给全班</label>
						</div>
						<div class="send">
							<input type="radio" name="send" value="grouping" {{if EditLoad.resultObject}} {{if EditLoad.resultObject.groups != ''}} checked="checked" {{/if}}{{/if}} />
							<label class="layui-form-label">分组发送</label>
						</div>
					</div>
					<!--分组-->
					<div id="PacketSend"></div>
					<p for="groups" class="error" style="display: none;"></p>
					<!--分组-->
				</div>

				<div class="layui-form-item">
					<div class="layui-input-block">
						<button type="submit" class="submit">立即提交</button>
						<button type="reset" class="primary">重置</button>
					</div>
				</div>

			</form>

		</div>
	</div>
</div>